.profileContentArea
  .profilePageHeader
    %h2.columnDescriptor
      %span{ :style=>'float:left' }
        = link_to 'Staff Accounts', '/staffs'
      \&nbsp;
      Add User


  .listings

    - if @scope

      .listingItem
        = @scope.class.to_s
        = @scope.name

      .listingItem
        %form{}
          Search for a Member by Name
          = text_field_with_auto_complete :user, :name, {:autocomplete => "off", :xonchange => "javascript:autofill_video_title(); return true;"}, |
            {:after_update_element => "function(element,value){"+ |
            "#{remote_function(:url=>{:action=>'staff_summary',:scope_select=>Permission.scope_selector_string(@scope)},:with=>"'id='+value.id.substring(12)")}" + |
            ";element.value = ''" + |
            "}" } |

          #staff_summary