.profileContentArea
  .profilePageHeader
    %h2.columnDescriptor
      %span{ :style=>'float:left' }
        = link_to 'Staff Accounts', '/staffs'
      %form{ }
        = render :partial => 'scope_selector'



  .listings

    - if @scope

      .listingItem
        = link_to 'New Staff Member', new_staff_path(:scope_select=>params[:scope_select]), { :class => 'genericButton', :style=>'float: left'}
        = link_to 'Add Rights to Member', add_staffs_path(:scope_select=>params[:scope_select]), { :class => 'genericButton', :style=>'float: left; margin-left: 8px'}
        .clearDiv

      = render :partial => 'staff_listing', :collection => @staffs

    -# else

      .listingItem
        %form{ }
          %select{ :name=>:scope_select, :onChange=>"this.form.submit();" }
            %option= '- Select Organization -'
            - @scopes.each() do |s|
              - op_name = "#{s.class.to_s}: #{s.name}"
              - op_value = "#{s.class.to_s.downcase} #{s.id}"
              %option{ :value=>op_value }= op_name

