.profileContentArea
  .profilePageHeader
    %h2.columnDescriptor
      %span
        Edit Staff Account
      = @staff.full_name

  - form_for @staff, :html => {:class => 'StaffForm'} do |f|
  
    .twoColumn

      .twoColumn.bothCols

        = error_messages_for :staff

      .mainCol1

        = render :partial => "form", :locals => { :f => f, :include_password => false }
        = render :partial => "form_coaching", :locals => { :f => f }

      .mainCol2

        = render :partial => "form_permissions", :locals => { :f => f }
        = render :partial => "form_gamex", :locals => { :f => f }



        = f.submit "Create"


