
%br
%p
%div
  %b Name
  %br/
  = f.text_field :name

%br
%p
%b Frame
%table
  %tr
    %td.field-block
      %div
        %b Width
        %br/
        = f.text_field :frame_width, :size=>5

    %td.field-block
      %div
        %b Height
        %br/
        = f.text_field :frame_height, :size=>5

%br
%p
%b Player
%table
  %tr
    %td.field-block
      %div
        %b Width
        %br/
        = f.text_field :width, :size=>5
  
    %td.field-block
      %div
        %b Height
        %br/
        = f.text_field :height, :size=>5

%br
%p
%b Thumbnails
%table
  %tr
    %td.field-block
      %div
        %b Width
        %br/
        = f.text_field :thumb_width, :size=>5

    %td.field-block
      %div
        %b Height
        %br/
        = f.text_field :thumb_height, :size=>5

    %td.field-block
      %div
        %b Count
        %br/
        = f.text_field :thumb_count, :size=>4

    %td.field-block
      %div
        %b Length
        %br/
        = f.text_field :thumb_span, :size=>4

    %td.field-block
      %div
        %b Position
        %br/
        = f.select( :layout, Channel.layout_map)


%br




