.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        Edit Channel
      = @channel.name
  .listings
    .listingItem
    
      %table
        %tr
          %td{ :valign=>'top' }
    
            %h1 Editing Channel
      
            = error_messages_for :channel
      
            - form_for(@channel, :url => channel_url(@channel), :html => {:multipart => true}) do |f|
              = render :partial => "form", :locals => { :f => f }
              %p= f.submit "Update"
          
            -#= link_to 'Show', channel_path(@channel) |
            = link_to 'All Channels', channels_path
      
      
          %td{ :width=>'100px' }
          %td{ :valign=>'top' }
          
          
            %p
            %br
            %br
              - url = channel_path(@channel)
              %p
                = link_to 'Test', '', :onclick=>"javascript:window.open('#{url}','_blank','width=#{@channel.frame_width||101},height=#{@channel.frame_height||101},toolbar=1,resizable=0');return false;", :class=>'genericButton'
              %br
              %form
                Embed video player with the following URL:
                %textarea{ :onFocus=>'javascript:this.select()', :readonly=>true, :rows=>4, :cols=>47 } 
                  = h %Q~<iframe src="#{APP_URL}#{url}" width="#{@channel.frame_width||201}px" height="#{@channel.frame_height||201}px" scrolling=no></iframe>~
              %br
    
            .channel_videos
              - @channel.videos.each do |v|
                - video = v.video
                .channel_video{ :id=>"channel_video_#{v.id}" }
                  %table
                    %tr
                      %td{ :width=>'280px' }
                        = video.title
                        %br
                        &nbsp;
                        = video.dockey
                      %td
                        = link_to_remote 'Remove', {:url => {:controller=>:channels, :action=>:remove, :id => v.id}, :confirm => 'Are you sure?', :method => :delete}, :class=>'genericButton', :complete => evaluate_remote_response
                  %br
                
              
                
                
                