\<?xml version="1.0" encoding="UTF-8"?>
%vars
	%playerW= @channel.width
	%playerH= @channel.height
	%thumbW= @channel.thumb_width
	%thumbH= @channel.thumb_height
	%position= @channel.layout
	%numColumnsOrRows= @channel.thumb_count
	%dockeys= @dockeys  
	%homepageLink
	  = "#{APP_RUL}/#{team_path(@channel.team_id)}"

