  %p
    %b Name
    %br/
    = f.text_field :name , :tabindex => 1
  %p
    %b City
    %br/
    = f.text_field :city, :tabindex => 2
    
  %p
    %b County
    %br/
    = f.text_field :county_name, :tabindex => 3
    
  %p
    %b State
    %br/
    =collection_select("team","state_id",State.all,"id","name",{ :selected => @team.state_name } , { :tabindex => 4 })
    
  %p
    %b Description
    %br/
    = f.text_field :description , :size => 65, :tabindex => 5

  %p
    %b League
    %br/
    = text_field_with_auto_complete :team, :league_name, :autocomplete => "off", :tabindex => 6
    
  %p
    %b Active
    %br/
    = f.check_box :active

  %p
    %b Ad Zone (Be sure to coordinate with ad server zones)
    %br/
    = f.text_field :ad_zone
