%h1 Editing team

= error_messages_for :team

- form_for(@team) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= f.submit "Update"
 
    
= link_to 'Show', team_path(@team) | 
= link_to 'Back', teams_path

