%h1 Editing team

= error_messages_for :team

- form_for(@team) do |f|
  %p
    %b Name
    = f.text_field :name 
  %p
    %b Logo uri
    = f.text_field :logo_uri 
  %p
    %b City
    = f.text_field :city 
  %p
    %b State
    = f.text_field :state 
  %p
    %b Description
    = f.text_field :description 
  %p
    %b Active
    = f.check_box :active 
    
  %p= f.submit "Update"
  
= link_to 'Show', team_path(@team)
= link_to 'Back', teams_path

