.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        School Registry
      - if @league
        = " for #{@league.name}"
  .listings
    .padded

      - if @league
        = link_to 'New school', url_for({:controller=>'teams',:action=>'new',:league_id=>@league.id}), :class => 'genericButton'
      - else
        = link_to 'New school', url_for({:controller=>'teams',:action=>'new'}), :class => 'genericButton'

      %br/

      %table{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => '100%'}
        %thead
          %tr.yellowHeader
            %td.padded.contentBoxHeader Name
            %td.padded.contentBoxHeader Nickname
            %td.padded.contentBoxHeader City
            %td.padded.contentBoxHeader County
            %td.padded.contentBoxHeader State
            %td.padded.contentBoxHeader League
            %td.padded.contentBoxHeader Admin
            %td.padded.contentBoxHeader Videos
            %td.padded.contentBoxHeader Logo
            %td.padded.contentBoxHeader.numeric Users
            %td.padded.contentBoxHeader/ 
    
        %tbody
          - for team in @teams
            %tr.leagueList
              %td.leagueList= link_to team.name, edit_team_path(team), {:title => "edit"}
              %td.leagueList=h team.nickname
              %td.leagueList=h team.city
              %td.leagueList=h team.county_name
              %td.leagueList=h team.state_id? ? team.state.name : ""
              %td.leagueList= link_to team.league_name, team_path(team)
              %td.leagueList
                - admin = team.admin_user
                - if admin
                  = link_to admin.full_name, user_path(admin)
                  
              %td.leagueList
                - count = team.video_assets.size
                - if count > 0
                  = link_to(count, "/search/quickfind?team=#{team.id}")
                  
              %td.leagueList= (team.avatar_id ? 'Y' : 'N')
                  
              %td.leagueList.numeric
                - count = team.users.enabled.size
                - if count > 0
                  = link_to(count, "/search/q?search[category]=10&team_id=#{team.id}",:class=>'member-link')

              - if team.id != User.admin.first.team_id
                %td.leagueList= link_to 'Delete', team_path(team), :confirm => 'Are you sure?', :method => :delete
              - else
                %td.leagueList &nbsp;
              

        