- load_features(@team)
- avht = @team.avatar ? @team.avatar.height : 100
- top_row_height_px = @team_popular_videos.size >= 3 ? 255 : 130
- second_row_height_px = [@team_clips_reels.size,@team_videos.size].max >= 3 ? 255 : 130

.landingContentArea
  /
    col1 content
  .mainCol1
    .contentBox.orgSummary
      .contentBoxHeader
        - if current_user && current_user.team_admin?(@team)
          = link_to 'Edit', edit_team_path(@team), :class=>"edit-#{avht}"
        %h2
          =h @team.name
      .contentBoxContent{:style => "height: #{top_row_height_px}px"}
        %div{ :class=>"desc-#{avht}" }
          %p
            - if @team.address1 && @team.address1.length > 0
              = h @team.address1
              %br/
            - if @team.address2 && @team.address2.length > 0
              = h @team.address2
              %br/
            - if @team.city || @team.state_id
              = h [@team.city,(@team.state_id ? @team.state.name : nil),@team.zip].compact.join(' ')
          %p
            =h @team.phone
            %br
            =h @team.email
          - if current_user
            %p
              = link_to "View #{@team.nickname} Members", "/search/q?search[category]=10&team_id=#{@team.id}", :class=>'member-link'

        - if current_user && @team.avatar
          %a{ :href=>team_path(@team), :class=>"logo-#{avht}" }
            %img{ :src=>@team.avatar.public_filename, :title=>@team.team_name, :alt=>@team.team_name }
        - if !current_user && @team.avatar 
          %span{:class=>"logo-#{avht}" }
            %img{ :src=>@team.avatar.public_filename, :title=>@team.team_name, :alt=>@team.team_name }
        
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          RECENT CLIPS & HIGHLIGHTS
      .contentBoxContent{:style => "height: #{second_row_height_px}px"}
        =render :partial => 'video_assets/video_feature', :collection => @team_clips_reels, :locals => {:nolinks => current_user.nil? }

  /
    col2 content
  .mainCol2
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          MOST POPULAR VIDEOS
      .contentBoxContent{:style => "height: #{top_row_height_px}px"}
        =render :partial => 'video_assets/video_feature', :collection => @team_popular_videos, :locals => {:nolinks => current_user.nil? }

        - if @team_popular_videos.size >= 10
          - if current_user
            = link_to "More Videos...", url_for(:controller => 'search', :action => 'team_video_assets', :team_id => @team.id)
          - else
            = "More Videos available to members!"

    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          RECENT FULL GAME UPLOADS 
      .contentBoxContent{:style => "height: #{second_row_height_px}px"}
        =render :partial => 'video_assets/video_feature', :collection => @team_videos, :locals => {:nolinks => current_user.nil? }
        - if @team_videos.size >= 10
          - if current_user
            = link_to "More Videos...", url_for(:controller => 'search', :action => 'team_video_assets', :team_id => @team.id)
          - else
            = "More Videos available to members!"

      
          
  /
    col3 content
  .mainCol3  
    .rightContentItem
      - if current_user && current_user.team_staff?(@team)
        %span.moreLink
          = link_to 'Post', new_user_post_path(current_user)
      %h2
        = @team.nickname
        News
    - team_posts().each() do |post|
      .rightContentItem
        %span
          = link_to post.title, user_post_path(post.user, post), :rel => 'bookmark', :class=>'articleLink'
        %br
        = truncate_words(post.post, 24, '...' )


                
                
                
