- load_features(@team)
- avatar_height = @team.avatar ? @team.avatar.height : 100
- top_row_height_px = @team_popular_videos.size >= 3 ? 255 : 130
- second_row_height_px = [@team_clips_reels.size,@team_videos.size].max >= 3 ? 255 : 130

.landingContentArea

    
  .orgHome
    %table
      %tr
        %td.orgSummary
          - memlink = (current_user && @team.users.size > 0) ? link_to("View #{@team.nickname} Members (#{@team.users.size})", "/search/q?search[category]=10&team_id=#{@team.id}",:class=>'member-link') : '' 
          - case avatar_height
          - when 60
            = render :partial=>'logo', :locals=>{:avatar_height=>avatar_height}
            = render :partial=>'contact_info', :locals=>{:avatar_height=>avatar_height}
            %br
            = memlink
          - when 100
            %table
              %tr
                %td
                  = render :partial=>'logo', :locals=>{:avatar_height=>avatar_height}
                %td
                  = render :partial=>'contact_info', :locals=>{:avatar_height=>avatar_height}
                  %br
                  = memlink
    
        %td.orgText
      
          %p
            %b All Athletes, All Sports
          %br
          %p
            Global Sports has partnered with schools and private athletic clubs around the country to make game videos available on our site. We make it possible for schools to all their sporting events without any difficulties.


  /
    col1 content
  .mainCol1
    = javascript_include_tag 'tabs'
    
    .orgTabs
      #tab1.orgTab.open
        .left
        .content
          %a{ :href=>'javascript:Tabs.open(1)' }
            School News
        .right
      - unless @hide_recent_uploads
        #tab2.orgTab
          .left
          .content
            %a{ :href=>'javascript:Tabs.open(2)' }
              Recent Uploads
          .right    
      - if (false && @team_photo_picks && !@team_photo_picks.empty?)
        #tab3.orgTab
          .left
          .content
            %a{ :href=>'javascript:Tabs.open(3)' }
              Clips / Reels
          .right
      .clearDiv
    -#      School News
    #tabBody1.contentBox.tanBackground.tabBody.open
      .contentBoxHeader.flatblue
        %h2.boxDescription
          - if current_user && current_user.team_staff?(@team)
            %span.moreLink
              = link_to 'Post News Item', new_user_post_path(current_user)

      .contentBoxContent
      

        -# posts = team_posts( (@team.active ? @team : Team.find(1)) )
        - posts = team_posts( @team )
        - posts ||= team_posts( Team.find(1) )
        - posts.each() do |post|
          .featureSummary
            %span
              = link_to post.title, user_post_path(post.user, post), :rel => 'bookmark', :class=>'articleLink'
              = "| posted #{post.created_at.strftime('%m.%d.%y')}"
              
              
            %br
            = truncate_words(post.post, 24, '...' )
            - if (current_user && (current_user.admin? || current_user.id == post.user_id))
              %span.moreLink
                =link_to "edit", edit_user_post_path(post.user, post)
                |
                =link_to "delete", user_post_path(post.user, post), {:method => :delete, :confirm => 'Permanently delete this post?'}
            .clearDiv
            
    - unless @hide_recent_uploads

      -#      Recent Uploads
      #tabBody2.contentBox.tanBackground.tabBody{ :style=>'display: none' }
        .contentBoxHeader.flatblue
          %h2.boxDescription
        .contentBoxContent
          =render :partial => 'video_assets/video_feature', :collection => @team_videos, :locals => {:nolinks => current_user.nil? }
          - if @team_videos.size >= 10
            - if current_user
              = link_to "More Videos...", url_for(:controller => 'search', :action => 'team_video_assets', :team_id => @team.id)
            - else
              = "More Videos available to members!"
        
      -#      Clips / Reels
      - if false
        #tabBody3.contentBox.tanBackground.tabBody{ :style=>'display: none' }
          .contentBoxHeader.flatblue
            %h2.boxDescription
          .contentBoxContent
            =render :partial => 'video_assets/video_feature', :collection => @team_clips_reels, :locals => {:nolinks => current_user.nil? }

  /
    col2 content
  .mainCol2
    - team_has_videos = @team_video_picks && !@team_video_picks.empty?
    .contentBox.tanBackground.orgPlayer
      .contentBoxHeader.darkblue
        %h2.boxDescription
          = @player_title
          \- 
          = @team.name
        - if team_has_videos
          .moreLink
            =link_to 'See All Videos', {:controller => 'search', :action => 'team_video_assets', :team_id => @team.id}
          
      .contentBoxContent
        .flashArea#flashArea
        - if team_has_videos && @team_video_picks && @team_video_picks.length > 2
          - flashvars = {}
          - flashvars[:playerType]= ( @team.member? ? "SchoolPlayer" : "SchoolNotMemberPlayer" )
          - flashvars[:dockeys]= @team_video_picks
        
          = render :partial => 'shared/video_player', :locals => {:target => 'flashArea', :player_name => '/players/schoolhome.swf', :fvars => flashvars, :width=>'587px', :height=>'341px' }
        - else
          .box
            The team has no videos uploaded
    
    - if @team_photo_picks && !@team_photo_picks.empty?
      .contentBox.tanBackground.orgPhotos
        .contentBoxHeader.darkblue
          %h2.boxDescription
            Athlete Photo Gallery 
            = @team.name
        .contentBoxContent
          - @team_photo_picks.each do |photo|
            .orgPhoto
              .orgPhotoThumb
                = link_to image_tag( photo.public_filename(:thumb), :alt => photo.name, :title => photo.name), user_photo_path(photo.user, photo), :class => 'framed'
              .orgPhotoTitle
                = photo.name
 
    - elsif @team_clips_reels && !@team_clips_reels.empty?
    
      .contentBox.tanBackground.orgFeature
        .contentBoxHeader.darkblue
          %h2.boxDescription
            Clips / Reels - 
            = @team.name
        .contentBoxContent
          =render :partial => 'video_assets/video_feature', :collection => @team_clips_reels[0..1], :locals => {:nolinks => current_user.nil? }

