- load_features(@team)

.landingContentArea
  /
    col1 content
  .mainCol1
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          =h @team.name 
      .contentBoxContent
        .featureSummary
          %p
            %b City:
            =h @team.city 
          %p
            %b County:
            =h @team.county_name
          %p
            %b State:
            =h @team.state_id? ? @team.state.name : ""
          %p
            %b Description:
            =h @team.description 

  /
    col2 content
  .mainCol2
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          RECENT FULL GAME UPLOADS 
      .contentBoxContent
        .featureSummary
          -for video in team_videos()
            .featureSummaryThumb.favFIT
              %img{:src=>"#{@vidavee.file_thumbnail_medium(video.dockey)}", :title=>"#{h(video.title).gsub(/\'/,'')}", :alt=>'Video'}
            .featureText
              %h3
                = h video.title
              %span.sportName
                = h video.sport
              %br/
              %span.date
                = game_date(video.game_date)
              %br/
            .clearDiv

        More Videos available to members
          
  /
    col3 content
  .mainCol3  
    %h2.boxDescription
      Team News
    - team_posts().each() do |post|
      .rightContentItem
        %h2
          = post.title
        = truncate_words(post.post, 75, '...' )


                
                
                
