- load_features(@team)

.landingContentArea
  /
    col1 content
  .mainCol1
    .contentBox.orgSummary
      .contentBoxHeader
        - if current_user && current_user.team_admin?(@team)
          = link_to 'Edit', edit_team_path(@team)
        %h2
          =h @team.name
      .contentBoxContent
        %div{ :class=>"desc-#{@team.avatar.height}" }
          %p
            = "#{@team.city}, #{@team.county_name}, #{h @team.state_id? ? @team.state.name : ""}"
          %p
            =h @team.description 

        %a{ :href=>team_path(@team), :class=>"logo-#{@team.avatar.height}" }
          %img{ :src=>@team.avatar.public_filename, :title=>@team.team_name, :alt=>@team.team_name }
        
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          RECENT CLIPS & HIGHLIGHTS
      .contentBoxContent
        =render :partial => 'video_assets/video_feature', :collection => @team_clips_reels

        - if @video_assets.respond_to?('total_pages')
          .apple_pagination
            = will_paginate @video_assets
        - else
          = link_to "More Videos...", url_for(:controller => 'search', :action => 'team_video_assets', :team_id => @team.id)


  /
    col2 content
  .mainCol2
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          MOST POPULAR VIDEOS
      .contentBoxContent
        =render :partial => 'video_assets/video_feature', :collection => @team_popular_videos

        - if @video_assets.respond_to?('total_pages')
          .apple_pagination
            = will_paginate @video_assets
        - else
          = link_to "More Videos...", url_for(:controller => 'search', :action => 'team_video_assets', :team_id => @team.id)

    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          RECENT FULL GAME UPLOADS 
      .contentBoxContent
        =render :partial => 'video_assets/video_feature', :collection => @team_videos

        - if @video_assets.respond_to?('total_pages')
          .apple_pagination
            = will_paginate @video_assets
        - else
          = link_to "More Videos...", url_for(:controller => 'search', :action => 'team_video_assets', :team_id => @team.id)

      
          
  /
    col3 content
  .mainCol3  
    .rightContentItem
      = link_to "View #{@team.nickname} Members", "/search/q?search[category]=10&team_id=#{@team.id}", :class=>'member-link'
      .clearDiv
      %span.moreLink
        = link_to 'Post', new_user_post_path(current_user)
      %h2
        = @team.nickname
        News
    - team_posts().each() do |post|
      .rightContentItem
        %span
          = link_to post.title, user_post_path(post.user, post), :rel => 'bookmark', :class=>'articleLink'
        %br
        = truncate_words(post.post, 24, '...' )


                
                
                
