.listingItem{:id => "message_#{message.id}"}
  = link_to_remote 'Destroy', {:url => { :controller => 'messages', :action => 'destroy', :id => message}, :method => :delete} , :style => "float:right", :class => 'genericButton'
  .listingImage
    %a{:href=>"#{user_path(message.sender)}", :class=>"photo"}
      =image_tag(message.sender.avatar_photo_url(:thumb), :alt=>"", :width=>"50", :height=>"50")
  .listingDescription
    
    .msgHeader
      = "Date: "
      %span.msgField
        = message.created_at.to_s(:game_date)
    .msgHeader
      = "From: "
      %span.msgField
        =h message.user.full_name
    .msgHeader
      = "Subject: "
      %span.msgField
        = truncate(h(message.title),85)
    .msgBody
      = truncate_words (h(message.body),50)
      %br/
      = link_to "more?", message, :class => "morelink"
  .clearDiv
.clearDiv
