.mailItem{:id => "message_#{message.id}"}
  .mailSenderSelect
    %input{ :name => "mailSelct", :type => "checkbox", :value => message.id, :onchange => "selectThisMessage(this)" }/
  .mailPoster
    %span.mailPosterImg
      %a{:href=>"#{user_path(message.sender)}", :class=>"photo"}
        =image_tag(message.sender.avatar_photo_url(:thumb), :alt=>"Profile Picture", :width=>"80", :height=>"80")
    = link_to message.sender.full_name, user_path(message.sender)
  = render :partial => "message_body", :locals => {:message_body => message, :summary => true}
  .forumActions
    = link_to 'Reply', url_for({ :controller => 'messages', :action => 'new', :title => "Re: #{message.title}", :to => message.from_id}), :style => "float:right", :class => 'genericButton'
    %br
    %br
    = link_to_remote 'Delete', {:url => { :controller => 'messages', :action => 'destroy', :id => message}, :method => :delete} , :style => "float:right", :class => 'genericButton'
  .clearDiv
