- sent_message = message_body

-# todo: look up message?
- msg_unread |= false

- body = sent_message.body
- truncated = count_words(body) > 40

- if summary && (truncated || msg_unread)
  - rmt_function = remote_function(:url => url_for(sent_message), :method => :get) 
- elsif !summary
  - rmt_function = remote_function(:url => url_for(:controller => :messages, :action => :show, :id => sent_message, :summary => true), :method => :get) 

.mailPostBody{:id => "mail_item_#{sent_message.id}"}
  .mailPostSummaryBody{:class => (msg_unread ? "unread" : "read"), :onclick => (rmt_function ? rmt_function : "return true"), :style => (rmt_function ? "cursor:pointer" : "")}
    - if summary && truncated 
      = truncate_words body,40
    - else
      = body
        
  .mailReadMessage
    - if summary
      - if truncated
        = link_to_remote "read full message &raquo;", { :url => url_for(sent_message), :method => :get }
      - elsif msg_unread
        = link_to_remote "mark as read", { :url => url_for(sent_message), :method => :get }
    - elsif truncated
      = link_to_remote "close full message &raquo;", { :url => url_for(:controller => :messages, :action => :show, :id => sent_message, :summary => true), :method => :get }
    
