.mailItem{:id => "message_#{message.id}"}
  .mailSenderSelect
    %input{ :name => "mailSelct", :type => "checkbox", :value => message.id, :onchange => "selectThisMessage(this)" }/
  .mailPoster
    %span.mailPosterImg
      %a{:href=>"#{user_path(message.sender)}", :class=>"photo"}
        =image_tag(message.sender.avatar_photo_url(:thumb), :alt=>"Profile Picture", :width=>"80", :height=>"80")
    %a{ :href => "#" }
      = link_to message.user.full_name, user_path(message.sender)
  .mailPostSummary
    .mailPostSummaryDate
      = message.created_at.to_s(:game_date)
    .mailPostSummaryBody
      %p
        %strong
          Subject: 
          = truncate(h(message.title),85)
        %br/
        = truncate_words message.body,260
    .mailReadMessage
      = link_to "read full message &raquo;", message, :class => "morelink"
  .forumActions
    = link_to 'Reply', {:url => { :controller => 'messages', :action => 'new'}}, :style => "float:right", :class => 'genericButton'
    %br
    %br
    = link_to_remote 'Delete', {:url => { :controller => 'messages', :action => 'destroy', :id => message}, :method => :delete} , :style => "float:right", :class => 'genericButton'
  .clearDiv