.hentry
  %h4.entry-title{:id=>"message_#{ message.id}"}
    = link_to h(truncate_words(message.title,15)) , message_path(message)

  .vcard.author
    %h5
      %a{:href=>"#{user_path(message.sender)}", :class=>"photo"}
        =image_tag(message.sender.avatar_photo_url(:thumb), :alt=>"", :width=>"50", :height=>"50")

    %ul
      %li.fn=link_to "#{message.sender.full_name}", user_path(message.sender)
      %li.update
        %abbr.published{:title=>"#{message.created_at}"}= message.sent_on_display("%B %d, %Y")

  .entry-content
    = truncate_words(message.body, 75, '...' )
    
    %h6=link_to 'Reply', new_message_path(:to => message.sender.id, :title => "Re: #{message.title}" )