
- readonly ||= false
- reply_action ||= 'none'
- if sent_message.from_id != current_user.id
  - message = Message.find(:first, :conditions => {:sent_message_id => sent_message.id, :to_id => current_user.id})
%div
  &nbsp;
  %br/
  &nbsp;
  
.mailDetailTop
  .mailDetail{:id => "message_#{sent_message.id}"}
    .mailPoster
      .mailPosterThumb
        %a{:href=>"#{user_path(sent_message.sender)}", :class=>"photo"}
          =image_tag(sent_message.sender.avatar_photo_url(:thumb), :alt=>"Profile Picture", :width=>"50", :height=>"50")
      .mailPosterName
        %br/
        = link_to sent_message.sender.full_name, user_path(sent_message.sender)
        - if sent_message.sender.team_name
          .mailPosterTeam
            = link_to sent_message.sender.team_name, team_path(sent_message.sender.team_id)
            
    .mailDetailContent
  
      .mailDetailActions
        - unless readonly
          - if message
            -if current_user.admin?
              = link_to image_tag('/images/listing_icons/17/delete.png', :mouseclick => '/images/listing_icons/17/delete_ro.png', :border=>0, :alt => 'Delete', :title => 'Delete'), {:controller => :sent_messages, :action => :admin_delete, :id => sent_message.id}, :confirm => 'Remove this message from all recipient mailboxes?', :class => 'listingButton'
            = render :partial => 'shared/inappropriate_listing', :locals => {:item => message, :img => '/images/listing_icons/17/inappropriate.png', :img_ro => '/images/listing_icons/17/inappropriate_ro.png'}
            - if reply_action == 'thread'
              -# show a local link to the bottom of the screen
              = link_to image_tag('/images/listing_icons/17/reply.png', :mouseclick => '/images/listing_icons/17/reply_ro.png', :border=>0, :alt => 'Reply', :title => 'Reply'), '#reply', :onclick => 'var r = document.getElementById(\'replybox\'); if (r) { r.focus(); } return true;', :class => 'listingButton'        
            -elsif reply_action == 'message'
              = link_to image_tag('/images/listing_icons/17/reply.png', :mouseclick => '/images/listing_icons/17/reply_ro.png', :border=>0, :alt => 'Reply', :title => 'Reply'), {:controller => :messages, :action => :new, :re => sent_message.id}, :class => 'listingButton'

      .mailDetailDate
        =human_date_time(sent_message.created_at)
  
      - if sent_message.is_thread_start()
        .mailDetailSubject
          =h(sent_message.message_thread.title)
  
        .mailDetailTo
          To:
          =h(sent_message.message_thread.recipient_display_array(current_user).join(', '))
      
      .clearDiv
  
      .mailDetailBody
        = render :partial => "message_body", :locals => {:message_body => sent_message, :msg_unread => message && message.unread?, :summary => true}
    .clearDiv
  .clearDiv
.mailDetailBottom
