.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        =link_to "MAILBOX", messages_path
      = @title || "My Inbox"

  %script
    function hMessageAction(action) {
    var f = document.forms['message_form'];
    if(action=='unread') {
    ="f.action='#{url_for(:controller => 'messages', :action => 'mark_unread_multi')}';"
    f.submit();
    } else if (action=='delete') {
    if(window.confirm('Are you sure you want to permanently delete these messages?')) {
    ="f.action='#{url_for(:controller => 'messages', :action => 'delete_multi')}';"
    f.submit();
    }
    }
    return false;
    }
    
  -form_for :message, :url => { :action => "new" }, :method => "post", :html => {:name => "message_form"} do |f| 
    .mailContent
      = render :partial => 'messages/tab_heading', :locals => {:page => 'inbox', :collection => @msgs}
        
      .mailContainer  
        .mailNew
          = render :partial => 'messages/message_listing', :collection => @msgs
  
          %div
            \&nbsp;
            %br/
            %br/
          .forumIEfix
            \&nbsp;
            
          .clearDiv
        .clearDiv
        .clearDiv

      = render :partial => 'messages/tab_footer', :locals => {:page => 'inbox', :collection => @msgs}
    .clearDiv