.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        MAILBOX
      New Message
        
  =render :partial => "users/profile_nav"

  .listings    
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          Friends
      .contentBoxContent
        = error_messages_for :message
      
        - form_for(@message ||= Message.new, :html => {:id => "EditProfile"}) do |f|
          %label
            To:
            %em (required, separate multiple names with commas)
            %br/
            %em (Start typing a few letters of the name of the friend you want to send to...)
            -if current_user.admin?
              %br/
              %em (you can enter the keyword 'all' to send to all users, it will take a while)
            - if current_user.team_staff?
              %br/
              %em= "(you can enter the keyword 'team' to send to all users associated with #{current_user.team.name})"
            - if current_user.league_staff?
              %br/
              %em= "(you can enter the keyword 'league' to send to all users associated with #{current_user.league.name})"
          %p
            = text_field_with_auto_complete :message, :to_name, {:autocomplete => 'off'},{:url => { :controller => 'messages', :action => 'auto_complete_for_friend_full_name'}, :tokens => [',']}
          
          %p
          %label
            Subject 
            %em (required)
          %p
            = f.text_field :title

          %p
          %label
            Body Text 
            %em (required)
          %p
            = f.text_area :body, :rows => 10, :style => "width:80%;"

          %p
            = submit_tag "Send"
