.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        New Message
  .leftNavCol
    %h2.yellowHeader
      My Profile
    .leftNav
      =render :partial => "users/profile_nav"

  .listings
    = error_messages_for :message
      
    - form_for(@message, :html => {:class => "MainForm"}) do |f|
      %label
        To:
        %em (required, separate multiple names with commas)
      = text_field_with_auto_complete :message, :to_name, {:autocomplete => 'off'},{:url => { :controller => 'messages', :action => 'auto_complete_for_friend_full_name'}, :tokens => [',']}
      %label
        Subject 
        %em (required)
      = f.text_field :title

      %label
        Body Text 
        %em (required)
      = f.text_area :body, :rows => 10, :style => "width:100%;"

      %p
        = submit_tag "Send"
