- sms ||= @sms || !params[:sms].nil?

.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        MAILBOX
      - if @shared_access
        Sharing 
        = truncate(@shared_access.item.title,60)
      - elsif @message_thread && @message_thread.title
        = "RE: #{truncate(@message_thread.title, 60)}"
      - elsif sms
        New Text Message
      - else
        New Message

  .mailContent
    = render :partial => 'messages/tab_heading', :locals => {:page => 'compose'}
     
    .forumContentBox
      .forumBoxHeader

        = error_messages_for :message_thread
        = error_messages_for :sent_message
            
        - form_for(@message ||= Message.new, :html => {:id => "EditProfile"}) do |f|
          -if sms
            %input{:type=>'hidden',:name=>'sms',:value=>'true'}
            
          -unless @message_thread.id
            -fields_for @message_thread do |thread_f|
              .mailComposeTo{ :style => 'float:left; width:190px; margin:10px; text-align:right' }
                %br/
                %div{ :style => 'width:190px;text-align:right' }
                  %label To:&nbsp;
              %div{:style => "float:left; width:570px"}
                %div{:style => "border: 1px solid #000000;"}
                  %div{:style => "border-bottom: 1px solid #000000; padding: 3px; background-color: #cccccc" }
                    You can type people's names, group names, email addresses, or text/phone numbers below
                  %div{:style => "padding:3px"}
                    = text_field_with_auto_complete :message_thread, :to, {:autocomplete => 'off', :style => 'width:100%;border:none'},{:url => { :controller => 'messages', :action => 'auto_complete_for_friend_full_name'}, :tokens => [','], :select => 'full_name'}          
              .clearDiv        
            .clearDiv
            %div
              &nbsp;
              %br/
              &nbsp;
            .mailDetailTop
              .mailDetail
                .mailPoster
                  .mailPosterThumb
                    %a{:href=>"#{user_path(current_user)}", :class=>"photo"}
                      =image_tag(current_user.avatar_photo_url(:thumb), :alt=>"Profile Picture", :width=>"50", :height=>"50")
                  .mailPosterName
                    %br/
                    = link_to current_user.full_name, user_path(current_user)
                    - if current_user.team_name
                      .mailPosterTeam
                        = link_to current_user.team_name, team_path(current_user.team_id)
    
                .mailDetailContent
                  -fields_for @message_thread do |thread_f|
                    = thread_f.hidden_field :id
                    
                    -if @message_thread.id
                      %p
                      %label
                        To:&nbsp;
                        = h(@message_thread.recipient_display_array(current_user).join(", "))
                      %br/
              
                      -unless sms
                        %p
                          %br/
                        %label
                          Subject:&nbsp; 
                          RE:
                          = h(@message_thread.title)
    
                    -else
                      -unless sms 
                        %label
                          Subject:&nbsp
                        = thread_f.text_field :title, :style => 'width:80%'
                        %br/
                        
                  %br/
                  -fields_for @sent_message do |sent_f|
                    %p
                      %label Your Message:
                    %br/
                    = sent_f.text_area :body, :id => 'replybox', :rows => 15, :style => 'width:100%'
                
  
                    -if @shared_access
                      = sent_f.hidden_field :shared_access_id
                      =render :partial => 'messages/shared_item', :locals => {:body => nil}
                .clearDiv
              .clearDiv
            .mailDetailBottom

            .mailComposeSend        
              %br/
              %p
                %div{:align => 'right'}
                  = image_submit_tag '/images/messages/send.jpg', :border => 0, :style => 'border:none'
        
              %br/
              %div{:align => 'right'}
                %strong Note:
                = "External phone and email recipients will see your email address: '#{current_user.email}'"
            