.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        MAILBOX
        New Text Message

  .mailContent
    = render :partial => 'messages/tab_heading', :locals => {:page => 'compose'}
    
    %a{ :name => 'composebox' }
  
      = error_messages_for :sent_message
          
      - form_for(@message ||= Message.new, :html => {:id => "EditProfile"}) do |f|
        %input{:type => 'hidden', :name=>'sms', :value=>'1'}
        
        -fields_for @message_thread do |thread_f|
          -if (current_user.accepted_friendships.size > 0 || current_user.admin? || current_user.team_staff? || current_user.league_staff?)
            %label{:style => "float:left"}
              Phone Number(s):&nbsp;
            %label{:style => "float:left"}
              %em separate with commas
            .clearDiv
            %p
              =thread_f.text_field :to_phone, :style => 'width:80%'

            %label{:style => "float:left"}
              Friend(s):&nbsp;
            %label{:style => "float:left"}
              %em separate with commas              
              %br/
              %em (Start typing a few letters of the name of the friend you want to send to...)
              -if current_user.admin?
                %br/
                %em (you can enter the keyword 'all' to send to all users, it will take a while)
              - if current_user.team_staff?
                %br/
                %em= "(you can enter the keyword 'team' to send to all users associated with #{current_user.team.name})"
              - if current_user.league_staff?
                %br/
                %em= "(you can enter the keyword 'league' to send to all users associated with #{current_user.league.name})"
            .clearDiv
            %p
              = text_field_with_auto_complete :message_thread, :to_name, {:autocomplete => 'off', :style => 'width:80%'},{:url => { :controller => 'messages', :action => 'auto_complete_for_friend_full_name'}, :tokens => [',']}


     
          -if current_user.team_staff?
            - team_access_groups = AccessGroup.for_team(current_user.team)
            - unless team_access_groups.nil?
              %p
              %label
                Message all contacts in selected groups
              %p
                - for grp in team_access_groups
                  %div{:style => 'width:200px; display:inline; padding:3px'}
                    = check_box_tag "to_access_group_id[]", grp.id
                    = grp.name
              %br/
    
        -fields_for @sent_message do |sent_f|
          %p
            %br/
          
          %label{:style => "float:left"}
            Your Message:&nbsp;
          %label{:style => "float:left"}
            %em Text messages are limited to 160 characters.
          %p
            = sent_f.text_area :body, :rows => 8, :style => 'width:80%'
      
          -if @shared_access
            = sent_f.hidden_field :shared_access_id
            =render :partial => 'messages/shared_item', :locals => {:body => nil}
      
        %p
          = image_submit_tag '/images/messages/send.jpg', :border => 0, :style => 'border:none'

         