.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        =link_to "MAILBOX", messages_path
      = @title || "Inbox Message"

  .mailContainer

    .profileContentArea
      %br/
      %br/
      .contentBox.tanBackground
        .contentBoxHeader.yellowHeader
          %h4 Message

        %div{ :style => "padding:20px 20px 20px 20px" }
          %div{ :style => "float:right" }
            = link_to 'Delete Message', message_path(@message), :confirm => 'Are you sure?', :method => :delete, :class => 'genericButton'
          %span.profileSubHeading From:
          = "#{@message.sender.full_name}"
          %br/
          %span.profileSubHeading Date:
          = human_date_time(@message.created_at)
          %br/
          %span.profileSubHeading Subject:
          = h @message.title
        .clearDiv
        %div{ :style => "padding:20px 20px 20px 20px" }
          = "#{@message.body}"
          %br/
