.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        =link_to "MAILBOX", messages_path
      Thread:
      = @title || @msgs.first.title

  %script
    function hMessageAction(action) {
    var f = document.forms['message_form'];
    if(action=='unread') {
    ="f.action='#{url_for(:controller => 'messages', :action=>'thread_unread', :id=>@msgs.first.real_thread_id)}';"
    f.submit();
    } else if (action=='delete') {
    if(window.confirm('Are you sure you want to permanently delete this thread?')) {
    ="f.action='#{url_for(:controller => 'messages', :action=>'thread_delete', :id=>@msgs.first.real_thread_id)}';"
    f.submit();
    }
    }
    return false;
    }
    
  -form_for :message, :url => { :action => "new" }, :method => "post", :html => {:name => "message_form"} do |f| 
    .mailContent
      = render :partial => 'messages/tab_heading', :locals => {:page => 'view'}

      -#
        %div{ :style => "float:right" }
          = link_to 'Reply', url_for({ :controller => 'messages', :action => 'new', :re => @msgs.first.id }), :style => "float:right", :class => 'genericButton'

      - if @msgs.respond_to?('total_pages') && @msgs.total_pages > 1
        .apple_pagination
          = will_paginate @msgs
          
      .forumContentBox
        .forumBoxHeader

        = render :partial => 'messages/message', :collection => @msgs, :locals => {:thread => true}

        %div
          \&nbsp;
          %br/
          %br/
        .forumIEfix
          \&nbsp;
          
          
          
        .clearDiv
      .clearDiv
      .clearDiv
  .clearDiv
