
%label{"for"=>"name"}
  %h3= _('Title')
= form.text_field :name

%label{"for"=>"position"}
  %h3= _('Position')
= form.text_field :position, :size => 5, :style => "width:25px"

%label{"for"=>"tags"}
  %h3= _('Tags')
= text_field_tag 'tag_list', @forum.tags.collect{|t| t.name}.join(" "), {:autocomplete => "off", :size => 35}
#tag_list_auto_complete.auto_complete
= auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [',', ' ']  }

%label{"for"=>"description"}
  %h3= _('Description')
= form.text_area :description, :rows => 7
