- @section = 'forums'
- @page_title = _('FORUMS')

.forumContentArea
  .listingPage
    .profilePageHeader
      %h2.columnDescriptor
        %span
          = @page_title
    .leftNavCol
      %h2.yellowHeader
        My Profile
      .leftNav
        =render :partial => "users/profile_nav"    
    .listings
      .box
      
        %p.subtitle
          = number_with_delimiter(Topic.count) 
          = "#{_('topics')},"
          = number_with_delimiter(SbPost.count)
          = "#{_('posts')},"
          = number_with_delimiter(User.count(:conditions => "sb_posts_count>0"))
          = _('voices') 
          - if SbPost.count
            \&nbsp;
            = link_to _('Recent posts'), all_sb_posts_path
            = feed_icon_tag _("Recent Posts"), formatted_all_sb_posts_path(:format => 'rss')

        %br<

        -if admin?
          = link_to _('Create New Forum'), new_forum_path, :class => 'genericButton'
          %br<
            
        %table{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => '100%'}
          %thead
            %tr.yellowHeader
              %td.padded.contentBoxHeader.la{:width=>"70%", :colspan=>"3"}
                = _('Forum')
              %td.padded.contentBoxHeader.la{:width=>"30%", :colspan=>"1"}
                = _('Last Post')
          %tbody
            -for forum in @forums do
              %tr.forumList
                %td.forumList.vat.c1  
                  - if recent_forum_activity(forum)
                    = image_tag "clearbits/comment.gif", :class => "icon green", :title => _('Recent activity'), :plugin => "community_engine"
                  - else
                    = image_tag "clearbits/comment.gif", :class => "icon grey", :title => _('No recent activity'), :plugin => "community_engine"
                %td.forumList.c2.vat
                  %h4= link_to h(forum.name), forum_path(forum), :class => "title"
                  .posts
                    - unless forum.topics_count.zero?
                      = number_with_delimiter(forum.topics_count)
                      = _('topics')
                      ,
                      = number_with_delimiter(forum.sb_posts_count)
                      = _('posts')
        
                  %p.desc= forum.description_html
        
                %td.forumList.c3
                  = link_to _('Edit'), edit_forum_path(forum), :class => "tiny", :rel => "directory", :style => "float:right" if admin?
        
                %td.forumList.lp
                  - if forum.sb_posts.last
                    = time_ago_in_words(forum.sb_posts.last.created_at)
                    %br
                    by
                    %strong= h(forum.sb_posts.last.user.full_name)
                    %span
                      (
                      = link_to 'view', forum_topic_path(:forum_id => forum, :id => forum.sb_posts.last.topic_id, :page => forum.sb_posts.last.topic.last_page, :anchor => forum.sb_posts.last.dom_id) 
                      )
              
      
        - online_users = User.currently_online 
        - unless online_users.empty? 
          .stats
            .users
              - unless online_users.empty? 
                = _('Users online:')
                = online_users.map { |u| link_to "<strong>#{h u.full_name}</strong>", user_path(u) } * ", " 
                %br
      .clearDiv