.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        GameXchange
  .listings
    .padded
    
      = error_messages_for :gamex_user

    
      - if @gamex_user
        %p{ :style=>'float:right' }
          = link_to 'Upload a new video', new_video_asset_path('gamex_user[id]' => @gamex_user.id), :class => 'genericButton'


      - form_for :gamex_user, @gamex_user, :url => { :controller => :gamex, :action => :console } do |f|
    
        League: 
        - if @gamex_users.size == 1
          = f.hidden_field :id
          = @gamex_user.league_name
        -else
          - options = {:prompt => "-Select-"}
          - if @league
            - options[:selected]=@league.id 
          = f.collection_select :id, @gamex_users, :id, :league_name, options, {:onchange=>'this.form.submit()'}
      
      
        
      
        %p
        
        - if @gamex_user
          Team:
          - options = {:prompt => "-Select-"}
          - if @team
            - options[:selected]=@team.id
          = collection_select :team, :id, @teams, :id, :team_name, options, {:onchange=>'this.form.submit()'}
          


        -#%p
          = f.submit 'Go'
  
          - if @gamex_user
            %br
            League: 
            -#= @gamex_user.league.name
            %br
            = @gamex_user.league_id
          - if @team
            %br
            Team: 
            = @team.name
            %br
            = @team.id

      -#.box
        %table{ :cellspacing => "0", :cellpadding => "0" }
          %tr
            %th{ :width => "60px" }
              \&nbsp;
            %th
              Upload Date
            %th
              Team
            %th
              Opponent
            %th
              Sport
            %th
              Level
            %th
              Game Date
        -# is_admin = current_user.is_admin?
        - if @video_assets
          - @video_assets.each_with_index do |video,i|
            %tr
              -#.<haml:loud>row_on_off(i)</haml:loud>
              -# if is_admin
                %td
                  = image_tag('arrows_black.gif')
                  = link_to 'Edit',admin_edit_path(:id=&gt;video.id)
              -# else
              %td
                = image_tag('arrows_black.gif')
                MEOW
                -#= video_detail_path(video.id,edit)
              %td
                = video.created_at
                -#= gsxp_date(video.created_at)
              %td
                = video.home_team
              %td
                = video.visiting_team
              %td
                = video.sport
              %td
                = video.game_level
              %td
                = video.game_date
                -#= gsxp_date(video.game_date)
  
          
          
          
      .box
        - if @video_assets
          = render :partial => '/shared/video_listing', :collection => @video_assets, :locals => { :show_tab => false }
          .clearDiv
   
          - if @video_assets.respond_to?('total_pages')
            .apple_pagination
              = will_paginate @video_assets
