.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        GameXchange
      &gt; Download
  .listings.gamexlistings
    .padded
    
      = error_messages_for :gamex_user
    
      .box
        - if @gamex_user
          %p.gamex-league-avatar
            -#= link_to 'Upload a new video', new_video_asset_path('gamex_user[id]' => @gamex_user.id), :class => 'genericButton'
            %a{ :href=>league_path(@gamex_user.league) }
              - if @gamex_user.league.avatar
                %img{ :src=>@gamex_user.league.avatar.public_filename, :title=>@gamex_user.league.name, :alt=>@gamex_user.league.name }

        - form_for :gamex_user, @gamex_user, :url => { :controller => :gamex, :action => :download } do |f|
      
        
          - if @gamex_users.size == 1
            = f.hidden_field :id
            -#= @gamex_user.league_name
          -else
            %h2 Find Games by Conference
            %p
              - options = {:prompt => "-Select-"}
              - if @league
                - options[:selected]=@league.id 
              = f.collection_select :id, @gamex_users, :id, :league_name, options, {:onchange=>'this.form.submit()'}
  
  
          - if @gamex_user
            %h2 Find Games by School
            %p
              - options = {:prompt => "-Select-"}
              - if @team
                - options[:selected]=@team.id
              = collection_select :team, :id, @teams, :id, :team_name, options, {:onchange=>'this.form.submit()'}
          
          -#%p
            = f.submit 'Go'
  
            - if @gamex_user
              %br
              League: 
              -#= @gamex_user.league.name
              %br
              = @gamex_user.league_id
            - if @team
              %br
              Team: 
              = @team.nickname_or_name
              %br
              = @team.id

        %br
        
        - if @video_assets
          - if @team
            %h2= "Games Uploaded by #{@team.name}"
          -else
            %h2 Recently Uploaded Games in this Conference
          
          %table.gamex{ :cellspacing => "0", :cellpadding => "0" }
            %tr
              %th{ :width => "60px" } &nbsp;
              %th Upload Date
              %th Team
              %th Opponent
              %th Sport
              %th Level
              %th Game Date
              
            - if @video_assets
              - @video_assets.each_with_index do |video,i|
                %tr{ :class=>"row#{i%2}" }
                  -#.<haml:loud>row_on_off(i)</haml:loud>
                  %td
                    %b &raquo;
                    = link_to 'Select', video_asset_path(video, 'gamex_user[id]' => @gamex_user.id )
                  %td
                    = video.ready_at ? (Time.parse(video.ready_at.to_s)-(4*60*60)).strftime("%m-%d-%Y %I:%M%p") : '-'
                    -#= gsxp_date(video.created_at)
                  %td
                    - if video.home_team
                      - home_team_score = video.home_score ? " (#{video.home_score})" : ""
                      - home_team_name = "#{video.home_team.nickname_or_name}#{ home_team_score }"
                      = home_team_name #video.home_team ? video.home_team.name : '-'
                  %td
                    - if video.visiting_team
                      - visitor_team_score = video.visitor_score ? " (#{video.visitor_score})" : ""
                      - visiting_team_name = "#{video.visiting_team.nickname_or_name}#{ visitor_team_score }"
                      = visiting_team_name #video.visiting_team ? video.visiting_team.name : '-'
                  %td
                    = video.sport
                  %td
                    = video.game_level
                  %td
                    = video.game_date ? video.game_date.strftime("%m-%d-%Y") : '-'
  
          
          
          
      -#.box
        - if @video_assets
          = render :partial => '/shared/video_listing', :collection => @video_assets, :locals => { :show_tab => false }
          .clearDiv
   
          - if @video_assets.respond_to?('total_pages')
            .apple_pagination
              = will_paginate @video_assets
