.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        GameXchange
      &gt; History
  .listings.gamexlistings
    .padded
        
      .box
        - if @gamex_user
          %p.gamex-league-avatar
            -#= link_to 'Upload a new video', new_video_asset_path('gamex_user[id]' => @gamex_user.id), :class => 'genericButton'
            %a{ :href=>league_path(@gamex_user.league) }
              - if @gamex_user.league.avatar
                %img{ :src=>@gamex_user.league.avatar.public_filename, :title=>@gamex_user.league.name, :alt=>@gamex_user.league.name }

        - form_for :gamex_user, @gamex_user, :url => { :controller => :gamex, :action => :history } do |f|
      
        
          - if @gamex_users.size == 1
            %h2= "History for #{current_user.team.name}"
            = f.hidden_field :id
            -#= @gamex_user.league_name
          -else
            %h2 Game History by Conference
            %p
              - options = {:prompt => "-Select-"}
              - if @gamex_user.league
                - options[:selected]=@gamex_user.league.id
              = f.collection_select :id, @gamex_users, :id, :league_name, options, {:onchange=>'this.form.submit()'}

        %br
        
        - if @uploads
          %h3= "Upload History" # for #{@gamex_user.league.name}"
          
          %table.gamex{ :cellspacing => "0", :cellpadding => "0" }
            %tr
              %th &nbsp;
              %th Upload Date
              %th Title
              %th Opponent
              %th Sport
              %th User
              %th Game Date

            - @uploads.each_with_index do |upload,i|
              - video = upload.video_asset
              - if video.nil?

                %tr{ :class=>"row#{i%2}" }
                  %td{ :colspan=>8, :align=>'center' }
                    \- video deleted -

              - else
                %tr{ :class=>"row#{i%2}" }
                  %td
                    %b &raquo;
                    = link_to 'Select', video_asset_path(video, 'gamex_user[id]' => @gamex_user.id )
                  %td
                    = video.ready_at ? (Time.parse(video.ready_at.to_s)-(4*60*60)).strftime("%m-%d-%Y %I:%M%p") : '-'
                    -#= gsxp_date(video.created_at)
                  %td
                    - if video.home_team
                      - home_team_score = video.home_score ? " (#{video.home_score})" : ""
                      - home_team_name = "#{video.home_team.nickname_or_name}#{ home_team_score }"
                      = home_team_name #video.home_team ? video.home_team.name : '-'
                  %td
                    - if video.visiting_team
                      - visitor_team_score = video.visitor_score ? " (#{video.visitor_score})" : ""
                      - visiting_team_name = "#{video.visiting_team.nickname_or_name}#{ visitor_team_score }"
                      = visiting_team_name #video.visiting_team ? video.visiting_team.name : '-'
                  %td
                    = video.sport
                  %td
                    = video.user.full_name   #video.game_level
                  %td
                    = video.game_date ? video.game_date.strftime("%m-%d-%Y") : '-'
                  -#%td
                    = upload.views


          %br
          - if @views
            = link_to "See All Uploads", "?scope=uploads"
          - else
            .box
              - if @uploads.respond_to?('total_pages')
                .apple_pagination
                  = will_paginate @uploads



          %br
          %br
          %br

        - if @views
          %h3= "Viewing History" # for #{@gamex_user.league.name}"

          %table.gamex{ :cellspacing => "0", :cellpadding => "0" }
            %tr
              %th &nbsp;
              %th Last Viewed On
              %th Title
              %th Opponent
              %th Sport
              %th Level
              %th Game Date
              %th Views

            - @views.each_with_index do |view,i|
              - video = view.video_asset
              -# next if video.nil?
              - if video.nil?

                %tr{ :class=>"row#{i%2}" }
                  %td{ :colspan=>8, :align=>'center' }
                    \- video deleted -

              - else
                %tr{ :class=>"row#{i%2}" }
                  %td
                    %b &raquo;
                    = link_to 'Select', video_asset_path(video, 'gamex_user[id]' => @gamex_user.id )
                  %td
                    = view.created_at ? (Time.parse(view.created_at.to_s)-(4*60*60)).strftime("%m-%d-%Y %I:%M%p") : '-'
                    -#= gsxp_date(video.created_at)
                  %td
                    - if video.home_team
                      - home_team_score = video.home_score ? " (#{video.home_score})" : ""
                      - home_team_name = "#{video.home_team.nickname_or_name}#{ home_team_score }"
                      = home_team_name #video.home_team ? video.home_team.name : '-'
                  %td
                    - if video.visiting_team
                      - visitor_team_score = video.visitor_score ? " (#{video.visitor_score})" : ""
                      - visiting_team_name = "#{video.visiting_team.nickname_or_name}#{ visitor_team_score }"
                      = visiting_team_name #video.visiting_team ? video.visiting_team.name : '-'
                  %td
                    = video.sport
                  %td
                    = video.game_level
                  %td
                    = video.game_date ? video.game_date.strftime("%m-%d-%Y") : '-'
                  %td
                    = view.views


          %br
          - if @uploads
            = link_to "See All Views", "?scope=views"
          - else
            .box
              - if @views.respond_to?('total_pages')
                .apple_pagination
                  = will_paginate @views


