%div{ :class=>"desc-#{avatar_height}" }
  %p
    - if @league.address1 && @league.address1.length > 0
      =h @league.address1
    - if @league.address2 && @league.address2.length > 0
      =h @league.address2
    - if @league.city || @league.state_id
      = h [@league.city, (@league.state_id? ? @league.state.name : nil), @league.zip].compact.join(' ')
  - if (@league.phone && @league.phone.length > 0) || (@league.email && @league.email.length > 0)
    %p
      =h @league.phone
      - if @league.phone && @league.phone.length > 0 && @league.email && @league.email.length > 0
        |
        =h @league.email
  - if current_user
    %p
      -#= link_to 'League Members', "/search/q?search[category]=11&league_id=#{@league.id}", :class=>'member-link'
      = (current_user && @league.users.enabled.size > 0) ? link_to("View #{@league.name} Members (#{@league.users.enabled.size})", "/search/q?search[category]=10&league_id=#{@league.id}",:class=>'member-link') : '' 
      