.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        LEAGUES
  .leftNavCol
    %h2.yellowHeader
      = _('My Profile')
    .leftNav
      =render :partial => "users/profile_nav"
  .listings

    .padded
      = link_to 'New league', new_league_path, :class => 'genericButton' 

      %table{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => '100%'}
        %thead
          %tr.yellowHeader
            %td.padded.contentBoxHeader Name
            %td.padded.contentBoxHeader City
            %td.padded.contentBoxHeader State
            %td.padded.contentBoxHeader Description
            %td.padded.contentBoxHeader.numeric Teams
            %td.padded.contentBoxHeader/ 
    
        %tbody
          - for league in @leagues
            %tr.leagueList
              %td.leagueList= link_to league.name, edit_league_path(league),{:title => "edit"}
              %td.leagueList=h league.city
              %td.leagueList=h(league.state_id? ? league.state.name : '')
              %td.leagueList=truncate(h(league.description),45)
              %td.leagueList.numeric
                - if league.teams.size > 0
                  = link_to(league.teams.size,url_for({:controller=>'teams',:action=>'index',:league_id=>league.id}),{:title=>'show associated teams'})
                - else
                  = league.teams.size
              %td.leagueList{ :align => 'right' }
                - if league.id != User.admin.first.league_id
                  = link_to _('Delete'), league_path(league), :confirm => 'Are you sure?', :method => :delete, :class => 'genericButton'
         