-# load_features(@league)
- avatar_height = @league.avatar ? @league.avatar.height : 100
- top_row_height_px = @league_popular_videos.size >= 3 ? 255 : 130
- second_row_height_px = [@league_clips_reels.size,@league_videos.size].max >= 3 ? 255 : 130
- is_member = @league.member?


.landingContentArea
    
  .orgHome
    %table
      %tr
        %td.orgSummary
          - memlink = (current_user && @league.users.enabled.size > 0) ? link_to("View #{@league.name} Members (#{@league.users.enabled.size})", "/search/q?search[category]=10&league_id=#{@league.id}",:class=>'member-link') : '' 
          - case avatar_height
          - when 60
            = render :partial=>'logo', :locals=>{:avatar_height=>avatar_height}
            = render :partial=>'contact_info', :locals=>{:avatar_height=>avatar_height}
            %br
            -#= memlink
          - when 100
            %table
              %tr
                %td
                  = render :partial=>'logo', :locals=>{:avatar_height=>avatar_height}
                %td
                  = render :partial=>'contact_info', :locals=>{:avatar_height=>avatar_height}
                  %br
                  -#= memlink
    
        %td.orgText
          - league_news_item = most_recent_league_post @league 
          - league_news_item = most_recent_league_post(League.find(1)) if league_news_item.nil?
          - if league_news_item 
            %p
              %b= league_news_item.title
            %br
            %p
              - if count_words(league_news_item.post) > 40
                = truncate_words(league_news_item.post,40)
                =link_to 'more', user_post_path(league_news_item.user,league_news_item)
              - else
                = league_news_item.post

  /
    col1 content
  .mainCol1
    = javascript_include_tag 'tabs'
    
    .orgTabs
      #tab1.orgTab.open
        .left
        .content
          %a{ :href=>'javascript:Tabs.open(1)' }
            = is_member ? "School News" : "News"
        .right
      - unless @hide_recent_uploads
        #tab2.orgTab
          .left
          .content
            %a{ :href=>'javascript:Tabs.open(2)' }
              Recent Uploads
          .right    
      - if (false && @league_photo_picks && !@league_photo_picks.empty?)
        #tab3.orgTab
          .left
          .content
            %a{ :href=>'javascript:Tabs.open(3)' }
              Clips / Reels
          .right
      .clearDiv
    .tabContent{ :class => is_member ? "tall" : "short" }
      -#      School News
      #tabBody1.contentBox.tabBody.open{ :class => is_member ? "tall" : "short" }
        .contentBoxHeader.flatblue{ :style => "padding-top:0px" }
          %h2.boxDescription
            - if current_user && current_user.league_staff?(@league)
              %span.moreLink
                = link_to 'Post News Item', new_user_post_path(current_user)

        .contentBoxContent.tanBackground

          - posts = league_posts( @league )
          - posts = league_posts( League.find(1) ) if posts.empty?
          - posts = is_member ? posts[0...6] : posts[0...4]
          - posts.each() do |post|
            .featureSummary.news
              %span
                = link_to post.title, user_post_path(post.user, post), :rel => 'bookmark', :class=>'articleLink'
                = "| posted #{post.created_at.strftime('%m.%d.%y')}"
              
              %br
              = truncate_words(post.post, 24, '...' )
              - if (current_user && (current_user.admin? || current_user.id == post.user_id))
                %span.moreLink
                  =link_to "edit", edit_user_post_path(post.user, post)
                  |
                  =link_to "delete", user_post_path(post.user, post), {:method => :delete, :confirm => 'Permanently delete this post?'}
              .clearDiv
        .moreLink
          -# link_to
              
      - unless @hide_recent_uploads

        -#      Recent Uploads
        #tabBody2.contentBox.tabBody{ :style=>'display: none' }
          .contentBoxHeader.flatblue
            %h2.boxDescription
          .contentBoxContent.tanBackground
            =render :partial => 'video_assets/video_feature', :collection => @league_videos[0...6], :locals => {:nolinks => current_user.nil? }
            - if @league_videos.size >x= 6 
              - if current_user
                = link_to "More Videos...", url_for(:controller => 'search', :action => 'league_video_assets', :league_id => @league.id)
              - else
                = "More Videos available to members!"
          .moreLink
            -# link_to
        
        -#      Clips / Reels
        - if false
          #tabBody3.contentBox.tabBody{ :style=>'display: none' }
            .contentBoxHeader.flatblue
              %h2.boxDescription
            .contentBoxContent.tanBackground
              =render :partial => 'video_assets/video_feature', :collection => @league_clips_reels, :locals => {:nolinks => current_user.nil? }
            .moreLink
              -# link_to

  /
    col2 content
  .mainCol2
    .tabSpacer

    - league_has_videos = @league_video_picks && !@league_video_picks.empty?
    .contentBox.orgPlayer
      .contentBoxHeader.darkblue
        %h2.boxDescription
          = @player_title
          \- 
          = @league.name
        - if league_has_videos
          .moreLink
            =link_to 'See All Videos', {:controller => 'search', :action => 'league_video_assets', :league_id => @league.id}
          
      .contentBoxContent.tanBackground
        - if league_has_videos && @league_video_picks && @league_video_picks.length > 2
          .flashArea#flashArea
          - flashvars = {}
          - flashvars[:playerType]= ( is_member ? "SchoolPlayer" : "SchoolNotMemberPlayer" )
          - flashvars[:dockeys]= @league_video_picks
          = render :partial => 'shared/video_player', :locals => {:target => 'flashArea', :player_name => '/players/schoolhome.swf', :fvars => flashvars, :width=>'587px', :height=>'341px' }
        - else
          .box
            The league has no videos uploaded

    - if is_member 
      - if @league_photo_picks && !@league_photo_picks.empty?
        .contentBox.orgPhotos
          .contentBoxHeader.darkblue
            %h2.boxDescription
              Photo Gallery -
              = @league.name
            .moreLink
              -# See All
          .contentBoxContent.tanBackground
            =render :partial => 'photo_gallery'
      - else
        .contentBox.orgFeature
          .contentBoxHeader.darkblue
            %h2.boxDescription
              Clips / Reels -
              = @league.name
            .moreLink
              -# See All
          .contentBoxContent.tanBackground
            =render :partial => 'video_assets/video_feature', :collection => @league_clips_reels[0..1], :locals => {:nolinks => current_user.nil? }











