.landingContentArea
  /
    col1 content
  .mainCol1
    .contentBox.orgSummary
      .contentBoxHeader
        - if current_user && current_user.league_admin?(@league)
          = link_to 'Edit', edit_league_path(@league), :class=>"edit-#{@league.avatar.height}"
        %h2
          =h @league.name
      .contentBoxContent
        %div{ :class=>"desc-#{@league.avatar.height}" }
          %p
            = "#{@league.city}, #{h @league.state_id? ? @league.state.name : ""}"
          %p
            =h @league.description 

        %a{ :href=>league_path(@league), :class=>"logo-#{@league.avatar.height}" }
          %img{ :src=>@league.avatar.public_filename, :title=>@league.name, :alt=>@league.name }

    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          RECENT CLIPS & HIGHLIGHTS
      .contentBoxContent
        -#
          =render :partial => 'video_assets/video_feature', :collection => league_videos()

          - if @video_assets.respond_to?('total_pages')
            .apple_pagination
              = will_paginate @video_assets
          - else
            = link_to "More Videos...", url_for(:controller => 'search', :action => 'league_video_assets', :league_id => @league.id)

        
  /
    col2 content
  .mainCol2
  
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          MOST POPULAR VIDEOS
      .contentBoxContent
        -#
          =render :partial => 'video_assets/video_feature', :collection => league_videos(:scope=>:popular)

          - if @video_assets.respond_to?('total_pages')
            .apple_pagination
              = will_paginate @video_assets
          - else
            = link_to "More Videos...", url_for(:controller => 'search', :action => 'league_video_assets', :league_id => @league.id)
  
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          RECENT FULL GAME UPLOADS 
      .contentBoxContent
        =render :partial => 'video_assets/video_feature', :collection => league_videos()

        - if @video_assets.respond_to?('total_pages')
          .apple_pagination
            = will_paginate @video_assets
        - else
          = link_to "More Videos...", url_for(:controller => 'search', :action => 'league_video_assets', :league_id => @league.id)
      

  /
    col3 content
  .mainCol3  
    .rightContentItem
      %span.moreLink
        = link_to 'Post', new_user_post_path(current_user)
      %h2
        League News
    - league_posts().each() do |post|
      .rightContentItem
        %span
          = link_to post.title, user_post_path(post.user, post), :rel => 'bookmark', :class=>'articleLink'
        %br
        = truncate_words(post.post, 24, '...' )


                
                
                
