.RegContent
  .SideBar
    %h1
      Registration
    %p
      This is the last step of the registration process.

  .RegistrationContent
    .RegistrationTrail
      PART 1: ACCOUNT TYPE &raquo; PART 2: USER INFORMATION &raquo; 
      %span.RegistrationComplete
        PART 3: BILLING INFORMATION
      
    .AccountType
      %br/
      
      %h2
        - if @cost > 0
          = "The cost for this membership is #{number_to_currency(@cost)} per month"
        - else 
          = "You are enrolling in a FREE membership!"
          
      %br/

      - if @promotion
        %p
          - if @promotion.html_content
            = @promotion.html_content
          - else
            = "The promotion code '#{@promotion.promo_code}' has been applied" 
        %br/
        %br/


      .mainCol1
        .contentBox

          - form_for @po do |f|

            = error_messages_for :po, :object_name => 'Purchase Order'

            %b
              Representative: 
            = @po.rep_name
            %br

            %b
              Purchase Order, or Check #: 
            = @po.po_number
  
            %br
            %br
  
            = f.hidden_field :user_id
            = f.hidden_field :rep_name
            = f.hidden_field :po_number
            
            = hidden_field_tag :confirm, :yes
            
            %fieldset.inline
              %input#tos{:name=>'tos', :type=>'checkbox', :value=>'yes', :checked=>false}
              %label{:for => "tos"}
                I have read and agree to the
                =link_to("#{AppConfig.community_name} Terms of Service", '/info/terms', {:target => "_blank"})
    
            %fieldset.inline
              %input#suba{ :name=>'suba', :type=>'checkbox', :value=>'yes', :checked=>false}
              %label{:for => "suba"}
                I have read and agree to the
                =link_to("#{AppConfig.community_name} Subscriber Agreement", "/info/subscriber_#{@po.user.role.name}", {:target => "_blank"})
            
              
            %br
            = submit_tag 'Print Purchase Order'
  
            %br
            %br