- renewal = current_user && !current_user.memberships.nil? && !current_user.memberships.empty?

.RegContent
  -# Do not show the sidebar if there is a logged in user. They will have the "MY TOOLS" menu displayed here
  - unless current_user
    .SideBar
      %h1
        = renewal ? 'Account Renewal' : 'Registration'      
      
      - if !renewal
        %p
          This is the last step of the registration process.

      - if @credit_card
        - if @offer_PO
          %p
            = link_to 'Pay by Check or Purchase Order?', new_purchase_order_path
          %br
      - else
        %p
          = link_to 'Pay by Credit Card?', url_for(:controller=>:users, :action=>:billing, :userid=>@po.user.id)

  .RegistrationContent
    - if !renewal
      .RegistrationTrail
        PART 1: ACCOUNT TYPE &raquo; PART 2: USER INFORMATION &raquo; 
        %span.RegistrationComplete
          PART 3: BILLING INFORMATION
      
    .AccountType
      %br/
      
      %h2
        - if @cost > 0
          = "The cost for this membership is #{number_to_currency(@cost)} per month"
      %br/

      - if @promotion
        %p
          - if @promotion.html_content
            = @promotion.html_content
          - else
            = "The promotion code '#{@promotion.promo_code}' has been applied" 
        %br/
        %br/


      .mainCol1
        .contentBox

          - form_for @po, :url => { :action => "confirm" } do |f|

            = error_messages_for :po, :object_name => 'Purchase Order'

            %label
              Representative
              %br/
              = f.text_field :rep_name

            %br
            %label
              Purchase Order, or Check #
              %br/
              = f.text_field :po_number

            %br
            %br
  
            = submit_tag('Request Purchase Order')
    
            %br
            %br

    .mainCol2
      .contentBox
        
