- case favorite.favoritable.class.to_s.tableize
  - when 'video_assets'
    = render :partial => "video_assets/video_listing", :locals => {:video_listing => favorite.favoritable, :skip_controls => true}
  - when 'video_clips'
    = render :partial => "video_clips/video_listing", :locals => {:video_listing => favorite.favoritable, :skip_controls => true }
  - when 'video_reels'
    = render :partial => "video_reels/video_listing", :locals => {:video_listing => favorite.favoritable, :skip_controls => true }
  - when 'photos'
    = render :partial => "photos/photo_listing", :locals => {:photo_listing => favorite.favoritable, :photo_type => :thumb}
  - when 'posts'
    = render :partial => "posts/post_listing", :locals => {:post_listing => favorite.favoritable}

-#
  - when 'clippings'
    = render :partial => "clippings/clipping", :locals => {:clipping => favorite.favoritable}
