.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        = @title || "My Videos"
      = "#{@user.full_name}" unless @title
  .leftNavCol
    %h2.yellowHeader
      My Profile
    .leftNav
      =render :partial => "users/profile_nav"

  .listings
    - if @is_search_result && @search_result_size && @search_result_size == 0
      .contentBox.tanBackground
        .contentBoxHeader.yellowHeader
          %h2.boxDescription
            No QuickFind Results
        %br/    
        %br/    
        %br/    
        Sorry, but there are no videos matching your search requirements.
        Try the site search?
        %br/
        %br/
        %br/
      
    -#- if @is_search_result
      %form{ :action => url_for({:controller => 'search', :action => "sphinx_search"}), :method => 'get'}
        .contentBox.tanBackground
          .contentBoxHeader.yellowHeader
            %h2.boxDescription
              Search 
          .contentBoxContent.friendSearchWidgetArea
            %span.friendSearchColumn
              Search:
            %span.friendSearchWidgetColumn
              %label.verbalSemantic{ :for => "search[keyword]" }
                Search Terms
              %input#friendSearchTerms{ :name => "search[keyword]", :type => "text", :value => "#{params[:search] ? params[:search][:keyword] : '' }", :size => 55 }/
              %input.submit{ :name => "submit", :src => "/gs/images/top_nav_search.gif", :type => "image", :value => "search", :alt => "Search" }/
              %br/
            .clearDiv
            %span.friendSearchColumn
              Sort by:
            %span.friendSearchWidgetColumn
              %label.verbalSemantic{ :for => "friendFindSortBy" }
                Sort by
              %select#friendFindSortBy{ :name => "sortBy" }
                %option{ :value => "" }
                  Recent Updates
              %br/
            .clearDiv
            -#%span.friendSearchColumn
              Show:
            -#%span.friendSearchWidgetColumn
              %label.verbalSemantic{ :for => "friendFindShowNet" }
                Show Network
              %select#friendFindShowNet{ :name => "sortBy" }
                %option{ :value => "" }
                  Recent Updates
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
              %br/
        -#.clearDiv.moreLinkArea
          %span.moreLink
  
    -if @video_assets && @video_assets.size > 0
      .contentBox.tanBackground
        .contentBoxHeader.yellowHeader
          %h2.boxDescription
            Videos
      =render :partial => 'video_assets/video_listing', :collection => @video_assets, :locals => { :skip_controls => false }
    
      - if @video_assets.respond_to?('total_pages') && @video_assets.total_pages > 1
        .apple_pagination
          = will_paginate @video_assets
      - else
        %strong
          = link_to "More Videos...", url_for(:controller => 'search', :action => 'my_video_assets')

  
    -if @video_clips && @video_clips.size > 0
      .contentBox.tanBackground
        .contentBoxHeader.yellowHeader
          %h2.boxDescription
            Clips
      =render :partial => 'video_clips/video_listing', :collection => @video_clips, :locals => {:skip_controls => false }
      
      - if @video_clips.respond_to?('total_pages') && @video_clips.total_pages > 1
        .apple_pagination
          = will_paginate @video_clips
      - else
        %strong
          = link_to "More Clips...", url_for(:controller => 'search', :action => 'my_video_clips')

    - if @video_reels && @video_reels.size > 0  
      .contentBox.tanBackground
        .contentBoxHeader.yellowHeader
          %h2.boxDescription
            Reels
      =render :partial => 'video_reels/video_listing', :collection => @video_reels, :locals => { :skip_controls => false }
      
      - if @video_reels.respond_to?('total_pages') && @video_reels.total_pages > 1
        .apple_pagination
          = will_paginate @video_reels
      - else
        %strong
          = link_to "More Reels...", url_for(:controller => 'search', :action => 'my_video_reels')

.clearDiv
