%p= "#{@pages.item_count} videos match your criteria"
- for video_asset in @video_assets
  = render :partial => 'video_assets/video_block', :locals => { :video_asset => video_asset }
  = render :partial => 'shared/favorite_item', :locals => { :item => video_asset }

%p= pagination_links_for @pages, { :link_to_current_page => true } if @pages.length > 1
