<h1>Editing Vidavee Login Parameters</h1>
<p>Please use with caution. Best to do this
when the site is not very busy, but you may
not have a choice if Vidavee changes something
that has required you to be looking here.</p>

<% form_for(@vidavee) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :uri %><br />
    <%= f.text_field :uri %>
  </p>
  <p>
    <%= f.label :servlet %><br />
    <%= f.text_field :servlet %>
  </p>
  <p>
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :secret %><br />
    <%= f.password_field :secret %>
  </p>
  <p>
    <%= f.label :context %><br />
    <%= f.text_field :context %>
  </p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', vidavees_path %>
<div class="clearDiv"/>