<h1>Listing Vidavee Login Parameters</h1>

<em>There should only be one record in the system at any time</em>
<table class="unstyled">
  <thead>
  <tr>
    <th>Uri</th>
    <th>Servlet</th>
    <th>Key</th>
    <th>Context</th>
    <th>Username</th>
  </tr>
  </thead>
  <tbody>
<% for vidavee in @vidavees %>
  <tr>
    <td><%=link_to(vidavee.uri, edit_vidavee_path(vidavee))%></td>
    <td><%=h vidavee.servlet %></td>
    <td><%=h vidavee.key %></td>
    <td><%=h vidavee.context %></td>
    <td><%=h vidavee.username %></td>
  </tr>
<% end %>
  </tbody>
</table>

