<p>
  <b>Uri:</b>
  <%=h @vidavee.uri %>
</p>

<p>
  <b>Servlet:</b>
  <%=h @vidavee.servlet %>
</p>

<p>
  <b>Key:</b>
  <%=h @vidavee.key %>
</p>

<p>
  <b>Context:</b>
  <%=h @vidavee.context %>
</p>

<p>
  <b>Username:</b>
  <%=h @vidavee.username %>
</p>

<%= link_to 'Edit', edit_vidavee_path(@vidavee) %> |
<%= link_to 'Back', vidavees_path %>
<div class="clearDiv"/>