.listingItem{:id => "message_#{message.id}"}
  = link_to_remote 'Delete', {:url => { :controller => 'sent_messages', :action => 'destroy', :id => message}, :method => :delete, :confirm => 'Are you sure?'} , :style => "float:right", :class => 'genericButton'
  .messageSummary{:id => "mail_summary_#{message.id}"}
    .msgHeader
      = "Date: "
      %span.msgField
        = human_date_time message.created_at
    .msgHeader
      = "To: "
      %span.msgField
        = truncate(h(message.recipient_display_array.join(", ")),85)
    .msgHeader
      = "Subject: "
      %span.msgField
        = truncate(h(message.title),85)
    .msgBody
      - truncated = count_words(message.body) > 40
      - if truncated 
        = truncate_words message.body,40
      - else
        = message.body
      %br/
    .mailReadMessage
      - if truncated
        = link_to "read full message &raquo;", '#', :class => "morelink", :onclick => "$$('div#mail_summary_#{message.id}')[0].hide();$$('div#mail_full_#{message.id}')[0].show();return false;"
  -if truncated
    .messageSummary{:id => "mail_full_#{message.id}", :style => "display:none"}
      .msgHeader
        = "Date: "
        %span.msgField
          = message.created_at.to_s(:game_date)
      .msgHeader
        = "To: "
        %span.msgField
          =h message.recipient_display_array.join(", ")
      .msgHeader
        = "Subject: "
        %span.msgField
          =h message.title
      .msgBody
        = message.body
      .mailReadMessage
        = link_to "close full message &raquo;", '#', :class => "morelink", :onclick => "$$('div#mail_full_#{message.id}')[0].hide();$$('div#mail_summary_#{message.id}')[0].show();return false;"
    
