.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        MAILBOX
      = @title || "Sent Messages"

  %form#Forum{ :action => "#", :method => "post" }
    .mailContainer
      /
        Search
      .mailMarginTop
      .contentBox.tanBackground
        .contentBoxHeader.yellowHeader
          %h2.boxDescription
            Sent Messages
            
      .mailMoreLink
        = link_to 'Inbox', messages_path
        = link_to 'Compose', new_message_path
        %br/
        - if @sent_messages.respond_to?('total_pages') && @sent_messages.total_pages > 1
          .apple_pagination
            = will_paginate @sent_messages
            
      .forumContentBox
        .forumBoxHeader

        = render :partial => 'sent_messages/message', :collection => @sent_messages

        %div
          \&nbsp;
          %br/
          %br/
        .forumIEfix
          \&nbsp;
