%br/
.profileContentArea
  .contentBox.tanBackground
    .contentBoxHeader.yellowHeader
      %h2 Sent Message
    %span.profileSubHeading To:
    = @sent_message.recipient_display_array.join(", ")
    %br/
    %span.profileSubHeading Date:
    = "#{@sent_message.created_at.to_s(:readable)}"
    %br/
    %span.profileSubHeading Subject:
    = h @sent_message.title
    %br/
    %br/
    = "#{@sent_message.body}"
  %br/
  
= link_to 'Back', sent_messages_path
