.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        =link_to "MAILBOX", messages_path
      = @title || "Sent Message"


  %script
    function hMessageAction(action) {
    var f = document.forms['message_form'];
    if (action=='delete') {
    if(window.confirm('Are you sure you want to permanently delete this message?')) {
    ="f.action='#{url_for(:controller => 'sent_messages', :method => :delete, :id=>@sent_message.id)}';"
    f.method='delete';
    f.submit();
    }
    }
    return false;
    }
    
  -form_for :sent_message, :url => sent_message_path(@sent_message), :method => "delete", :html => {:name => "message_form"} do |f| 
    .mailContent
      = render :partial => 'messages/tab_heading', :locals => {:page => 'sent-view'}
  
      %span.profileSubHeading To:
      = @sent_message.recipient_display_array.join(", ")
      %br/
      %span.profileSubHeading Date:
      = "#{@sent_message.created_at.to_s(:readable)}"
      %br/
      %span.profileSubHeading Subject:
      = h @sent_message.title
      %br/
      %br/
      = "#{@sent_message.body}"
  