<p>
  <b>Title:</b>
  <%=h @sent_message.title %>
</p>

<p>
  <b>From:</b>
  <%=h @sent_message.from_id %>
</p>

<p>
  <b>To ids:</b>
  <%=h @sent_message.to_ids %>
</p>

<p>
  <b>Body:</b>
  <%=h @sent_message.body %>
</p>


<%= link_to 'Edit', edit_sent_message_path(@sent_message) %> |
<%= link_to 'Back', sent_messages_path %>
