- @section = 'forums'
- @page_title = @topic.title
.forumContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        = _('FORUMS')
      = link_to h(@forum.name), forum_path(@topic.forum)
      \:
      = _('New Topic')
  .leftNavCol
    %div{ :align => "center" }
      = link_to _('&laquo; back to forum index'), forum_home_path
    %br.clear
    %h2.yellowHeader
      My Profile
    .leftNav
      =render :partial => "users/profile_nav"    
  .listings
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        .boxDescription
          = _('Topic Details')
      .contentBoxContent      
        = error_messages_for :topic
        - form_for :topic, :url  => forum_topics_path(@forum), :html => {:class => "MainForm"} do |f|
          = render :partial => "form", :object => f
          %p= submit_tag _('Post Topic'), :or => link_to(_('Cancel'), forum_path(@forum))
      
        = javascript_tag "$('title').focus();"
