
%br
%p
%div
  %b Name
  %br/
  = f.text_field :name
  
%br
%p
%div
  %b Description
  %br/
  = f.text_field :description, :size=>60
  
%br
%p
-#%div
  %b Team ID
  %br/
  = f.text_field :team_id, :size=>6
  
%br
%p
%div
  %b Team Name  
  = @access_group.team_id
  %br/
  = text_field_with_auto_complete :access_group, :team_name, :autocomplete => "off"

%br
%p
%div
  %b Enabled
  %br/
  = f.check_box :enabled






%br




