.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span{ :style=>'float:left' }
        Access Groups
      %form{ :style=>"height: 0px;" }
        = render :partial => 'permissions/scope_selector', :locals=>{ :style=>'float:left; margin-left: 16px' }
  .listings
    .padded

      - if current_user.admin?
        %table
          %tr
            %td
              = link_to 'New Access Group', url_for({:controller=>'access_groups',:action=>'new'}), :class => 'genericButton'
            %td
            
        %br/

      - if current_user.admin? || @scope
        %table{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => '100%'}
          %thead
            %tr.yellowHeader
              - if current_user.admin?
                = sortable_table_header :class=>"padded sortableContentHeader", :name => "ID", :sort => "access_groups.id"
                = sortable_table_header :class=>"padded sortableContentHeader", :name => "Team", :sort => "teams.name"
                = sortable_table_header :class=>"padded sortableContentHeader", :name => "Name", :sort => "access_groups.name"
                -#= sortable_table_header :class=>"padded sortableContentHeader", :name => "Description", :sort => "access_groups.description"
                %th.padded.sortableContentHeader= "Users"
                %th.padded.sortableContentHeader= "Videos"
                = sortable_table_header :class=>"padded sortableContentHeader", :name => "Enabled", :sort => "access_groups.enabled"
              - else
                = sortable_table_header :class=>"padded sortableContentHeader", :name => "Name", :sort => "access_groups.name"
                -#= sortable_table_header :class=>"padded sortableContentHeader", :name => "Description", :sort => "access_groups.description"

                %th.padded.sortableContentHeader= "Users"
                %th.padded.sortableContentHeader= "Videos"

          %tbody
            - for grp in @access_groups
              %tr.leagueList
              - if current_user.admin?
                %td.leagueList= grp.id
                %td.leagueList= h grp.team.name
                %td.leagueList= link_to grp.name, edit_access_group_path(grp), {:title => "edit"}
                -#%td.leagueList= h grp.description
                %td.leagueList= h grp.enabled
              -else
                %td.leagueList= h grp.name
                -#%td.leagueList= h grp.description
                %td.leagueList= link_to grp.users.size, users_access_group_path(grp)
                %td.leagueList= link_to grp.items.size, items_access_group_path(grp)


        .apple_pagination
          = will_paginate @access_groups
