%hr
.section-head Team Info
%br

.field-block
  %label.required{:for=>'team_name'}
    * Team Name
  %br
  = text_field :team, :name

.field-block
  %label.required{:for=>'team_nickname'}
    * Nickname
  %br
  = text_field :team, :nickname
  
.field-block
  %label
    City
  %br
  = text_field :team, :city, :size => 16
    
.field-block
  %label
    County
  %br
  = text_field :team, :county_name, :size => 16
    
.field-block
  %label
    State
  %br
  =collection_select("team","state_id",State.all,"id","name",{ :prompt => 'State' })
    
.field-block
  %label
    Description
  %br
  = text_field :team, :description , :size => 35

.field-block
  %label.required{"for" => "team_league_name"}
    * League
  %br
  = text_field_with_auto_complete :team, :league_name, :autocomplete => "off"
    
    