#ppvRegContent
  - style = "height: #{(!current_user || @prompt_for_card) ? 6 : 3}00px; width: 600px; overflow: auto;"
  .ppvRegistrationContent{ :style=>style }
  
    -#%p
      %br/
      .bothCols
        %div{ :style => "float: right; text-align: right" }
          (* = required information)          

    -# form_for(@team_sport, :url => team_sport_url(@team_sport), :html => {:multipart => true}) do |f|
    -# form_for(:user, :url => {:controller=>'user', :action=>'ppv_create'}, :html => {:class => 'userForm'}) do |f|
    -# form_tag 'javascript:gs.video_assets.submit_ppv_purchase', :html => {:id => 'ppvRegForm'} do |f|
    - form_for :user, @user, :url => "javascript:gs.video_assets.submit_ppv_purchase()", :html => {:id => 'ppvRegForm'} do |f|

      = hidden_field :user, :id
      = hidden_field :ppv_access, :video_id

      .ppvHeaderBox

        %h2= @video_asset.title
        %br
        = @video_asset.sport
        ,
        = @video_asset.game_date

      .ppvHeaderBox
        = error_messages_for :user, :credit_card, :billing_address, :ppv_access

        - if @billing_gateway_error
          .warning
            = @billing_gateway_error

      .ppvContentBox
        %br
        %br
        How long do you want access to this video?

      .ppvHeaderBox

        .field-block{ :style=>"padding: 6px 0 0 18px;" }
          %table{ :width=>'100%' }
            %tr
              %td
                %label
                  = radio_button(:purchase, :to_s, 'd')
                  24 Hours: $2.99
              %td
                %label
                  = radio_button(:purchase, :to_s, 'w')
                  7 Days: $4.99
              %td
                %label
                  = radio_button(:purchase, :to_s, 'i')
                  Mail me a DVD! - $19.99 (w/ online viewing)


      - if true #!current_user

        .ppvHeaderBox
          %br
          %br

        .ppvContentBox{ :style=>"border: 1px solid #D2D5DD;" }
          %h2 Already a GlobalSports Member?
          %br
          Subscription members will not be charged. If you are a Pay-Per-View member, the card associated with your account will be charged the amount you selected.
          %br
          %table{ :width=>'100%' }
            %tr
              %th
                Username (Email Address):
              %th
                password
              %th
                Your card will be billed
            %tr
              %td{ :valign=>'top' }
                - if current_user
                  = current_user.email
                  %input{ :type=>'hidden', :name=>'login', :value=>current_user.email }
                - else
                  %input{ :type=>'text', :name=>'login', :size => 32 }

              %td{ :valign=>'top' }
                %input{ :type=>'password', :name=>'password', :size => 18}

              %td{ :valign=>'top' }
                %input{ :type=>'submit', :value=>'Access Video' }

        .ppvHeaderBox


      - if !current_user || @prompt_for_card
        .ppvContentBox
          - if !@prompt_for_card
            %br
            %h2 Not a Member?
            %br
            Use this form to become a Pay-Per-View member of Global Sports.  If you are interested in a subscription access plan,
            %a{ :href=>'/register' }
              click here
            %br
  
          %table{ :width=>'550px' }
            %tr
              %td{ :valign=>'top' }
                %table
                  %tr
                    %td.field-block
                      %label.required{"for"=>"email"}
                        * E-mail address
                      %br
                      = text_field :user, :email, :size => 32
                %table
                  %tr
                    %td.field-block
                      %label.required{"for"=>"password"}
                        * Choose a password
                      %br
                      = password_field :user, :password, :size => 18

                    - if !@prompt_for_card
                      %td.field-block
                        %label.required{"for"=>"password_confirmation"}
                          * Re-type password
                        %br
                        = password_field :user, :password_confirmation, :size => 18
          
          %hr

        .ppvContentBox
          %table{ :width=>'100%' }
            %tr
              %td{ :valign=>'top' }
  
    
  
                %table
                  %tr
                    %td.field-block

        
                      %label{"for"=>"firstname"}
                        * First Name
                        %br
                        = text_field :user, :firstname, :size=>16
        
                    %td.field-block
                      %label{"for"=>"lastname"}
                        * Last Name
                        %br
                        = text_field :user, :lastname, :size=>16
        
  
  
                %div{:id => 'billingAddress'}
  
                  %br
                  %label{:for=>'address1'}
                    Address Line 1
                    %br/
                    = text_field :user, :address1
  
                  %br
                  %label{:for=>'address2'}
                    Address Line 2
                    %br/
                    = text_field :user, :address2
  
                  %br
                  %label{:for=>'city'}
                    City
                    %br/
                    = text_field :user, :city
  
                  %br
  
                  %table
                    %tr
                      %td.field-block
                        %label{:for => 'state'}
                          State
                          %br/
                          =collection_select(:user ,:state_id , State.all,"id","name", { :prompt => 'State', :selected => (@user.state? ? @user.state : '') })
                          -#=collection_select(:billing_address ,:state , State.all,"name","name", { :prompt => 'State', :selected => (@billing_address.state? ? @billing_address.state : '') })
  
                      %td.field-block
                  
                        %label{:for=>'zip'}
                          Zip/Postal Code
                          %br/
                          = text_field :user, :zip, :size => 10
                        / end of billing address
  
                -#.field-block
                  %label.required{"for"=>"birthdate"}
                    * Birthday:
                    %em (you must be at least 13 years old to sign up.)
                  %br
                  = date_select :user, :birthday, {:start_year => 1926, :end_year => Time.now.year - 13}
  
                -#%table
                  %tr
                    %td.field-block
                      %label{"for"=>"promo_code"}
                        If you have a promotion code, enter it in the box below.
                      %br
                      -#= text_field_tag :promo_code, ( params[:promo] || params[:promo_code] ) , :size => 24
                      = text_field_tag :promo_code, @promocode , :size => 24
  
              %td{ :valign=>'top' }
  
                %table
                  %tr
                    %td.field-block
                      %label{"for"=>"number"}
                        * Card Number
                        %br
                        = text_field :credit_card, :number, :size => 16, :maxlength => 16
  
                    %td.field-block
                      %label{"for"=>"verification_value"}
                        %nobr * Verification number
                        %br
                        = text_field :credit_card, :verification_value, {:size => 4, :maxlength => 4}
  
  
                %fieldset.inline
                  %label{"for"=>"expiration_date"}
                    * Expiration Date:
                    %br/
                    %table
                      %tr
                        %td
                          =collection_select(:credit_card, :year, cc_years,"number","name",{:prompt => '-Year-'}, {:selected => @credit_card.year })
                        %td
                          =collection_select(:credit_card, :month, cc_months,"number","name",{:prompt => '-Month-'}, {:selected => @credit_card.month })

                - if !current_user
                  %br

                  %fieldset.inline
                    I have read and agree to the
                    %br

                    %input#tos{:name=>"tos", :type=>"checkbox", :value=>"tos", :checked=>params[:tos]}
                    %label{:for => "tos"}
                      &nbsp;
                      =link_to("#{AppConfig.community_name} Terms of Service", '/info/terms', {:target => "_blank"})

                  %fieldset.inline
                    %input#suba{ :name=>'suba', :type=>'checkbox', :value=>'suba', :checked=>params[:suba]}
                    %label{:for => "suba"}
                      &nbsp;
                      =link_to("#{AppConfig.community_name} Subscriber Agreement", "/info/subscriber_member", {:target => "_blank"})


        .accountContinue2
          %p
            -#%input{ :name => "Continue", :type => "image", :src => "/gs/images/billing_continue.png", :value => "Continue", :alt => "Continue", :style => 'border: none' }
            %input{ :type=>'submit', :value=>'Purchase Video' }