%ul
  %li{ :style => @section == 'dashboard' ? 'color:white' : ''}=link_to 'Dashboard', dashboard_user_path(current_user)
  %li{ :style => @section == 'profile' ? 'color:white' : ''}=link_to 'Profile', user_path(current_user.id)  
  %li{ :style => @section == 'blog' ? 'color:white' : ''}=link_to 'Blog', user_posts_path(current_user.id)
  %li{ :style => @section == 'forums' ? 'color:white' : ''}= link_to 'Forums', forums_path
  %li{ :style => @section == 'clips' ? 'color:white' : ''}=link_to 'Clips', user_video_clips_path(current_user.id)
  %li{ :style => @section == 'reels' ? 'color:white' : ''}=link_to 'Reels', user_video_reels_path(current_user.id)
  %li{ :style => @section == 'photos' ? 'color:white' : ''}=link_to 'Photos', user_photos_path(current_user.id)
  %li{ :style => @section == 'friends' ? 'color:white' : ''}=link_to 'Friends', accepted_user_friendships_path(current_user.id)

%br
%ul
  %li=link_to 'Edit Profile', edit_user_path(current_user)
  %li=link_to 'Edit Account', edit_account_user_path(current_user)
  %li=link_to 'Manage Blog', manage_user_posts_path(current_user)



- if current_user && current_user.admin?
  %br
  %ul
    -if @user && @user.id != current_user.id
      %li= link_to( "Assume ID", assume_user_path(@user) )
      %li= link_to( "Disable user", url_for({:controller => 'users', :action => 'disable', :id => @user}), {:method => :delete, :confirm => 'Are you sure you want to disable this user account?'} )
    %li= link_to('Admin Panel', url_for({:controller => 'admin', :action => 'dashboard'}))

- if current_user && current_user.can_upload?
  %br
  %ul
    %li= link_to 'Uploads', user_video_assets_path(current_user)
-if current_user.team_admin? || current_user.league_admin?
  %ul
    %li= link_to 'Staff Accounts', staffs_path
    
    
