.contentBox.tanBackground
  .contentBoxHeader.yellowHeader
    %span.moreLink
      %a{ :href => "#", :onclick => "return profile_minimize(this)" }
        minimize -
    %h2.boxDescription
      Information
  .contentBoxContent
    .profileFeature
      .profileInfo
        %span.profileSubHeading Location:
        = "#{@user.city}, #{@user.state_id ? @user.state.name : ''}"
        %br/
        %span.profileSubHeading Team:
        =link_to "#{@user.team_name}", team_path(@user.team)
        %br/
        %span.profileSubHeading League:
        =link_to "#{@user.league_name}", league_path(@user.team)
        %br/

        -# Moved to the about section
          %br/
          %h2.profileHeading Sports Played:
          - if @user.moniker_hash["sports"]
            %span.profileSubHeading= @user.moniker_hash["sports"].collect{|t| link_to( h(t), tag_url(t), :class => 'btag') }.join(', ')
          %br/
    - if @is_current_user
      .profileFeature.moreLinkArea
        %span.moreLink
          = link_to _('edit'), edit_user_path(@user)
        