- load_features()

.landingContentArea
  /
    col1 content
  .mainCol1
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "" }
            more>>
        %h2.boxDescription
          WHAT MY FRIENDS ARE WATCHING
      .contentBoxContent
        - for video in @network_favorites
          .featureSummary
            .featureSummaryThumb.favFIT
              = video_image_link(video)
              -#%img{ :src => "#{@vidavee.file_thumbnail_medium(video.thumbnail_dockey)}" }
            .featureText
              %h3
                =h video.title
              %span.sportName
                = video.user.full_name
                %br/
              %span.date
                =game_date(video.created_at)
              %br/
            .clearDiv
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "" }
            more>>
        %h2.boxDescription
          MY FRIENDS RECENT CLIPS & HIGHLIGHTS 
      .contentBoxContent
        - for video in @network_recent
          .featureSummary
            .featureSummaryThumb.favFIT
              = video_image_link(video)
              -#%img{ :src => "#{@vidavee.file_thumbnail_medium(video.thumbnail_dockey)}" }
            .featureText
              %h3
                = video.title
              %span.sportName
                = video.user.full_name
              %br/
              %span.date
                =game_date(video.created_at)
              %br/
            .clearDiv
  /
    col2 content
  .mainCol2
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "" }
            more>>
        %h2.boxDescription
          MOST POPULAR VIDEOS
      .contentBoxContent
        - for video in @popular_videos
          .featureSummary
            .featureSummaryThumb.favFIT
              = video_image_link(video)
              -#%img{ :src => "#{@vidavee.file_thumbnail_medium(video.thumbnail_dockey)}" }
            .featureText
              %h3
                =h video.title
              %span.sportName
                =h video.user.full_name
              %br/
              %span.date
                =game_date(video.created_at)
              %br/
            .clearDiv
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "" }
            more>>
        %h2.boxDescription
          RECENT FULL GAME UPLOADS
      .contentBoxContent
        - for video in @recent_uploads
          .featureSummary
            .featureSummaryThumb.favFIT
              = video_image_link(video)
              -#%img{ :src => "#{@vidavee.file_thumbnail_medium(video.thumbnail_dockey)}" }
            .featureText
              %h3
                =h video.title
              %span.sportName
                =h video.team_name
              %br/
              %span.date
                =game_date(video.created_at)
              %br/
            .clearDiv
  /
    col3 content
  .mainCol3    
    %h2.boxDescription
      = link_to 'Post News', new_user_post_path(current_user)
    
    .rightContentItem
      %span.moreLink
        = link_to 'more>>', '', :rel => 'bookmark'
      %h2
        =@user.team.name
      - team_posts(@user.team, :limit=>1).each() do |post|
        %a.articleLink{:href=>user_post_path(post.user, post)}
          =post.title
          %br
          = truncate_words(post.post, 75, '...' )
      
    .rightContentItem
      %span.moreLink
        = link_to 'more>>', '', :rel => 'bookmark'
      %h2
        =@user.league.name
      - league_posts(@user.league, :limit=>1).each() do |post|
        %a.articleLink{:href=>user_post_path(post.user, post)}
          =post.title
          %br
          = truncate_words(post.post, 75, '...' )
        
    .rightContentItem
      %span.moreLink
        = link_to 'more>>', 'user_post_path(post.user, post)', :rel => 'bookmark'
      %h2
        Site Activity
      %br

    .rightContentItem
      %span.moreLink
        = link_to 'more>>', 'user_post_path(post.user, post)', :rel => 'bookmark'
      %h2
        My News
      %br
            
                
                
                