- load_features()

.landingContentArea
  /
    col1 content
  .mainCol1
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        -#%span.moreLink
          %a{ :href => "" }
            more&raquo;
        %h2.boxDescription
          WHAT MY FRIENDS ARE WATCHING
      .contentBoxContent
        =render :partial => 'video_assets/video_feature', :collection => @network_favorites, :locals => {:nolinks => current_user.nil? }
        
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        -#%span.moreLink
          %a{ :href => "" }
            more&raquo;
        %h2.boxDescription
          MY FRIENDS RECENT CLIPS & HIGHLIGHTS 
      .contentBoxContent
        = render :partial => 'video_assets/video_feathre', :collection => @network_recent, :locals => {:nolinks => current_user.nil? }
        
  /
    col2 content
  .mainCol2
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        -#%span.moreLink
          %a{ :href => "" }
            more&raquo;
        %h2.boxDescription
          MOST POPULAR VIDEOS
      .contentBoxContent
        = render :partial => 'video_assets/video_feature', :collection => @popular_videos, :locals => {:nolinks => current_user.nil? }
        
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        -#%span.moreLink
          %a{ :href => "" }
            more&raquo;
        %h2.boxDescription
          RECENT FULL GAME UPLOADS
      .contentBoxContent
        = render :partial => 'video_assets/video_feature', :collection => @recent_uploads, :locals => {:nolinks => current_user.nil? }
        
  /
    col3 content
  .mainCol3    
    %h2.boxDescription
      - if current_user.league_staff? || current_user.team_staff? || current_user.admin?
        = link_to 'Post News', new_user_post_path(current_user), :class=>'articleLink'
    
    .rightContentItem
      -#%span.moreLink
        = link_to 'more&raquo;', '', :rel => 'bookmark'
      %h2
        =link_to @user.team.title_name, team_path(@user.team)
      - team_posts(@user.team, :limit=>1).each() do |post|
        %a.articleLink{:href=>user_post_path(post.user, post)}
          =post.title
        %br
        = truncate_words(post.post, 24)
      
    .rightContentItem
      -#%span.moreLink
        = link_to 'more&raquo;', '', :rel => 'bookmark'
      %h2
        =link_to @user.league.name, league_path(@user.league)
      - league_posts(@user.league, :limit=>1).each() do |post|
        %a.articleLink{:href=>user_post_path(post.user, post)}
          =post.title
        %br
        = truncate_words(post.post, 24)
        
    .rightContentItem
      %span.moreLink
        = link_to 'more&raquo;', 'activities/network', :rel => 'bookmark'
      %h2
        Site Activity
      = render :partial => 'activities/dashboard_activity', :collection => @user.network_activity().to_a[0,3]

    .rightContentItem
      -#%span.moreLink
        = link_to 'more&raquo;', user_posts_path(@user), :rel => 'bookmark'
      %h2
        My News
      - if @user.posts.any?
        - post = @user.posts.first
        %a.articleLink{:href=>user_post_path(post.user, post)}
          =post.title
        %br
        = truncate_words(post.post, 24)
