.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        My Account
      = "#{current_user.admin? ? @user.full_name : current_user.full_name}"
  .leftNavCol
    %h2.yellowHeader
      = _('My Profile')
    .leftNav
      =render :partial => "users/profile_nav"
  .listings
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          ="Editing Billing Information &raquo; #{(current_user.admin? ? @user.full_name : current_user.full_name)}"
      .contentBoxContent

        %form{:action => '/users/update_billing', :class => 'MainForm', :method => :post}
          = error_messages_for :credit_card, :merchant_credit_card, :billing_address, :user, :object_name => 'Credit Card'
        
          = hidden_field_tag "id", @user.id
        
          %label{:for=>:first_name}
          First Name
          %em (Required: )
          %br/
          = text_field :credit_card, :first_name
        
          %label{:for=>:last_name}
          Last Name
          %em (Required: )
          %br/
          = text_field :credit_card,:last_name
        
          %label{:for=>:expiration_date}
          Expiration Date:
          %em (Required: )
          %br/
          = date_select :credit_card, :expiration_date, {:start_year => Time.now.year, :end_year => Time.now.year+10, :discard_day => true}
        
          %label{:for=>:number}
          Card Number
          %em (Required: )
          %br/
          = text_field :credit_card, :number, { :size => 16, :maxlength => 16 }
        
          %label{:for=>:verification_value}
          Verification number
          %em (Required: )
          %br/
          = text_field :credit_card, :verification_value, {:size => 4, :maxlength => 4}
        
          - if @billing_address.nil? || @billing_address.new_record?
            %fieldset.inline
              %input{:type => 'checkbox', :checked => 'checked', :name => 'skip_billing_address', :id => 'skip_billing_address', :onclick => "this.checked ? $$('#billingAddress')[0].hide() : $$('#billingAddress')[0].show()"}
              %label{:for => 'skip_billing_address'}
                Use primary account address as billing address
          - elsif @billing_address
            = hidden_field_tag 'billing_address[id]', @billing_address.id
        
          %div{:id => 'billingAddress', :style => "display: #{@billing_address.nil? || @billing_address.new_record? ? 'none' : 'block'}"}
        
            %label{:for=>'address1'}
            Address Line 1
            %br/
            = text_field :billing_address, :address1
        
            %label{:for=>'address2'}
            Address Line 2
            %br/
            = text_field :billing_address, :address2
        
            %label{:for=>'city'}
            City
            %br/
            = text_field :billing_address, :city
        
            %label{:for => 'state'}
            State
            %br/
            =collection_select(:billing_address ,:state , State.all,"name","name", { :prompt => 'Choose State', :selected => (@billing_address.state? ? @billing_address.state : '') })
            
            
            %label{:for=>'zip'}
            Zip/Postal Code
            %br/
            = text_field :billing_address, :zip
        
          %p
            = submit_tag 'Save Changes'
