.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        My Profile
      = current_user.full_name()
  .leftNavCol
    %h2.yellowHeader
      = _('My Profile')
    .leftNav
      =render :partial => "users/profile_nav"
                    
  .listings
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          About Me
      .contentBoxContent
      
        = error_messages_for :user

        - form_tag user_url(@user), :method => 'put', :multipart =>true, :class => 'MainForm' do
        
          %fieldset
            %legend
              Gender
            %label
              = radio_button :user, :gender, User::MALE
              Male
            %label
              = radio_button :user, :gender, User::FEMALE
              Female

            %label
              Birthday:
              = date_select :user, :birthday, {:start_year => 1926, :end_year => Time.now.year - 12}

          .yui-b
            #profile_details
              %h3 Profile Photo
              .contentBoxContent.topRowFixHeight
                .centeringDiv{:style => "text-align: center; vertical-align: middle"}
                  = image_tag @user.avatar_photo_url(:profile)
              %label
                Choose a photo for your profile here or from your
                = link_to 'photo gallery', user_photos_path(@user)
                = ':'
              = file_field :avatar, :uploaded_data, :size => "20"

          #yui-main
            .yui-b
              %h3 About Me
              = text_area :user, :description, :class => "rich_text_editor", :style => "width:40%"
        
              

              .xbox
                - mh = @user.moniker_hash
                %h3 Teams
                = text_field_with_auto_complete :user, :moniker_teams_tag_list, {:autocomplete => "off"}, {:url => { :controller => 'tags', :action => 'auto_complete_for_tag_name'}, :tokens => [',']  }
                %h3 Sports
                = text_field_with_auto_complete :user, :moniker_sports_tag_list, {:autocomplete => "off"}, {:url => { :controller => 'tags', :action => 'auto_complete_for_tag_name'}, :tokens => [',']  }
                %h3 Music
                = text_field_with_auto_complete :user, :moniker_music_tag_list, {:autocomplete => "off"}, {:url => { :controller => 'tags', :action => 'auto_complete_for_tag_name'}, :tokens => [',']  } 
                %h3 Movies
                = text_field_with_auto_complete :user, :moniker_movies_tag_list, {:autocomplete => "off"}, {:url => { :controller => 'tags', :action => 'auto_complete_for_tag_name'}, :tokens => [',']  }
                
              .xbox
                %h3 Personal Tags
                #user_tags
                  = text_field_tag 'tag_list', @user.tags.collect{|t| t.name}.join(", "), {:autocomplete => "off"}
                  #tag_list_auto_complete.auto_complete
                  = auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [',']  }
                  %label
                    %em
                      You could tag yourself
                      - if @user.vendor?
                        "custom, friendly, local"
                      - else
                        = AppConfig.meta_keywords.split(",")[0..3].join(", ")
                      %br
                      Tags are comma-separated keywords that describe you.
                      %br
                      You can browse all content and users on
                      = AppConfig.community_name
                      by looking at the
                      = link_to "tags page", tags_path

              %p
                = submit_tag 'Save Changes'
