.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        My Account
      = "#{current_user.admin? ? @user.full_name : current_user.full_name}"
  .leftNavCol
    %h2.yellowHeader
      = _('My Profile')
    .leftNav
      =render :partial => "users/profile_nav"
  .listings
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          Billing Information
      .contentBoxContent.edit-profile
          
        %form{:action => '/users/update_billing', :method => :post}
          = error_messages_for :credit_card, :merchant_credit_card, :billing_address, :user, :object_name => 'Credit Card'
        
          = hidden_field_tag "id", @user.id
          
          %label{"for"=>"firstname"}
            * First Name
            %br
            = text_field :credit_card, :first_name

          %br
          %label{"for"=>"lastname"}
            * Last Name
            %br
            = text_field :credit_card,:last_name

          %fieldset.inline
            %label{"for"=>"expiration_date"}
              * Expiration Date:
              %br/
              %table
                %tr
                  %td
                    =collection_select(:credit_card, :year, cc_years,"number","name",{:prompt => '-Year-', :selected => @credit_card.year })
                  %td
                    =collection_select(:credit_card, :month, cc_months,"number","name",{:prompt => '-Month-', :selected => @credit_card.month })

          %label{"for"=>"number"}
            * Card Number
            %br
            = text_field :credit_card, :number, :size => 16, :maxlength => 16, :value => cc_displayable_fill(@credit_card)

          %br
          %label{"for"=>"verification_value"}
            * Verification number
            %br
            = text_field :credit_card, :verification_value, {:size => 4, :maxlength => 4, :value => "***" }
        
          - if @billing_address.nil? || @billing_address.new_record?
            %fieldset.inline
              %input{:type => 'checkbox', :checked => 'checked', :name => 'skip_billing_address', :id => 'skip_billing_address', :onclick => "this.checked ? $$('#billingAddress')[0].hide() : $$('#billingAddress')[0].show()"}
              %label{:for => 'skip_billing_address'}
                Use primary account address as billing address
          - elsif @billing_address
            = hidden_field_tag 'billing_address[id]', @billing_address.id
        
          %div{:id => 'billingAddress', :style => "display: #{@billing_address.nil? || @billing_address.new_record? ? 'none' : 'block'}"}
        
            %br
            %label{:for=>'address1'}
              Address Line 1
              %br/
              = text_field :billing_address, :address1

            %br
            %label{:for=>'address2'}
              Address Line 2
              %br/
              = text_field :billing_address, :address2

            %br
            %label{:for=>'city'}
              City
              %br/
              = text_field :billing_address, :city

            %br
            %label{:for => 'state'}
              State
              %br/
              =collection_select(:billing_address ,:state , State.all,"name","name", { :prompt => 'State', :selected => ( (!@billing_address.nil? && @billing_address.state?) ? @billing_address.state : '') })

            %br
            %label{:for=>'zip'}
              Zip/Postal Code
              %br/
              = text_field :billing_address, :zip
            / end of billing address
        
          %p
            = submit_tag 'Save Changes'
