- page_title = 'User Information'
- case @requested_role
  - when Role[:team].id
    -page_title = 'School / Club Information'
  - when Role[:league].id
    -page_title = 'League / Conference Information'
  - when Role[:scout].id
    -page_title = 'Scout / Recruiter Information'
  - else #when Role[:member].id
    -page_title = 'User Information'

.RegContent
  -# Do not show the sidebar if there is a logged in user. They will have the "MY TOOLS" menu displayed here
  - unless current_user
    .SideBar
      %h1
        Registration
      %p= link_to "Already have an account?", "/login"
      
  .RegistrationContent
    .RegistrationTrail
      PART 1: ACCOUNT TYPE &raquo; 
      %span.RegistrationComplete
        PART 2: USER INFORMATION &raquo;
      PART 3: BILLING INFORMATION
  
    = error_messages_for :user, :team, :league, :promotion, :object_name => page_title
    
    %p
      %br/
      .bothCols
        %div{ :style => "float: right; text-align: right" }
          (* = required information)
        %h1
          Part 2: 
          =page_title
          
        %br/
        .contentBox{ :style => "margin-bottom: 0px" }
          - case @requested_role
            - when Role[:team].id
              You are registering as the administrator of your school's/club's Global Sports account.
              Please provide your personal info, as well as your organization's info below.
              This will create your personal profile and your school's public front-page that you, as the administrator, can customize and manage.
            - when Role[:league].id
              / No content yet
            - when Role[:scout].id
              / No content yet
            - else #when Role[:member].id
              / No content yet

    -# form_for :user, :url => users_path, :html => {:class => 'userForm'} do |f|
    - form_tag 'create' do |f|
    
      .mainCol1
        .contentBox
          %hr 
          
          %nobr
            %span.section-head 
              - case @requested_role
                - when Role[:team].id
                  Administrator Information
                - else
                  Your Information
          %br
          %br

          Please enter your personal information here.
          Your address info will not be shown publicly.

          %br
          %br
          %table
            %tr
              %td.field-block 
                %label.required{"for"=>"firstname"} 
                  * First Name
                %br
                = text_field :user, :firstname, :size => 12
              %td.field-block 
                %label{"for"=>"minitial"} 
                  M.I.
                %br
                = text_field :user, :minitial, :size => 1
              %td.field-block 
                %label.required{"for"=>"lastname"} 
                  * Last Name
                %br
                = text_field :user, :lastname, :size => 16
      
          %table
            %tr
              %td.field-block            
                %label.required{"for"=>"address1"} 
                  * Address Line One
                %br
                = text_field :user, :address1, :size => 16
              %td.field-block
                %label{"for"=>"address2"} 
                  Address Line Two
                = text_field :user, :address2, :size => 16
        
          %table
            %tr
              %td.field-block
                %label.required{"for"=>"city"} 
                  * City
                %br
                = text_field :user, :city, :size => 16
    
              %td.field-block
                %label.required{"for"=>"zip"} 
                  * Zip/Postal Code
                = text_field :user, :zip, :size => 12

          %table
            %tr
              %td.field-block
                %label.required{"for"=>"state"} 
                  * State
                %br
                =collection_select(:user ,:state_id,State.all(:order => "name asc"),"id","name", { :prompt => 'State'})


              %td.field-block
                %label.required{"for"=>"country"} 
                  * Country
                %br
                =collection_select(:user ,:country_id ,Country.all,"id","name", { :prompt => 'Choose Country'})

          .field-block
            %label.required{"for"=>"phone"} 
              * Phone
            %br
            = text_field :user, :phone, :size => 14
          
          %br
          %br
          
          %hr  
          .section-head Username and Password
          %br
            
          %table
            %tr
              %td.field-block
                %label.required{"for"=>"email"}
                  * E-mail address
                %br
                = text_field :user, :email, :size => 24
        
          %table
            %tr
              %td.field-block
                %label.required{"for"=>"password"}
                  * Choose a password
                %br
                = password_field :user, :password, :size => 18
        
              %td.field-block
                %label.required{"for"=>"password_confirmation"}
                  * Re-type password
                %br
                = password_field :user, :password_confirmation, :size => 18
          
          %br
        
          Your e-mail address will be your username.
          Passwords should be 8-10 characters 
          in length and contain at least one number and
          one non-alphabetic character.
          
          %br
          %br
          
          .field-block
            %label.required{"for"=>"birthdate"}
              * Birthday:
              %em (you must be at least 13 years old to sign up.)
            %br
            = date_select :user, :birthday, {:start_year => 1926, :end_year => Time.now.year - 13}          
          
      .mainCol2
        .contentBox

          -# Team/League Stuff
        
          - case @requested_role
            - when Role[:team].id
              =render :partial => 'new_team'
            - when Role[:league].id
              = render :partial => "new_league"
            - when Role[:scout].id
              = render :partial => "new_scout"
            - else #when Role[:member].id
              = render :partial => "new_member"
          %br
          %br
          %hr  
          .section-head Promotion Code
          %br
            
          %table
            %tr
              %td.field-block
                %label{"for"=>"promo_code"}
                  If you have a promotion code, enter it in the box below.
                %br
                = text_field_tag :promo_code, params[:promo_code], :size => 24
          
          %br
          %br
          = hidden_field_tag :inviter_id, session[:inviter_id]
          = hidden_field_tag :inviter_code, session[:inviter_code]
          = hidden_field_tag :role, @requested_role
          -#%p= submit_tag 'Sign up'
          .accountContinue2
            %p
              %input{ :name => "Continue", :type => "image", :src => "/gs/images/billing_continue.png", :value => "Continue", :alt => "Continue", :style => 'border: none' }


      %br{ :clear=>:left }
      


  
  