.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        Pay Per View Access
      - if current_user
        = " for #{current_user.full_name} &lt;#{current_user.email}&gt;"
  .listings
    .padded




      %table{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => '100%'}
        %thead
          %tr.yellowHeader
            %th.padded.contentBoxHeader ID
            %th.padded.contentBoxHeader VIDEO
            %th.padded.contentBoxHeader Cost
            %th.padded.contentBoxHeader Expiration

        %tbody
          - access_list = PPVAccess.for_user(current_user)
          - for ppv in access_list
            %tr.leagueList
              %td.leagueList= ppv.id
              %td.leagueList= "(#{ppv.video_id}) #{link_to((ppv.video.title rescue '-'), video_asset_path(ppv.video_id))}"
              %td.leagueList= ppv.cost
              %td.leagueList= ppv.expires
