.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        User Registrations
  .listings
    .padded
      %table{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => '100%'}
        %thead
          %tr.yellowHeader
            = sortable_table_header :class=>"padded sortableContentHeader", :name => "First",      :sort => "firstname"
            = sortable_table_header :class=>"padded sortableContentHeader", :name => "Last Name",  :sort => "lastname"
            = sortable_table_header :class=>"padded sortableContentHeader", :name => "(ID)",         :sort => "id"
            
            = sortable_table_header :class=>"padded sortableContentHeader", :name => "Billing",    :sort => 'memberships.billing_method'
            %th.padded.contentBoxHeader History
            %th.padded.contentBoxHeader Join Date
            %th.padded.contentBoxHeader Promotion
            %th.padded.contentBoxHeader Promo Code Expiry
            %th.padded.contentBoxHeader 
    
        %tbody
          - for user in @users
            %tr.leagueList
              
              %td.leagueList{ :colspan=>3 }
                - if user.team_admin?
                  - team_name = user.team.name rescue NoMethodError rescue RecordNotFound
                  = link_to "#{team_name} (#{user.team_id})", team_path(user.team_id), :class=>'admin-userreg-link-org'
                  %br
                - elsif user.league_admin?
                  - league_name = user.league.name rescue RecordNotFound rescue NoMethodError 
                  = link_to "#{league_name} (#{user.league_id})", league_path(user.league_id), :class=>'admin-userreg-link-org'
                  %br
                = link_to "#{h user.full_name} (#{user.id})", user_path(user.id), :class=>'admin-userreg-link-user'
                
              - mem = user.current_membership
              - if mem
                
                %td.leagueList
                  - if mem.billing_method == Membership::CREDIT_CARD_BILLING_METHOD
                    =link_to 'CC',:controller => :membership, :action => :member_billing_method_info ,:id => mem.id
                  - elsif mem.purchase_order
                    =link_to 'PO',:controller => :purchase_orders, :action => :show, :id => mem.purchase_order.id
                  - else
                    = mem.billing_method
                
                %td.leagueList= link_to 'History', :controller => :membership, :action => "member_billing_history", :id => mem.id
                %td.leagueList= h user.created_at.to_date
                - promo = mem.promotion
                - if promo
                  %td.leagueList= link_to mem.promotion.promo_code, "/users/edit_promotion/#{user.id}" #promotion_path(mem.promotion.id)
                  %td.leagueList= mem.expiration_date
                -else
                  %td.leagueList= link_to 'add', "/users/edit_promotion/#{user.id}"
                  %td.leagueList
                  
                %td.leagueList= link_to 'detail', "/membership/?user_id=#{user.id}"
              
      .apple_pagination
        = will_paginate @users
