- @section = @user.eql?(current_user) ? 'my_profile' : 'users'
- @sidebar_left = true


.profileContentArea
  .profilePageHeader
    %h1
      %span
        PROFILE
      = @user.full_name
  .leftNavCol
    %h2.yellowHeader
      My Profile
    .leftNav
      %ul
        %li.hilighted
          %a{ :href => "" }
            Test
        %li
          %a{ :href => "" }
            More test
          
      - if current_user && current_user.admin?  
        %br
        %ul
          %li= link_to( "Assume ID", assume_user_path(@user) )
          %li= link_to( "Delete user", user_path(@user), {:method => :delete, :confirm => 'Are you sure you want to permanently delete this user?'} )
          
          
            
            
            
            
  /
    col1 content
  .mainCol1
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "#", :onclick => "return profile_minimize(this)" }
            minimize -
        %h2.boxDescription
          Photo
      .contentBoxContent.topRowFixHeight
        = image_tag( @user.avatar_photo_url(:medium), :class => 'polaroid', :width => '215', :height => '215')
        - if !@user.avatar and @is_current_user
          %br
          No profile photo?
          = link_to "Click here to upload one!", edit_user_path(@user)
        
        
        
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "#", :onclick => "return profile_minimize(this)" }
            minimize -
        %h2.boxDescription
          About Me
      .contentBoxContent
        .profileFeature
          .profileInfo
            %span.profileSubHeading
              Gender:
            %br/
            %span.profileSubHeading
              Birthday:
            %br/
            - if @user.description
              = @user.description
            %br/
            %h2.profileHeading
              Favorites:
            %span.profileSubHeading
              Teams:
            team, team, team, team, team, team
            %br/
            %span.profileSubHeading
              Music:
            Acid speed jazz fusion.
            %br/
            %span.profileSubHeading
              Category:
            response
            %br/
            %span.profileSubHeading
              Category:
            response
            %br/
  
    =render :partial => "users/profile_friends"
    
          
  /
    col2 content
  .mainCol2
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "#", :onclick => "return profile_minimize(this)" }
            minimize -
        %h2.boxDescription
          My Files
      .contentBoxContent.topRowFixHeight
        .profileFeature.fileFeatures
          - unless @photos.empty?
            - @photos.each do |photo|
              .fileThumb
                = link_to image_tag( photo.public_filename(:thumb), :class => "fileName"), user_photo_path(@user, photo)
                %span
                  File na...
                
          .clearDiv.moreLinkArea
            -if @is_current_user
              %span.moreLink
                = link_to "more?", user_photos_path(@user)
              %span.moreLink
                = link_to "add?", new_user_photo_path(@user)
                
                
                
    =render :partial => "users/profile_favs"

       
  /
    col3 content
  .mainCol3
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "#", :onclick => "return profile_minimize(this)" }
            minimize -
        %h2.boxDescription
          Information
      .contentBoxContent
        .profileFeature
          .profileInfo
            %span.profileSubHeading
              Location:
            Verona Junction, TU
            %br/
            %span.profileSubHeading
              Contact:
            %a{ :href => "mailto:" }
              nobody@veronaHS.biz
            %br/
            %span.profileSubHeading
              Sponsor:
            Cadillac
            %br/
            %span.profileSubHeading
              Member Organization:
            Framing
            %br/
            %br/
            %h2.profileHeading
              Sports Played:
            %span.profileSubHeading
              Bocce:
            pallino
            %br/
            %span.profileSubHeading
              Cricket:
            wicket
            %br/
            %span.profileSubHeading
              Curling:
            center
            %br/
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "#", :onclick => "return profile_minimize(this)" }
            minimize -
        %h2.boxDescription
          Description
      .contentBoxContent
        .profileFeature.myClips
          .featureSummaryThumb
            %img{ :src => "/gs/placeholders/my_clip_thumb.jpg" }/
            %a{ :href => "" }
              %h3
                Headline ?
            %span.date
              Neverembuary 44, 1981
            %br/
          .featureSummaryThumb
            %img{ :src => "/gs/placeholders/my_clip_thumb.jpg" }/
            %a{ :href => "" }
              %h3
                Headline ?
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv.moreLinkArea
            %span.moreLink
              %a{ :href => "" }
                more?
                
                
    =render :partial => "users/profile_activity"
                
                
                
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "#", :onclick => "return profile_minimize(this)" }
            minimize -
        %h2.boxDescription
          Testimonials
      .contentBoxContent
        .profileFeature
          .profileInfo
            %a{ :href => "" }
              Johnny Boombatz
            said...
            %br/
            %span.testimonial
              lorem loremlorem lorem etc.
            %a{ :href => "" }
              Johnny Boombatz
            said...
            %br/
            %span.testimonial
              lorem loremlorem lorem etc.
          .clearDiv.moreLinkArea
            %span.moreLink
              %a{ :href => "" }
                write a testimonial for this person
              |
              %a{ :href => "" }
                see all testimonials?
  .clearDiv



