- @section = @user.eql?(current_user) ? 'my_profile' : 'users'
- @sidebar_left = true


.profileContentArea
  .profilePageHeader
    %h2.columnDescriptor
      %span
        PROFILE
      = @user.full_name
  .leftNavCol
    %h2.yellowHeader
      My Profile
    .leftNav
      =render :partial => "users/profile_nav"
          
        
            
  /
    col1 content
  .mainCol1
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "#", :onclick => "return profile_minimize(this)" }
            minimize -
        %h2.boxDescription
          Photo
      .contentBoxContent.topRowFixHeight
        = image_tag( @user.avatar_photo_url(:medium), :class => 'polaroid', :width => '215', :height => '215')
        - if !@user.avatar and @is_current_user
          %br
          No profile photo?
          = link_to "Click here to upload one!", edit_user_path(@user)
        
        
        
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "#", :onclick => "return profile_minimize(this)" }
            minimize -
        %h2.boxDescription
          About Me
      .contentBoxContent
        .profileFeature
          .profileInfo
            %span.profileSubHeading Gender:
            = "#{@user.gender}"
            %br/
            %span.profileSubHeading Birthday:
            ="#{@user.birthday.to_s(:readable)}"
            %br/
            - if @user.description
              = truncate_words(@user.description,25)
            %br/
            %br/
            %h2.profileHeading Favorites:
            %span.profileSubHeading Teams:
            - if @user.moniker_hash["teams"]
              = "#{@user.moniker_hash["teams"].join(', ')}"
            %br/
            %span.profileSubHeading Music:
            - if @user.moniker_hash["music"]
              = "#{@user.moniker_hash["music"].join(', ')}"
            %br/
            - for mname in @user.moniker_hash.keys
              - next if (mname == "music" || mname == "sports" || mname == "teams")
              %span.profileSubHeading= "#{mname.capitalize}:"
              = "#{@user.moniker_hash[mname].join(', ')}"
              %br/
  
    =render :partial => "users/profile_friends"
    
          
  /
    col2 content
  .mainCol2
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "#", :onclick => "return profile_minimize(this)" }
            minimize -
        %h2.boxDescription
          My Files
      .contentBoxContent.topRowFixHeight
        .profileFeature.fileFeatures
          - unless @photos.empty?
            - @photos.each do |photo|
              .fileThumb
                = link_to image_tag( photo.public_filename(:thumb), :class => "fileName"), user_photo_path(@user, photo)
                %span
                  File na...
                
          .clearDiv.moreLinkArea
            -if @is_current_user
              %span.moreLink
                = link_to "more?", user_photos_path(@user)
              %span.moreLink
                = link_to "add?", new_user_photo_path(@user)
                
                
                
    =render :partial => "users/profile_favs"

       
  /
    col3 content
  .mainCol3
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "#", :onclick => "return profile_minimize(this)" }
            minimize -
        %h2.boxDescription
          Information
      .contentBoxContent
        .profileFeature
          .profileInfo
            %span.profileSubHeading Location:
            = "#{@user.city}, #{@user.state_id ? @user.state.name : ''}"
            %br/
            %span.profileSubHeading Team:
            ="#{@user.team_name}"
            %br/
            %span.profileSubHeading League:
            = "#{@user.league_name}"
            %br/
            %br/
            %h2.profileHeading Sports Played:
            - if @user.moniker_hash["sports"]
              %span.profileSubHeading= "#{@user.moniker_hash["sports"].join(', ')}"
            %br/
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "#", :onclick => "return profile_minimize(this)" }
            minimize -
        %h2.boxDescription
          Description
      .contentBoxContent
        .profileFeature.myClips
          .featureSummaryThumb
            %img{ :src => "/gs/placeholders/my_clip_thumb.jpg" }/
            %a{ :href => "" }
              %h3
                Headline ?
            %span.date
              Neverembuary 44, 1981
            %br/
          .featureSummaryThumb
            %img{ :src => "/gs/placeholders/my_clip_thumb.jpg" }/
            %a{ :href => "" }
              %h3
                Headline ?
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv.moreLinkArea
            %span.moreLink
              %a{ :href => "" }
                more?
                
                
    =render :partial => "users/profile_activity"
                
                
    =render :partial => "users/profile_testify"
     
     
  .clearDiv



