.profileContentArea
  .profilePageHeader
    %h2.columnDescriptor
      %span
        = "Welcome to #{AppConfig.community_name}, #{@user.full_name}!"

  .listings
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          Your Next Steps

    .listingItem
      Your credit card has been successfuly charged
      = number_to_currency(@user.role.plan.cost)
      and this charge will occur every month about this time.
      It will appear on your credit card statement as
      = "'#{AppConfig.community_name}'."

    .listingItem

      We have sent an email to the email address you provided
      during registration. Please take a look around for it, check
      your spam folder just in case. Make sure to add the
      = AppConfig.community_name
      sender to your contacts list so
      you continue to get important information about your
      account.

    .listingItem
      Head on over and
      = link_to "start filling out your profile.", edit_user_path(@user)
      You can upload a picture, find your friends, tag your self,
      and look at some of the cool videos we have.
