- @user ||= current_user
.profileContentArea
  .signupCompletedContent
    .contentLeftBox
      %h2.columnDescriptor
        = "Welcome to #{AppConfig.community_name}, #{@user.full_name}!"

      .registrationCompleteTitle 
        Your registration is complete!


      - if @user.role.plan
        %p
          This page will server as your Confirmation of Membership as
          well as the receipt for your first month's membership fee of
          = "#{number_to_currency(@user.role.plan.cost)}."
          This charge will occur monthly around this date.
          It will appear on your credit card statement as
          ="\"#{AppConfig.community_name}.\""

      %p 
        We have sent an email to the email address you provided
        during registration. Please take a look around for it, check
        your spam folder just in case. Make sure to add the
        = AppConfig.community_name
        sender to your contacts list so
        you continue to get important information about your
        account.


    .contentRightBox

      .startUsingTitle
        Start Using the Site:
  
      %p
        Now that you've registered, dive right in to using the site.  
        Complete your profile with your information and interests.  
        Than upload photos, create a blog, visit the forums, and find your friends.
      %p
        After you've completed your profile, check out our full game videos.  
        Create clips, reels, and highlights of all your best movies.

      - case @user.role_id
      - when Role[:team].id
        .myProfileButton
          = link_to 'Team Profile', edit_team_path(@user.team)
      - when Role[:league].id
        .myProfileButton
          = link_to 'League Profile', edit_league_path(@user.league)
      - else
        .myProfileButton
          = link_to 'My Profile', user_path(@user)
          