.AthletesWeek
  = image_tag(story.image_thumbnail_for_post, {:title => h(story.title), :alt => h(story.title), :height => '65', :width => '103', :class => 'AthletesPic'})
  .AthletesDescrip
    %p
      %strong= "#{truncate(h(story.title),55)}"
        
    %p= "#{story.published_at.to_s(:readable)}"

  = image_tag(story.logo_thumbnail_for_post, {:title => h(story.logo_title), :alt => h(story.logo_title), :height => '65', :width => '65', :class => 'AthletesLogo'})
