.videoFindChat
  - form_for :search_video_asset, VideoAsset.new, :url => {:controller => 'search', :action => 'quickfind' }, :html => {:id=>'videoFind'} do |f|
    .videoFind
      =collection_select("search_video_asset","game_date",VideoAsset.seasons(),"year","year",{:prompt => '-Season-', :selected => '-Season-'}, {:id => "videoFindSeason", :name => 'season'})
      %label.verbalSemantic{ :for => "videoFindSeason" }
        Season
      =collection_select("team","state_id",Team.states(),"state_id","state_name", {:prompt => "-State-", :selected => "-State-"}, {:id => 'videoFindState', :name => 'state'})
      %label.verbalSemantic{ :for => "videoFindState" }
        State
      =collection_select("team","county_name",Team.counties(),"county_name","county_name",{:prompt => "-County-", :selected => "-County-"}, {:id => 'videoFindCounty', :name => 'county_name'})
      %label.verbalSemantic{ :for => "videoFindCounty" }
        County
      =collection_select("league","id",League.find(:all),"id","name",{:prompt => "-League-", :selected => '-League-'}, {:id => 'videoFindLeague', :name => 'league'})
      %label.verbalSemantic{ :for => "videoFindLeague" }
        League
      =collection_select("search_video_asset","sport",VideoAsset.sports(),"sport","sport",{:prompt => "-Sport-", :selected => '-Sport-'}, {:id => 'videoFindSport', :name => 'sport'})
      %label.verbalSemantic{ :for => "videoFindSport" }
        Sport
      %input#videoFindSubmit.submit{ :name => "submit", :src => "/gs/images/video_find_submit.gif", :type => "image", :value => "search", :alt => "Search" }/
      %label.verbalSemantic{ :for => "videoFindSubmit" }
        Video Find
  .chat
    /
      note that this seemingly overcomplicated layout helps the text scale nicely when the user increases the font size
    .chatHeader
      %div
        %span
          CHAT
    .chatTools
      /
        note that this seemingly overcomplicated layout helps the text scale nicely when the user increases the font size
      .chatAlert
        %div
          %span.chatNotify
            %span.chatInfo
              Coming Soon...
            -#%a.popLink{ :href => "#" }
    .chatToolLinks
      =link_to "send invites", new_user_invitation_path(current_user)
      |
      =link_to "my account", edit_account_user_path(current_user.id), :id => 'user-menu'
      |
      - unread = Message.unread(current_user)
      - mcount = (unread > 0) ? "(#{unread})" : ''
      =link_to "mailbox #{mcount}", messages_path()


#user-menu-tip
  -if current_user.admin?
    %ul
      %li=link_to 'Admin', admin_dashboard_path               
    %hr
    
  %ul   
    %li= link_to('Upload Video', new_video_asset_path) if (current_user.can_upload?)
    %li= link_to('Manage Staff', staffs_path) if (current_user.team_admin? || current_user.league_admin?)
    
    %li= link_to 'Dashboard', "#{dashboard_user_path(current_user)}"
    %li
      %nobr
        = link_to 'Profile', user_path(current_user)
        = link_to '(edit)', edit_user_path(current_user)

    %li= link_to 'Account', edit_account_user_path(current_user)    
  %hr
  %ul
    %li My...
    %li= link_to '&nbsp;Videos', url_for(:controller => 'search', :action => 'my_video_assets')
    %li= link_to '&nbsp;&nbsp;Clips', url_for(:controller => 'search', :action => 'my_video_clips')
    %li= link_to '&nbsp;&nbsp;Reels', url_for(:controller => 'search', :action => 'my_video_reels')
    %li= link_to '&nbsp;Friends', accepted_user_friendships_path(current_user)
    %li= link_to '&nbsp;Photos', user_photos_path(current_user)
    %li= link_to '&nbsp;Posts', manage_user_posts_path(current_user)
    %li= link_to 'Forums', forums_path
  %hr
  %ul
    =link_to 'Logout', logout_path


%script{:type => "text/javascript"}
  :plain
    new Tip('user-menu', $('user-menu-tip'), {
      hook:{target: 'bottomRight', tip: 'topRight'},
      hideOn: false, 
      hideAfter: 0.4,  
      className: 'gs',
      offset: {y:2, x:12}
      });





