.util

.header
  %h1.headerBrand
    Global Sports
    
  .headerLogin
    - form_tag sessions_path, :class => 'MainForm' do
      %label{"for"=>"login"} Email Address
      %br
      = text_field_tag 'login', nil, :size => 25
      %br
      %label{"for"=>"password"} Password
      %br
      = password_field_tag 'password', nil, :size => 15
      = submit_tag 'Log in'
      %br
      %nobr
        %label{"for"=>"remember_me"}
          = check_box_tag 'remember_me'
          Remember me
      %nobr
      %br
      =link_to 'Sign Up', register_path
      ="|"
      =link_to 'Forgot Password?', forgot_password_path

  .clearDiv



%div
  %a{ :href => '/info/about' }
    About Global Sports
  |
  = link_to 'Membership', ''
  |
  = link_to 'Registration', register_path



