- if @show_weekly_feature
  .weeklyFeature
    - if @featured_game_for_team
      .featureCol.featureVertRule.featureFloat.weeklyCol1
        %span.yellowHeader
          %h3= "#{truncate_words(@featured_team.name,1)} Game Of The Week"
        .featureSummaryThumb.featureFIT
          = link_to "<img src='#{@vidavee.file_thumbnail_medium(@featured_game_for_team.dockey)}' title='#{h(@featured_game_for_team.title).gsub(/\'/,'')}' alt='Video'/>", video_asset_path(@featured_game_for_team)
        .featureText
          - if @featured_game_for_team.visiting_team_name && @featured_game_for_team.home_team_name
            %h3= "#{@featured_game_for_team.visiting_team_name} vs #{@featured_game_for_team.home_team_name}"
          - else
            %h3= "#{@featured_game_for_team.team.name}"
          %span.sportName= "#{(@featured_game_for_team.sport? ? @featured_game_for_team.sport.capitalize : '')}"
          %br/
          %span.date= human_date(@featured_game_for_team.game_date)
          %br/
        .clearDiv
    - if @featured_athletes_for_team && @featured_athletes_for_team.any?
      .featureCol.featureVertRule.featureFloat.weeklyCol2
        %span.yellowHeader
          %h3
            = "#{truncate_words(@featured_team.name,1)} Athletes Of The Week"
        - for athlete in @featured_athletes_for_team
          .featureSummaryThumb.featureFIT
            - if (athlete.image_thumbnail_for_post)
              = link_to image_tag(athlete.image_thumbnail_for_post, {:title => h(athlete.title), :alt => "Athlete Of The Week Photo"}), user_post_path(athlete.user_id,athlete)
          .featureText
            %h3= truncate(h(athlete.title),20)
            %br/
            %span.date= human_date(athlete.published_at)
            %br/
        .clearDiv
    - if @featured_athletes_for_league && @featured_athletes_for_league.any?
      .featureCol.featureFloat.weeklyCol3
        %span.yellowHeader
          %h3
            League Highlights
          - for fa in @featured_athletes_for_league
            .featureText
              %span.profileSubHeading
                = truncate(h(fa.title),35)
                = link_to('more?', user_post_path(fa.user_id,fa))
        %a.arrowButton{ :href => league_path(@featured_athletes_for_league.first.user.league_id) }
          %img{ :src => "/gs/images/top_nav_search.gif", :alt => "More" }/
