.videoFindChat
  .videoFind
    - form_for :video_asset, VideoAsset.new, :url => {:controller => 'search', :action => 'quickfind' } do |f|
      %select#videoFindSeason{ :name => "season" }
        %option{ :value => "" }
          \-Season-
        %option{ :value => "" }
          Option
        %option{ :value => "" }
          Option
        %option{ :value => "" }
          Option
      %label.verbalSemantic{ :for => "videoFindSeason" }
        Season
      =collection_select("video_asset","state_id",VideoAsset.states(),"state_id","state.name", {:prompt => "-State-", :selected => params[:state] || "-State-"}, {:id => 'video_findState', :name => 'state'})
      %label.verbalSemantic{ :for => "videoFindState" }
        State
      =collection_select("video_asset","county_name",VideoAsset.counties(),"county_name","county_name",{:prompt => "-County-", :selected => params[:county_name] || "-County-"}, {:id => 'videoFindCounty', :name => 'county_name'})
      %label.verbalSemantic{ :for => "videoFindCounty" }
        County
      =collection_select("league","id",League.find(:all),"id","name",{:prompt => "-League-", :selected => params[:league] || "-League-"}, {:id => 'video_findLeague', :name => 'league'})
      %label.verbalSemantic{ :for => "videoFindLeague" }
        League
      =collection_select("video_asset","sport",VideoAsset.sports(),"sport","sport",{:prompt => "-Sport-", :selected => params[:sport] || "-Sport-"}, {:id => 'video_findSport', :name => 'sport'})
      %label.verbalSemantic{ :for => "videoFindSport" }
        Sport
      %input#videoFindSubmit.submit{ :name => "submit", :src => "/gs/images/video_find_submit.gif", :type => "image", :value => "search", :alt => "Search" }/
      %label.verbalSemantic{ :for => "videoFindSubmit" }
        Video Find
  .chat
    /
      note that this seemingly overcomplicated layout helps the text scale nicely when the user increases the font size
    .chatHeader
      %div
        %span
          CHAT
    .chatTools
      /
        note that this seemingly overcomplicated layout helps the text scale nicely when the user increases the font size
      .chatAlert
        %div
          %span.chatNotify
            %span.chatInfo
              1 NEW from Mike J...
            %a.popLink{ :href => "#" }
              pop out +
    .chatToolLinks
      =link_to "send invites", '/invite'
      |
      =link_to "my account", edit_account_user_path(current_user), :id => 'user-menu'
      |
      - unread = Message.unread(current_user)
      - mcount = (unread > 0) ? "(#{unread})" : ''
      =link_to "mailbox #{mcount}", messages_path()






#user-menu-tip
  %ul
    %li= link_to('Admin', admin_dashboard_path) if current_user.admin?
  %hr
  %ul
    %li= link_to "Dashboard", dashboard_user_path(current_user) 
    %li= link_to "Edit account", edit_account_user_path(current_user)          
    %li= link_to "View profile", user_path(current_user)                  
  %hr
  %ul
    %li= link_to 'Blog', manage_user_posts_path(current_user)
    %li= link_to 'Photos', user_photos_path(current_user)
    %li= link_to 'Clippings', user_clippings_path(current_user)
    %li= link_to 'Friends', accepted_user_friendships_path(current_user)        
  %hr
  =link_to 'Log out', logout_path

%script{:type => "text/javascript"}
  :plain
    new Tip('user-menu', $('user-menu-tip'), {
      hook:{target: 'bottomRight', tip: 'topRight'},
      hideOn: false, 
      hideAfter: 1.5,  
      className: 'gs',
      offset: {y:2, x:12}
      });

