.header
  %a.headerLink{ :href => '/' }
    %h1.headerBrand
      Global Sports
  .headerPosition2
    .structuralContainer
      %div
        - if AdSlot.header_slot2_is_logo(current_user)
          = link_to AdSlot.header_slot2_img_tag(current_user),team_path(current_user.team)
        - else
          = render :partial => "shared/top_ad"
  .headerPosition1
    .structuralContainer
      %div
        - if AdSlot.header_slot1_is_logo(current_user)
          = link_to AdSlot.header_slot1_img_tag(current_user),league_path(current_user.league)
        - else
          = render :partial => "shared/top_ad"
  .headerAccountControl
    .headerAccountControlLinks
      %span
        Logged in as 
        = current_user.full_name
        =link_to 'logout', logout_path, :class=>'logout'
  .clearDiv

