= render :partial  => 'shared/non_tellart_scripts'
= stylesheet_link_tag '/gs/styles/main.css'
= render :partial => 'shared/tellart_ie6_hack'
= javascript_include_tag '/gs/scripts/swfobject/swfobject.js'
= javascript_include_tag '/gs/scripts/mailbox.js'
= javascript_include_tag '/gs/scripts/profile.js'
= javascript_include_tag '/gs/scripts/registration.js'
  
