<%- zone ||= (current_user ? current_user.ad_zone : 1) %>
<a href='<%=request.protocol%><%=AD_SERVER_BASE%>/ck.php?n=af04abdb&amp;cb=<%=rand(100000)%>' target='_blank'><img src='<%=request.protocol%><%=AD_SERVER_BASE%>/avw.php?zoneid=<%=zone%>&amp;cb=<%=rand(100000)%>&amp;n=af514a39' style='border: none' alt='' /></a>