- listing ||= false

- if listing
  - link = video_path(video_listing) #VideoClip === video_listing ? user_video_clip_path(video_listing.user_id,video_listing) : VideoReel === video_listing ? user_video_reel_path(video_listing.user_id,video_listing) : video_asset_path(video_listing)
  %div
    = link_to image_tag('/images/listing_icons/play.png', :mouseclick => '/images/listing_icons/sel-play.png', :border=>0, :alt => 'Watch Video', :title => 'Watch Video'), link, :class => 'listingButton'
    
-# if (VideoAsset === video_listing) and (video_listing.can_download?(current_user))
  - link = video_listing.download_url()
  %div
    = link_to image_tag('/images/listing_icons/download.png', :mouseclick => '/images/listing_icons/sel-download.png', :border=>0, :alt => 'Download Video', :title => 'Download Video'), link, :class => 'listingButton'

- controller = video_controller(video_listing) #VideoClip === video_listing ? 'video_clips' : VideoReel === video_listing ? 'video_reels' : 'video_assets'
- if !@restrict
  %div
    = link_to image_tag('/images/listing_icons/share.png', :mouseclick => '/images/listing_icons/sel-share.png', :border=>0, :alt => 'Share', :title => 'Share'), {:controller => controller, :action => 'share', :id => video_listing.id, :userid => video_listing.user_id}, :class => 'listingButton'

- if !listing || (current_user && !current_user.can_edit?(video_listing))
  - if VideoAsset === video_listing 
    - if video_listing.league_video?
      %div
        = link_to image_tag('/images/listing_icons/profile.png', :mouseclick => '/images/listing_icons/sel-profile.png', :border=>0, :alt => 'League Profile', :title => 'League Profile'), league_path( video_listing.league_id ), :class => 'listingButton'
    - else
      %div
        = link_to image_tag('/images/listing_icons/profile.png', :mouseclick => '/images/listing_icons/sel-profile.png', :border=>0, :alt => 'School Profile', :title => 'School Profile'), team_path( video_listing.team_id), :class => 'listingButton'
  - elsif video_listing.user && current_user && current_user.id != video_listing.user_id
    %div
      = link_to image_tag('/images/listing_icons/profile.png', :mouseclick => '/images/listing_icons/sel-profile.png', :border=>0, :alt => 'User Profile', :title => 'User Profile'), user_path( video_listing.user.id ), :class => 'listingButton'

= render :partial => 'shared/favorite_listing', :locals => { :item => video_listing }

- if !listing
  - if video_listing.user && current_user.can_send_message_to?(video_listing.user)
    %div
      = link_to image_tag('/images/listing_icons/message.png', :mouseclick => '/images/listing_icons/sel-message.png', :border=>0, :alt => 'Send Message', :title => 'Send Message'), new_message_path(:to => video_listing.user.id, :title => "Your reel '#{video_listing.title}'"), :class => 'listingButton'

- if current_user && current_user.can_edit?(video_listing)
  - link = edit_video_path(video_listing) #VideoClip === video_listing ? edit_user_video_clip_path(video_listing.user_id,video_listing) : VideoReel === video_listing ? edit_user_video_reel_path(video_listing.user_id,video_listing) : edit_video_asset_path(video_listing)
  %div
    = link_to image_tag('/images/listing_icons/edit.png', :mouseclick => '/images/listing_icons/sel-edit.png', :border=>0, :alt => 'Edit', :title => 'Edit'), link, :class => 'listingButton'
  %div
    - if current_user.admin? || !(VideoAsset === video_listing) || video_listing.gamex_league_id.nil?
      = link_to_remote image_tag('/images/listing_icons/delete.png', :mouseclick => '/images/listing_icons/sel-delete.png', :border=>0, :alt => 'Delete', :title => 'Delete'), {:url => url_for(video_listing), :confirm => 'Are you sure?', :method => :delete},  :class=>'listingButton'
- else
  = render :partial => 'shared/inappropriate_listing', :locals => { :item => video_listing }

