- @section = (params[:metro_area_id] ? 'metro_area' : 'users')


#yui-main
  .yui-b
    .box.user_list
      %h3= "#{AppConfig.community_name} Billing Central"
      %h3= "#{AppConfig.community_name} Memberships"

  
      %br.clear
      %table{:border => 1}
        %tr
          %th Membership Name 
          %th Billing Method
          %th Cost
          %th Joined
          %th Users
          %th History
        = render :partial => "billing/membership", :collection => @memberships
      
      %br.clear
      %h3= "#{AppConfig.community_name} Users"
      %table{:border => 1}
        %tr
          %th User Name
          %th Joined
          %th Enabled
          %th Member of
        = render :partial => "billing/userlist", :collection => @users
