%h1 Upload a new video

- form_for(:video_asset, @video_asset,:html => {:multipart => true}, :url => {:controller => 'vidapi' , :action => 'save_video'} ) do |f|

  = f.error_messages

  %p
    = f.label :title
    %br/
    = f.text_field :title

  %p
    = f.label :description
    %br/
    = f.text_field :description

  %p
    = f.label :sport
    %br/
    = f.text_field :sport

  %p
    =f.label :game_date
    %br/
    =f.text_field :game_date

  %p
    = f.label :video
    %br/
    = f.file_field :video

  %p
    = f.submit "Upload"

