- user = friendship.friend

.listingItem
  .listingImage
    = link_to image_tag( user.avatar_photo_url(:thumb), :class => "polaroid" ), user_path(user)
  .listingDescription
    %h4
      = user.full_name
    = friendship.friendship_status.name
    .schoolName
      = "#{h user.team.name}"
    .recentFriendFeed
      = "#{user.description}"

  %ul.listingActions
    - friendship_control_links(friendship).each do |anchor, href, options|
      %li
        -#link_to anchor, href, options
        %a.genericButton{ :href => href  }
          %span
            = anchor

  .clearDiv
.clearDiv