- user = friendship.friend

.listingItem
  .listingImage
    = link_to image_tag( user.avatar_photo_url(:thumb), :class => "polaroid" ), user_path(user)
  .listingDescription
    %h4
      = user.full_name
    - if friendship.friendship_status == FriendshipStatus[:accepted]
      = "Friends since #{human_date friendship.created_at}"
    - else
      = friendship.friendship_status.name
    .schoolName
      = "#{h user.team.name}"
    .recentFriendFeed
      = "#{user.description}"

  %ul.listingActions
    - friendship_control_links(friendship,owner||current_user,current_user).each do |anchor, href, options|
      %li
        = link_to anchor, href, options
    - if current_user.can_request_friendship_with(friendship.friend)
      %li
        = add_friend_button(friendship.friend)
    

  .clearDiv
.clearDiv