- user = friendship.friend
- owner = owner || @user || current_user

.listingBox-2cols{:id => "friend_#{user.id}"}
  .frameTop
  .col1
    .thumb.thumb-tall
      = link_to image_tag( user.avatar_photo_url(:thumb)), user_path(user)
    .listingBoxContent
      .title
        = user.full_name
    
      - if friendship.friendship_status == FriendshipStatus[:accepted]
        = "Friends since #{human_date friendship.created_at}"
      - elsif friendship.friendship_status == FriendshipStatus[:pending]
        Friendship requested 
        = time_ago_in_words friendship.created_at
      - else
        = friendship.friendship_status.name
      .schoolName
        = "#{h user.team.name}"
      .recentFriendFeed
        = "#{user.description}"
  .col2
    .listingBoxActions
      = link_to image_tag('/images/listing_icons/profile.png', :mouseclick => '/images/listing_icons/sel-profile.png', :border=>0, :alt => 'User Profile', :title => 'User Profile'), user_path( user.id ), :class => 'listingButton'
      - if (current_user.id == owner.id)
        - if friendship.user_id == current_user.id
          - if friendship.friendship_status_id == FriendshipStatus[:pending].id
            - if !friendship.initiator?
              = link_to image_tag('/images/listing_icons/add.png', :mouseclick => '/images/listing_icons/sel-add.png', :border=>0, :alt => 'Accept', :title => 'Accept'), accept_user_friendship_path(friendship.user, friendship), :method => 'put', :class => 'listingButton'
              = link_to image_tag('/images/listing_icons/inappropriate.png', :mouseclick => '/images/listing_icons/sel-inappropriate.png', :border=>0, :alt => 'Deny', :title => 'Deny'), deny_user_friendship_path(friendship.user, friendship), :method => 'put', :class => 'listingButton'
          - elsif friendship.friendship_status_id == FriendshipStatus[:accepted].id
            = link_to image_tag('/images/listing_icons/message.png', :mouseclick => '/images/listing_icons/sel-message.png', :border=>0, :alt => 'Send Message', :title => 'Send Message'), new_message_path(:to => friendship.friend.id), :method => 'put', :class => 'listingButton'
            = link_to image_tag('/images/listing_icons/delete.png', :mouseclick => '/images/listing_icons/sel-delete.png', :border=>0, :alt => 'Remove this friend', :title => 'Remove this friend'), deny_user_friendship_path(friendship.user, friendship), :method => 'put', :class => 'listingButton'
          - elsif friendship.friendship_status_id == FriendshipStatus[:denied].id
            = link_to image_tag('/images/listing_icons/add.png', :mouseclick => '/images/listing_icons/sel-add.png', :border=>0, :alt => 'Accept this request', :title => 'Accept this request'), accept_user_friendship_path(friendship.user, friendship), :method => 'put', :class => 'listingButton'
        - elsif friendship.friend_id != current_user.id
          - if current_user.friendships.collect(&:friend_id).member?(friendship.friend_id)
            - if (current_user.accepted_friendships.collect(&:friend_id).member?(friendship.friend_id))
              = link_to image_tag('/images/listing_icons/message.png', :mouseclick => '/images/listing_icons/sel-message.png', :border=>0, :alt => 'Send Message', :title => 'Send Message'), new_message_path(:to => friendship.friend.id), :method => 'put', :class => 'listingButton'

  .clearDiv
  .frameBtm
