.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        = _('My Network')
      = @user.full_name()
  .leftNavCol
    %h2.yellowHeader
      = _('My Profile')
    .leftNav
      =render :partial => "users/profile_nav"


  .listings
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          = _('Friends')
      .contentBoxContent
        .listingItem
          - if current_user.admin? || @is_current_user
            - if @pending_friendships_count > 0
              = link_to "View all my friend requests (#{@pending_friendships_count})", pending_user_friendships_path(@user)
            - else
              You have no friend requests.      

        -#.friendSearchWidgetArea
          %span.friendSearchColumn
            Search:
          %span.friendSearchWidgetColumn
            %label.verbalSemantic{ :for => "friendSearchTerms" }
              Search Terms
            %input#friendSearchTerms{ :name => "terms", :type => "text" }/
            %input.submit{ :name => "submit", :src => "/gs/images/top_nav_search.gif", :type => "image", :value => "search", :alt => "Search" }/
            %br/
          .clearDiv
          %span.friendSearchColumn
            Sort by:
          %span.friendSearchWidgetColumn
            %label.verbalSemantic{ :for => "friendFindSortBy" }
              Sort by
            %select#friendFindSortBy{ :name => "sortBy" }
              %option{ :value => "" }
                Recent Updates
              %option{ :value => "" }
                Option
              %option{ :value => "" }
                Option
              %option{ :value => "" }
                Option
            %br/
          .clearDiv
          %span.friendSearchColumn
            Show:
          %span.friendSearchWidgetColumn
            %label.verbalSemantic{ :for => "friendFindShowNet" }
              Show Network
            %select#friendFindShowNet{ :name => "sortBy" }
              %option{ :value => "" }
                Recent Updates
              %option{ :value => "" }
                Option
              %option{ :value => "" }
                Option
              %option{ :value => "" }
                Option
            %br/
        -#.clearDiv.moreLinkArea
          %span.moreLink      

        - if current_user.admin? || @is_current_user     
          - if @friendships.length > 0
            .listingItem
              .pagination
                %span= pagination_info_for @pages
                = pagination_links_for @pages, {:link_to_current_page => true} if @pages.length > 1
    
            .userList
              = render :partial => "friendships/friendship", :collection => @friendships, :locals => {:owner => @user}
          - else 
            .listingItem
              You have no friendships
        
