.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        My Network
      = current_user.full_name()
  .leftNavCol
    %h2.yellowHeader
      My Profile
    .leftNav
      =render :partial => "users/profile_nav"


  .listings          

    - if  (@pending_friendships_count > 0)
      .listingItem
        = link_to("(#{@pending_friendships_count} pending)", pending_user_friendships_path(@user), :class => 'genericButton') 
     
    .listingItem
      .pagination
        %span= pagination_info_for @pages
        = pagination_links_for @pages, {:link_to_current_page => true} if @pages.length > 1
    

    = render :partial => "friendships/friendship", :collection => @friendships

    
