.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        =link_to _('MY NETWORK'), accepted_user_friendships_path(@user.id)
      = @user.full_name()
      
  =render :partial => "users/profile_nav"

  .listings
          
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          = _('Pending Friendships')
      .contentBoxContent
        - if current_user.admin? || @is_current_user     
          - if @friendships.length > 0
            -# Note: not currently paged...
            - if @pages
              .listingItem
                .pagination
                  %span= pagination_info_for @pages
                  = pagination_links_for @pages, {:link_to_current_page => true} if @pages.length > 1
    
            .userList
              = render :partial => "friendships/friendship", :collection => @friendships, :locals => {:owner => @user}
          - else 
            .padded
              You have no pending friendships      
