<% form_for @page do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :permalink %><br />
    <%= f.text_field :permalink %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
    <i><a href='http://hobix.com/textile/' target='_new'>Help with textile markup</a></li>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
