<% form_for @page do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :permalink %><br />
    <%= f.text_field :permalink %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => 30, :cols => 95 %>
    <br/>
    <ul>
      <li><i><a href='http://hobix.com/textile/' target='_new'>Help with textile markup</a></i></li>
      <li>To break out into raw html wrap with <b>notexttile.. &lt;div&gt;</b> and <b>&lt;/div&gt;</b> and indent </li>
    </ul>
    <br/>   
    
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
