.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        Edit Page
      = @page.name
      
  =render :partial => "users/profile_nav"
  .listings
    .listingItem

      = render :partial => 'form'

      %p
        = link_to "Show", @page
        = " | "
        = link_to "View All", pages_path
