<% title "Pages" %>

<table class="unstyled">
  <thead>
    <tr>
      <th>Name</th>
      <th>Permalink</th>
      <th>Html Content</th>
      <th colspan="2"><!-- Actions --></th>
    </tr>
  </thead>
  <tbody>
    <% for page in @pages %>
      <tr>
        <td><%=link_to page.name, edit_page_path(page) %></td>
        <td><%=h page.permalink %></td>
        <td><%= truncate_words(page.html_content, 10) %></td>
        <td><%= link_to "Preview", "/info/#{page.permalink}", {:target => "_new"}%></td>
        <td><%= link_to "Destroy", page, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "New Page", new_page_path %></p>
