= f.error_messages

%p
  = f.label :sport
  %br/
  = text_field_with_auto_complete :video_asset, :sport, :autocomplete => "off"
%p
  = f.label "Game Date"
  %br/
  %em= "Formats: (yyyy-mm-dd, yyyy-mm, yyyy, yyyy-yyyy)"
  %br/
  = text_field :video_asset, :game_date, :value => @video_asset.game_date_string
  
  
%p
  %label{:for=>"video_asset[home_team_name]"} Home Team (Our Team) / Score
  %br/
  %fieldset.inline
    = text_field_with_auto_complete :video_asset, :home_team_name, :autocomplete => "off"
    = text_field :video_asset, :home_score, :value => @video_asset.home_score, :size=>3

%p
  %label{:for=>"video_asset[visiting_team_name]"} Opponent / Score
  %br/
  %fieldset.inline
    = text_field_with_auto_complete :video_asset, :visiting_team_name, :autocomplete => "off"
    = text_field :video_asset, :visitor_score, :value => @video_asset.visitor_score, :size=>3

%p
  %label{:for=>"video_asset[game_gender]"} Boys/Girls
  %br/
  = collection_select("video_asset","game_gender",VideoAsset.GAME_GENDERS,"to_s","to_s",{ :selected => @video_asset.game_gender })

%p
  %label{:for=>"video_asset[game_level]"} Level
  %br/
  = collection_select("video_asset","game_level",@video_asset.game_level_choices, "to_s","to_s", { :selected => @video_asset.game_level}, {:style => "width: 115px"})
  %script
    var z=dhtmlXComboFromSelect("video_asset_game_level");

%p
  %label{:for=>"video_asset[game_type]"} Game Type
  %br/
  = collection_select("video_asset","game_type",@video_asset.game_type_choices, "to_s","to_s", {},{:style => "width: 115px"})
  %script
    var z=dhtmlXComboFromSelect("video_asset_game_type");
    
%p
  %br/
  =f.check_box :public_video
  =f.label(:public_video,  'Public Video')
  %br/
  %br/
  
%p
  = f.label :title
  %input{:type => 'button', :onclick => 'generate_video_title()', :value => "Auto-fill"}
  %br/
  = f.text_field :title, :size => 85

%p
  = f.label :description
  %br/
  = f.text_area :description, :rows => 3, :cols => 65

%p  
  =f.label :tags
  %br/
  = text_field_tag 'tag_list', @video_asset.tags.collect{|t| t.name}.join(" "), {:autocomplete => "off", :size => 35}
  #tag_list_auto_complete.auto_complete
  = auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [',', ' ']  }



- if current_user.admin?
  %fieldset.emphasized
    %legend="Advanced Fields (Admin Only)"
    %p
      %label{:for=>"video_asset[gsan]"} GSAN
      %br/
      = f.text_field :gsan
      
    %p
      = f.label :league_name
      %br/
      = text_field_with_auto_complete :video_asset, :league_name, :autocomplete => "off"
    %p
      = f.label :team_name
      %br/
      = text_field_with_auto_complete :video_asset, :team_name, :autocomplete => "off"

  %fieldset.emphasized
    %legend="Very Advanced Fields (Vidavee Coordination, Admin Only)"
    %p
      = f.label :dockey
      %br/
      = f.text_field :dockey
    %p
      = f.label :video_length
      %br/
      = f.text_field :video_length
    %p
      = f.label :video_type
      %br/
      = f.text_field :video_type
    %p
      = f.label :video_status
      %br/
      = f.text_field :video_status

%p

  = hidden_field_tag 'home_team_nickname', (@video_asset.home_team.title_name if @video_asset.home_team_id)
  = hidden_field_tag 'visiting_team_nickname', (@video_asset.visiting_team.title_name if @video_asset.visiting_team_id)

  #home_team_info{:style => 'display: block'}
  #visiting_team_info{:style => 'display: block'}
