- form_for @video_asset do |f|

  = f.error_messages

  %p
    = f.label :dockey
    %br/
    = f.text_field :dockey
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :description
    %br/
    = f.text_field :description
  %p
    = f.label :author_name
    %br/
    = f.text_field :author_name
  %p
    = f.label :author_email
    %br/
    = f.text_field :author_email
  %p
    = f.label :video_length
    %br/
    = f.text_field :video_length
  %p
    = f.label :frame_rate
    %br/
    = f.text_field :frame_rate
  %p
    = f.label :video_type
    %br/
    = f.text_field :video_type
  %p
    = f.label :video_status
    %br/
    = f.text_field :video_status
  %p
    = f.label :can_edit
    %br/
    = f.check_box :can_edit
  %p
    = f.label :thumbnail
    %br/
    = f.text_field :thumbnail
  %p
    = f.label :thumbnail_low
    %br/
    = f.text_field :thumbnail_low
  %p
    = f.label :thumbnail_medium
    %br/
    = f.text_field :thumbnail_medium
  %p
    = f.label :league_id
    %br/
    = f.text_field :league_id
  %p
    = f.label :team_id
    %br/
    = f.text_field :team_id
  %p
    = f.label :sport
    %br/
    = f.text_field :sport
  %p
    = f.label :game_date
    %br/
    = f.text_field :game_date
  %p
    = f.submit "Submit"
