.video_thumbnail
  = link_to "<img src='#{@vidavee.file_thumbnail_medium(video_asset.dockey)}' title='#{h video_asset.title}'>", video_asset_path(video_asset)
  %br
  = h video_asset.title
  %br
  = "#{h video_asset.description} - #{h video_asset.video_length}"
  %br
  = "#{h video_asset.league.name if video_asset.league}, #{h video_asset.team.name if video_asset.team}, #{h video_asset.sport}, #{game_date(video_asset.game_date)}"
  
  - skip_controls ||= false
  - unless skip_controls
    - if current_user && current_user.can_edit?(video_asset)
      %br  
      = link_to 'Edit', edit_video_asset_path(video_asset)
      |
      = link_to 'Destroy', video_asset, :confirm => 'Are you sure?', :method => :delete
