%h1
  = "Editing #{@video_asset.title} Details"

#video_thumbnail
  = "<img src='#{@vidavee.file_thumbnail_medium(@video_asset.dockey)}' title='#{h @video_asset.title}'>"
%br/
- form_for @video_asset do |f|
  = render :partial => "form", :locals => { :f => f }
  %p
    = f.submit "Submit"

= link_to 'Show', @video_asset
|
= link_to 'Back', video_assets_path
