.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        = link_to _('MY VIDEOS'), url_for({:controller => 'search', :action => 'my_videos', :user_id => @user.id})        
      = @user.full_name
  .listings
    - if current_user.can_upload?
      .box
        = link_to 'Upload a new video', new_video_asset_path, :class => 'genericButton'

      - if @video_assets.any?
        = render :partial => 'video_listing', :collection => @video_assets
      
        - if @video_assets.respond_to?('total_pages')
          .apple_pagination
            = will_paginate @video_assets
      - else
        .box
          You don't have any videos yet.
    
    