.profileContentArea
  .profilePageHeader
    %h2.columnDescriptor
      VIDEO PLAYER
  .toplink
    = link_to "&laquo; back to my clips", user_video_clips_path(current_user)
    = " / "
    = link_to "my reels", user_video_reels_path(current_user)
  .playerContentArea
    .leftNavColPlayer
      .leftNavPlayer
      
        = render :partial => 'shared/favorite_item', :locals => { :item => @video_asset }
        - if @video_asset.league_video?
          %a.genericButton{ :href => league_path( @video_asset.league_id )  }
            %span
              League Profile
        - else
          %a.genericButton{ :href => team_path( @video_asset.team_id )  }
            %span
              School Profile
            
        - if current_user && current_user.can_edit?(@video_asset)
          %a.genericButton{ :href => edit_video_asset_path(@video_asset) }
            Edit
          = link_to 'Delete', video_asset_path(@video_asset), :confirm => 'Are you sure?', :method => :delete,  :class=>'genericButton'
      
    .flashArea#flashArea
    - if @vidavee && session[:vidavee] && @video_asset.dockey
      = render(:partial => 'shared/video_player', :locals => { :fvars => {:dockey => @video_asset.dockey}, :target => 'flashArea', :height => 750, :width => 800 })
      
    .clearDiv
  
    .commentContainer
      %br
      .commentArea
        .forumContentBox
          .commentForm
            =render :partial => 'comments/comment_form', :locals => { :commentable => @video_asset }
          .comments#comments
            #newest_comment
            =render :partial => 'comments/comment', :collection => @video_asset.comments
          %span#more_comments_links= more_comments_links(@video_asset)

    
