-if @vidavee && session[:vidavee] && @video_asset.dockey

%p
  = render(:partial => 'shared/maverick_video_player', :locals => { :dockey => @video_asset.dockey })
  = @vidavee.asset_embed_code(session[:vidavee], @video_asset.dockey) if false
  
-else
  = "Your video is still loading."
-end  
  
%p
  %b Title:
  =h @video_asset.title

%p
  %b Description:
  =h @video_asset.description

%p
  %b Length:
  =h @video_asset.video_length

%p
  %b Sport:
  =h @video_asset.sport
  
%p
  %b Status:
  =h @video_asset.video_status

%br/

- if(current_user.league_admin? || current_user.team_admin? || current_user.admin?)
  = link_to 'Edit', edit_video_asset_path(@video_asset) |
  
= link_to 'Back', video_assets_path
