.profileContentArea
  .profilePageHeader
    %h2.columnDescriptor
      %span
        Video Player
  .playerContentArea
    .leftNavColPlayer
      .leftNavPlayer
        %a.genericButton{ :href => new_message_path(:to => @video_asset.user.id, :title => "Your video '#{@video_asset.title}'") }
          Send Message
        = render :partial => 'shared/favorite_item', :locals => { :item => @video_asset }

        - if current_user && current_user.can_edit?(@video_asset)
          %a.genericButton{ :href => edit_video_asset_path(@video_asset) }
            Edit
          = link_to 'Destroy', video_asset_path(@video_asset), :confirm => 'Are you sure?', :method => :delete,  :class=>'genericButton'
        - else
          = render :partial => 'shared/inappropriate_item', :locals => { :item => @video_asset }
      
    .flashArea#flashArea
    - if @vidavee && session[:vidavee] && @video_asset.dockey
      = render(:partial => 'shared/video_player', :locals => { :fvars => {:dockey => @video_asset.dockey}, :target => 'flashArea', :height => 550, :width => 750 })
      
    .clearDiv
  .clearDiv
  
  .commentArea
    .commentForm
      =render :partial => 'comments/comment_form', :locals => { :commentable => @video_asset }
    .comments#comments
      #newest_comment
      =render :partial => 'comments/comment', :collection => @video_asset.comments

    
