%p
  %b Dockey:
  = @video_asset.dockey

%p
  %b Title:
  = @video_asset.title

%p
  %b Description:
  = @video_asset.description

%p
  %b Author name:
  = @video_asset.author_name

%p
  %b Author email:
  = @video_asset.author_email

%p
  %b Length:
  = @video_asset.video_length

%p
  %b Sport:
  %b= @video_asset.sport
  
%p
  %b Frame rate:
  = @video_asset.frame_rate

%p
  %b Type:
  = @video_asset.video_type

%p
  %b Status:
  = @video_asset.video_status

%p
  %b Can edit:
  = @video_asset.can_edit

%p
  %b Thumbnail:
  %img{ :src=>"#{@video_asset.thumbnail}"}

%p
  %b Thumbnail low:
  %img{ :src=>"#{@video_asset.thumbnail_low}"}

%p
  %b Thumbnail medium:
  %img{ :src=>"#{@video_asset.thumbnail_medium}"}

%p
  = @vidavee.asset_embed_code(session[:vidavee], @video_asset.dockey)
  


= link_to 'Edit', edit_video_asset_path(@video_asset) |
= link_to 'Back', video_assets_path
