-if @vidavee && session[:vidavee] && @video_asset.dockey

%p
  = render(:partial => 'shared/maverick_video_player', :locals => { :dockey => @video_asset.dockey })
  = @vidavee.asset_embed_code(session[:vidavee], @video_asset.dockey) if false
  
-else
  = "Your video is still loading."
-end  
  
%p
  %b Title:
  =h @video_asset.title

%p
  %b Description:
  =h @video_asset.description

%p
  %b Length:
  =h @video_asset.video_length

%p
  %b Game Date:
  =h (@video_asset.game_date? ? @video_asset.game_date.to_s(:game_date) : '')

%p
  %b Sport:
  =h @video_asset.sport
  
%br/

- if current_user && current_user.can_edit?(@video_asset)
  = link_to 'Edit', edit_video_asset_path(@video_asset) |
  
= link_to 'Back', video_assets_path
= render :partial => 'shared/favorite_item', :locals => { :item => @video_asset }
= render :partial => 'shared/favorite_count', :locals => { :item => @video_asset }
= render :partial => 'shared/inappropriate_item', :locals => { :item => @video_asset }
