.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        = link_to _('MY VIDEOS'), url_for({:controller => 'search', :action => 'my_videos', :user_id => @user.id})        
      Player
  .playerContentArea
    .leftNavColPlayer
      .leftNavPlayer
        = render :partial => 'ratings/stars', :locals => { :item => @video_asset }
        = render :partial => 'shared/video_actions', :locals => { :video_listing => @video_asset }
        
    .flashArea#flashArea
    - if @vidavee && session[:vidavee] && @video_asset.dockey
      = render(:partial => 'shared/video_player', :locals => { :fvars => {:dockey => @video_asset.dockey}, :target => 'flashArea', :height => 635, :width => 800 })
      
    .clearDiv
  
    .commentContainer
      %br
      .commentArea
        .forumContentBox
          .commentForm
            =render :partial => 'comments/comment_form', :locals => { :commentable => @video_asset }
          .comments#comments
            #newest_comment
            =render :partial => 'comments/comment', :collection => @video_asset.comments
          %span#more_comments_links= more_comments_links(@video_asset)

    
