


%table
  %tr

    %td
      %b Blessed
      %br/
      = f.text_field :blessed_type, :size=>16
      = f.text_field :blessed_id, :size=>3

    %td
      %b Role
      %br/
      = f.text_field :role

    %td
      %b Scope
      %br/
      = f.text_field :scope_type, :size=>16
      = f.text_field :scope_id, :size=>3



%br




