.scope-selector
  - auto_submit = defined?(auto_submit) ? (auto_submit == false ? false : true) : true
  - style ||= ''
  - select_first = defined?(select_first) ? select_first : false
  -
  - on_change = auto_submit ? 'this.form.submit();' : ''
  -
  - if @scopes.size == 1
    %span{ :xstyle=>'margin-left: 16px' }= "#{@scope.class.to_s}: #{@scope.name}" #@scope.name
    = hidden_field_tag :scope_select, Permission.scope_selector_string(@scope)
    %br
    %br
  -else
    %select{ :name=>:scope_select, :onChange=>on_change , :style=>style }
      - if !@scope && !select_first
        %option= '- Select Organization -'
      - @scopes.each() do |s|
        - op_name = "#{s.class.to_s}: #{s.name}"
        - op_value = Permission.scope_selector_string(s) #"#{s.class.to_s.downcase} #{s.id}"
        - selected = (s == @scope) ? 'selected' : 'x'
        %option{ :value=>op_value, selected=>1 }= op_name
  .clearDiv
  -#= "[#{h defined?(auto_submit).inspect}]"