- editing ||= false
%tr
  %td{ :align=>'center' }
    - if !editing
      .send-invite
        Send Invite
      = f.check_box :send_invite, :checked=>true
    - else
      &nbsp;
  %td
    = f.text_field :number, :size=>2
  %td
    = f.text_field :firstname, :size=>12
  %td
    = f.text_field :lastname, :size=>12
  %td
    = f.text_field :email, :size=>16
  %td
    = f.text_field :phone, :size=>10
  %td
    = f.text_field :position, :size=>8
  %td
    - label = (editing ? 'Save' : 'Add')
    - label2 = (editing ? 'Saving...' : 'Adding...')
    = f.submit label, :onclick=>"javascript:gs.team_sports.button_off('#{label2}')" # :disable_with => "#{label}ing..."