
Some of the information that you entered matches a name in our system.  Select the person you were looking for?
%br
%br

- remote_form_for :roster_entry, @roster_entry, :url=>post_roster_entries_path() do |f|
  = f.hidden_field :id
  = hidden_field :skip_match_dialog, :value=>1

  .team-sport-matches
    %table{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => '350px'}
      -#%thead
        %tr.yellowHeader
          %th.padded.contentHeader
          %th.padded.contentHeader
          %th.padded.contentHeader
      %tbody
        - for match in @matches
          %tr
            %td
              = f.radio_button :user_id, match.id
            %td
              %img{ :src=>match.avatar_photo_url(), :width=>64, :height=>64 }
            %td{ :style=>'padding: 6px;' }
              = h match.full_name
              %br
              = h match.team.name

  = f.submit 'OK', :onclick=>"javascript:dijit.byId('dialog_match_user').destroy();"
  %input{ :type=>'button', :value=>'Cancel', :onclick=>"javascript:dijit.byId('dialog_match_user').destroy();" }

