-row_name = "athlete-#{athlete.id}"
%tr{ :id=>row_name }
  %td
    .status
      -if athlete.user
        %a{ :href=>user_path(athlete.user) }
          %img{ :src=>athlete.user.avatar_photo_url(), :width=>64, :height=>64 }
      -else
        %img{ :src=>'/images/pixel.gif', :width=>'64px', :height=>'64px' }
  %td
    .no
      -if athlete.number && !athlete.number.empty?
        = "##{h athlete.number}"
      &nbsp;
  %td
    .first
      = h athlete.firstname
      &nbsp;
  %td
    .last
      = h athlete.lastname
      &nbsp;
  %td
    .email
      - if athlete.user && (athlete.user.email != athlete.email)
        = link_to_remote 'New', {:url => roster_entry_path(athlete, 'roster_entries[email]'=>athlete.user.email), :confirm => "Change email # to #{athlete.user.email}", :method=>:put, :complete=>'javascript: gs.team_sports.load_current()'}, :class=>'new-info'
      = h athlete.email
      &nbsp;
  %td
    .phone
      - if athlete.user && (athlete.user.phone != athlete.phone)
        = link_to_remote 'New', {:url => roster_entry_path(athlete, 'roster_entries[phone]'=>athlete.user.phone), :confirm => "Change phone # to #{athlete.user.phone}", :method=>:put, :complete=>'javascript: gs.team_sports.load_current()'}, :class=>'new-info'
      = h athlete.phone
      &nbsp;
  %td
    .pos
      = h athlete.position
      &nbsp;
  %td
    .actions
      = link_to_remote '', {:url => roster_entry_path(athlete), :confirm => 'Are you sure?', :method=>:delete}, :complete => evaluate_remote_response, :class=>'delete-button'
      = link_to 'Edit', "javascript:gs.team_sports.edit_row('#{@team_sport.id}', '#{athlete.id}')"
      - if @adding != athlete.id
        %br
        = link_to 'Add Parent', "javascript:gs.team_sports.add_parent('#{@team_sport.id}', '#{athlete.id}')"
      %br
      = link_to 'Send Email', new_message_path(:to_roster=>athlete.id)
      %br
      = link_to 'Send Text', new_text_messages_path(:to_roster=>athlete.id)

