- remote_form_for :roster_entry, @roster_entry, :url=>post_roster_entries_path() do |f|
  = f.hidden_field :id
  = f.hidden_field :access_group_id

  %table
    %tr
      %th
        Status
      = gs_team_sports_sortable_table_header :name => '#',     :sort => "number"
      = gs_team_sports_sortable_table_header :name => "First",     :sort => "firstname"
      = gs_team_sports_sortable_table_header :name => "Last",     :sort => "lastname"
      = gs_team_sports_sortable_table_header :name => "Email",     :sort => "email"
      = gs_team_sports_sortable_table_header :name => 'Mobile #',     :sort => "phone"
      = gs_team_sports_sortable_table_header :name => "Position",     :sort => "position"
      %th
        Actions

    - @roster.each() do |athlete|

      %tr
        %td
          -if athlete.user
            %img{ :src=>athlete.user.avatar_photo_url(), :width=>64, :height=>64 }
        %td
          = h athlete.number
        %td
          = h athlete.firstname
        %td
          = h athlete.lastname
        %td
          = h athlete.email
        %td
          = h athlete.phone
        %td
          = h athlete.position
        %td

    %tr
      %td{ :align=>'center' }
        .send-invite
          Send Invite
        = f.check_box :send_invite
      %td
        = f.text_field :number, :size=>2
      %td
        = f.text_field :firstname, :size=>12
      %td
        = f.text_field :lastname, :size=>12
      %td
        = f.text_field :email, :size=>16
      %td
        = f.text_field :phone, :size=>10
      %td
        = f.text_field :position, :size=>8
      %td
        = f.submit 'Add Athlete'

  - if @roster.respond_to? 'total_pages'
    .apple_pagination
      = will_paginate @roster

