%p
  = f.label :title
  %br/
  = f.text_field :title
  
%p
  = f.label :description
  %br/
  = f.text_field :description
  
%p
  = f.label :tags
  %br/
  = text_field_tag 'tag_list', @video_reel.tags.collect{|t| t.name}.join(" "), {:autocomplete => "off", :size => 35}
  #tag_list_auto_complete.auto_complete
  = auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [',', ' ']  }
    
