#video_thumbnail
  = link_to "<img src='#{h video_reel.thumbnail_medium}' title='#{h video_reel.title}'>", :action => 'show', :id => video_reel
  %br
  = h video_reel.title
  %br
  = "#{h video_reel.description} - #{h video_reel.video_length}"
  %br
  
  - if current_user.league_admin? || current_user.team_admin? || current_user.admin? || current_user.id == video_reel.user_id
    %br
    = link_to 'Edit', edit_video_reel_path(video_reel)
    = link_to 'Destroy', video_reel, :confirm => 'Are you sure?', :method => :delete
