.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        = "MY REELS"
      = @user.full_name
  .leftNavCol
    %h2.yellowHeader
      My Profile
    .leftNav
      =render :partial => "users/profile_nav"
      
  .listings
    .listingItem
      =link_to "New Reel", new_video_reel_path, {:class => 'genericButton'}
    - if @video_reels.any?
      = render :partial => 'video_listing', :collection => @video_reels
        
      - if @video_reels.respond_to?('total_pages')
        .apple_pagination
          = will_paginate @video_reels
    -else
      = "You don't have any reels yet."
