=h @video_reel.title
%br/
=h @video_reel.description
%br/
= "Owner #{h @video_reel.user.full_name}"
%br/

%p= @video_reel.tags.collect{|t| link_to( h(t.name), tag_url(t.name), :class => 'tag') }.join(" ")
%br/

= render :partial => 'shared/favorite_item', :locals => { :item => @video_reel }
= "|"
= render :partial => 'shared/favorite_count', :locals => { :item => @video_reel }
= "|"
= render :partial => 'shared/view_count', :locals => { :item => @video_reel }
= "|"
= render :partial => 'shared/inappropriate_item', :locals => { :item => @video_reel }
- if current_user && current_user.can_edit?(@video_asset)
  = "|"
  =link_to 'Edit', edit_video_reel_path(@video_reel)
  = "|"
  =link_to 'Destroy', @video_reel, :confirm => 'Are you sure?', :method => :delete
