- allowed = current_user.has_access?(@video_reel) 
.profileContentArea.lisingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span 
        =link_to _('MY REELS'), user_video_reels_path(current_user.id)
      Player
  .playerContentArea
    .leftNavColPlayer
      .leftNavPlayer
        = render :partial => 'ratings/stars', :locals => { :item => @video_reel }
        %div
          = render :partial => 'shared/video_actions', :locals => { :video_listing => @video_reel }
        -#%a{ :href=>"http://www.facebook.com/sharer.php?u=#{APP_URL}/video_reels/#{@video_reel.id}", :style=>'float:right;' }
          %img{ :src=>'/images/fb_share.jpg' }
      
 
    .flashArea#flashArea
    - if @vidavee && session[:vidavee] && @video_reel.dockey   
      -if allowed
        = render(:partial => 'shared/video_player', :locals => { :fvars => {:dockey => @video_reel.dockey, :allowFS => "true"}, :params => {:allowFullScreen=>"true"}, :target => 'flashArea', :height => 635, :width => 800, :player_name=>'/players/clipmaker58.swf' })
      
    .clearDiv
    
    .commentContainer
      %br
      .commentArea
        .forumContentBox
          -if allowed
            .commentForm
              =render :partial => 'comments/comment_form', :locals => { :commentable => @video_reel }
            .comments#comments
              #newest_comment
              =render :partial => 'comments/comment', :collection => @video_reel.comments
            %span#more_comments_links= more_comments_links(@video_reel)
          -else
            We’re sorry, but this video is currently restricted. Please contact your coach to inquire about gaining in-season access to this video.
