.profileContentArea
  .profilePageHeader
    %h2.columnDescriptor
      %span    
        MY REELS
      Player
  .toplink
    = link_to "&laquo; back to my clips", user_video_clips_path(current_user)
    = " / "
    = link_to "my reels", user_video_reels_path(current_user)
  .playerContentArea
    .leftNavColPlayer
      .leftNavPlayer
        - if current_user.can_send_message_to?(@video_reel.user)
          %a.genericButton{ :href => new_message_path(:to => @video_reel.user.id, :title => "Your clip '#{@video_reel.title}'") }
            Send Message
        
        = render :partial => 'ratings/stars', :locals => { :item => @video_reel }
            
        = render :partial => 'shared/favorite_item', :locals => { :item => @video_reel }

        - if current_user && current_user.can_edit?(@video_reel)
          %a.genericButton{ :href => edit_video_reel_path(@video_reel) }
            Edit
          = link_to 'Delete', video_reel_path(@video_reel), :confirm => 'Are you sure?', :method => :delete,  :class=>'genericButton'
        - else
          = render :partial => 'shared/inappropriate_item', :locals => { :item => @video_reel }
      
    .flashArea#flashArea
    - if @vidavee && session[:vidavee] && @video_reel.dockey
      = render(:partial => 'shared/video_player', :locals => { :fvars => {:dockey => @video_reel.dockey}, :target => 'flashArea', :height => 750, :width => 800 })
      
    .clearDiv
    
    .commentContainer
      %br
      .commentArea
        .forumContentBox
          .commentForm
            =render :partial => 'comments/comment_form', :locals => { :commentable => @video_reel }
          .comments#comments
            #newest_comment
            =render :partial => 'comments/comment', :collection => @video_reel.comments
          %span#more_comments_links= more_comments_links(@video_reel)
