.listingBox-2cols{:id => "photo_item_#{photo_listing.id}"}
  .frameTop
  .col1
    .thumb.thumb-tall
      = link_to image_tag( photo_listing.public_filename(:thumb)), user_photo_path(@user, photo_listing)
    .listingBoxContent
      .title
        = h photo_listing.display_name
      .schoolName
        = photo_listing.created_at.to_s(:readable)
      .recentFriendFeed
        = truncate_words(h(photo_listing.description),35)
        %br/
        = photo_listing.tags.collect{|t| link_to( h(t.name), tag_url(t.name), :class => 'tag') }.join(", ")
  .col2
    .listingBoxActions
      = render :partial => 'shared/favorite_listing', :locals => { :item => photo_listing }

      - if (current_user && (current_user.admin? || current_user.id == photo_listing.user_id))
        = link_to image_tag('/images/listing_icons/edit.png', :mouseclick => '/images/listing_icons/edit_down.png', :border=>0, :alt => 'Edit', :title => 'Edit'), edit_user_photo_path(photo_listing.user_id,photo_listing), :class => 'listingButton'
        = link_to_remote image_tag('/images/listing_icons/delete.png', :mouseclick => '/images/listing_icons/delete_down.png', :border=>0, :alt => 'Delete', :title => 'Delete'), {:url => user_photo_path(photo_listing.user_id,photo_listing), :confirm => 'Are you sure?', :method => :delete},  :class=>'listingButton'
      - else
        = render :partial => 'shared/inappropriate_listing', :locals => { :item => photo_listing }

  .clearDiv
  .frameBtm
