.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        -if @title
          = @title 
        -else 
          =link_to _('MY PHOTOS'), user_photos_path(@user.id)
      = "#{@user.full_name}" unless @title

  .listings
    -if @is_current_user
      .listingItem
        = link_to 'New photo', new_user_photo_path(@user), :class => 'genericButton'

    .box
      =render :partial => 'photo_listing', :collection => @photos
      
      -if !@photos.nil? && !@photos.empty?
        .pagination
          = pagination_info_for @pages
          = pagination_links_for @pages, {:link_to_current_page => true} if @pages.length > 1

        