.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        = @title || "MY PHOTOS"
      = "#{@user.full_name}" unless @title
      
  =render :partial => "users/profile_nav"

  .listings
    -if @is_current_user
      .listingItem
        = link_to 'New photo.', new_user_photo_path(@user), :class => 'genericButton'

    =render :partial => 'photo_listing', :collection => @photos
        
    .pagination
      = pagination_info_for @pages
      = pagination_links_for @pages, {:link_to_current_page => true} if @pages.length > 1

        