.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        -if @title
          = @title 
        -else 
          =link_to _('MY PHOTOS'), user_photos_path(@user.id)
      = "#{@user.full_name}" unless @title
  #single_upload
    .listings
      .contentBox.tanBackground
        .contentBoxHeader.yellowHeader
          %h2.boxDescription
            Upload an Image
        .contentBoxContent

          = error_messages_for :photo

          - form_for(:photo, :url => user_photos_path, :html => {:multipart =>true, :class => "MainForm"} ) do |f|
            %a.right{"href"=>"#", "onclick"=>"$('single_upload').toggle(); $('multiple_upload').toggle(); return false"}
              Want to upload multiple files at once?
            = f.file_field :uploaded_data
            %label
              %em
                = (AppConfig.photo['attachment_fu_options']['max_size'])
                megabyte upload limit
            %label Tags:
            = text_field_tag 'tag_list', @photo.tags.collect{|t| t.name}.join(", "), {:autocomplete => "off", :size => 35}

            #tag_list_auto_complete.auto_complete
            = auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [',']  }

            %label Name:
            = f.text_field :name, :size => 35

            %label Description:
            = f.text_area :description, :size => "58x5"

            -if current_user.team_staff?
              %label
                %input{ :type=>:checkbox, :name=>'team_photo' }
                Make this the team photo
                %em
                  (must be 100x100 or 234x60)
    
            -elsif current_user.league_staff?
              %label
                %input{ :type=>:checkbox, :name=>'league_photo' }
                Make this the league photo
                %em
                  (must be 100x100 or 234x60)

            %p
              = submit_tag "Create"
              or
              = link_to 'cancel and go back to my photos', user_photos_path(@user)

  #multiple_upload{"style"=>"display:none;"}
    .listings
      .contentBox.tanBackground
      
        
        .contentBoxHeader.yellowHeader
          %h2.boxDescription
            Upload Multiple Images
        .contentBoxContent

          %a.right{"href"=>"#", "onclick"=>"$('single_upload').toggle(); $('multiple_upload').toggle(); return false"}
            Just uploading one photo?

          - session_key = (ActionController::Base.session.first[:session_key] || '_session_id').to_sym
          %p.centered
            %script{:type=>'text/javascript'}
              var uploader;
              window.onload = function (){
              ="uploader = new CommunityEngine.SwfUpload('#{swfupload_user_photos_path(:user_id => current_user.id, session_key => session.session_id)}');"
              };
  
            %div{:style=>"margin: 0px 10px;"}
              %div
                %form.MainForm
                  %p
                    %button{:id=>"btnBrowse", :type=>"button", :style=>"padding: 5px;", :onclick=>"uploader.swfu.selectFiles(); this.blur();"}
                      =image_tag '/icons/add.png', :plugin => 'community_engine'
                      Select Images to Upload
                  %label
                    %em
                      You can select up to 5 files at a time.
                      %br
                      = (AppConfig.photo['attachment_fu_options']['max_size'])
                      megabyte upload limit per file.          
              #swfuploadContainer      
              #divFileProgressContainer{:style=>"height: 75px;"}
              #thumbnails