<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Length</th>
    <th>View url</th>
    <th>Parent</th>
    <th>User</th>
  </tr>

<% for video_clip in @video_clips %>
  <tr>
    <td><%=h video_clip.title %></td>
    <td><%=h video_clip.description %></td>
    <td><%=h video_clip.length %></td>
    <td><a href='<%="#{video_clip_path(:action => 'show', :id => video_clip)}"%>'><img src='<%="/video_clips/thumbnail/#{video_clip.id}"%>' title='<%="#{video_clip.dockey}"%>'/></a></td>
    <td><%= link_to 'Parent', video_asset_path(video_clip.video_asset_id) %></td>
    <td><%= link_to 'Show', video_clip %></td>
    <td><%= link_to 'Edit', edit_video_clip_path(video_clip) %></td>
    <td><%= link_to 'Destroy', video_clip, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<p><%= pagination_links_for @pages, { :link_to_current_page => true } if @pages.length > 1 %></p>
<br />

<%= link_to 'New video clip', new_video_clip_path %>
