- if @vidavee && session[:vidavee] && @video_clip.dockey
  = render(:partial => 'shared/maverick_video_player', :locals => { :dockey => @video_clip.dockey })
  = @vidavee.asset_embed_code(session[:vidavee], @video_clip.dockey) if false
  %br
  = h @video_clip.title
  %br
  = h @video_clip.description
  %br
  = h @video_clip.video_length
  %br
  
  %p= @video_clip.tags.collect{|t| link_to( h(t.name), tag_url(t.name), :class => 'tag') }.join(" ")
  %br/
  
  = link_to 'Parent video',video_asset_path(@video_clip.video_asset_id)  
  = render :partial => 'shared/favorite_item', :locals => { :item => @video_clip }
  = render :partial => 'shared/favorite_count', :locals => { :item => @video_clip }
  = render :partial => 'shared/view_count', :locals => { :item => @video_clip }
  = render :partial => 'shared/inappropriate_item', :locals => { :item => @video_clip }
  -if current_user && current_user.can_edit?(@video_clip)
    %br
    = link_to 'Edit', edit_video_clip_path(@video_clip)
    |
    = link_to 'Destroy', @video_clip, :confirm => 'Are you sure?', :method => :delete
- else
  %p = "This clip could not be found"
