- allowed = current_user.has_access?(@video_clip)
.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        =link_to _('MY CLIPS'), user_video_clips_path(@user.id)
      Player
  .playerContentArea
    .leftNavColPlayer
      .leftNavPlayer
        = render :partial => 'ratings/stars', :locals => { :item => @video_clip }
        %div
          = render :partial => 'shared/video_actions', :locals => { :video_listing => @video_clip }
        -#%a{ :href=>"http://www.facebook.com/sharer.php?u=#{APP_URL}/video_clips/#{@video_clip.id}", :style=>'float:right;' }
          %img{ :src=>'/images/fb_share.jpg' }

    .flashArea#flashArea
    - if @vidavee && session[:vidavee] && @video_clip.dockey
      -if allowed
        = render(:partial => 'shared/video_player', :locals => { :fvars => {:dockey => @video_clip.dockey, :allowFS => "true"}, :params => {:allowFullScreen=>"true"}, :target => 'flashArea', :height => 635, :width => 800 })
      
    .clearDiv
    
    .commentContainer
      %br
      .commentArea
        .forumContentBox
          -if allowed
            .commentForm
              =render :partial => 'comments/comment_form', :locals => { :commentable => @video_clip }
            .comments#comments
              #newest_comment
              =render :partial => 'comments/comment', :collection => @video_clip.comments
            %span#more_comments_links= more_comments_links(@video_clip)
          -else
            We’re sorry, but this video is currently restricted. Please contact your coach to inquire about gaining in-season access to this video.

        