.profileContentArea
  .profilePageHeader
    %h2.columnDescriptor
      VIDEO CLIP PLAYER
  .toplink
    = link_to "&laquo; back to my clips", user_video_clips_path(current_user)
    = " / "
    = link_to "my reels", user_video_reels_path(current_user)
  .playerContentArea
    .leftNavColPlayer
      .leftNavPlayer
        %a.genericButton{ :href => new_message_path(:to => @video_clip.user.id, :title => "Your clip '#{@video_clip.title}'") }
          Send Message
        = render :partial => 'shared/favorite_item', :locals => { :item => @video_clip }

        - if current_user && current_user.can_edit?(@video_clip)
          %a.genericButton{ :href => edit_video_clip_path(@video_clip) }
            Edit
          = link_to 'Destroy', video_clip_path(@video_clip), {:confirm => 'Are you sure?', :method => :delete,  :class=>'genericButton'}
        - else
          = render :partial => 'shared/inappropriate_item', :locals => { :item => @video_clip }
      
    .flashArea#flashArea
    - if @vidavee && session[:vidavee] && @video_clip.dockey
      = render(:partial => 'shared/video_player', :locals => { :fvars => {:dockey => @video_clip.dockey}, :target => 'flashArea', :height => 750, :width => 800 })
      
    .clearDiv
    
    .commentContainer
      %br
      .commentArea
        .forumContentBox
          .commentForm
            =render :partial => 'comments/comment_form', :locals => { :commentable => @video_clip }
          .comments#comments
            #newest_comment
            =render :partial => 'comments/comment', :collection => @video_clip.comments
          %span#more_comments_links= more_comments_links(@video_clip)
