.listingItem{:id => "post_#{post.id}"}
  .listingImage
    = link_to image_tag(post.image_thumbnail_for_post(:feature,true)), user_post_path(post.user, post)
  .listingDescription
    %h4
      = link_to post.title, user_post_path(post.user, post)
    %span.schoolName
      = link_to "By #{post.user.full_name}", user_path(post.user)
    %span.recentFriendFeed
      = truncate_words(post.post,10)
  %ul.listingActions
    %li
      = link_to "Read More", user_post_path(post.user,post), :class => 'genericButton'
    %li
      = render :partial => 'shared/favorite_item', :locals => { :item => post }
      
  .clearDiv
.clearDiv

