.listingBox-2cols{:id => "post_#{post_listing.id}"}
  .frameTop
  .col1
    .listingBoxHeader
      .title
        = post_listing.title
      
    .thumb.thumb-tall
      %a{:href=>"#{user_post_path(post_listing.user, post_listing)}", :class=>"photo", :rel=>"bookmark"}
        =image_tag((post_listing.image_thumbnail_for_post || post_listing.user.avatar_photo_url(:thumb)), :alt=>"image")

    .listingBoxContent
      %p.one-liner
        = link_to post_listing.user.full_name, user_path(post_listing.user)
        wrote on
        = post_listing.published_at.to_date

      -# restrict to 5 lines here (5em + 1em for padding)
      .summary{ :style => "height:6em;overflow:hidden" }
        = truncate_words(post_listing.post,20)
        = link_to "more...", user_post_path(post_listing.user,post_listing)

      .recentFriendFeed
        = "#{pluralize(post_listing.view_count,'view')}"
        = link_to "#{pluralize(post_listing.comments.size,'comment')}", user_post_path(post_listing.user,post_listing)+'#comments'

  .col2
    .listingBoxActions
      =link_to 'Read',user_post_path(post_listing.user,post_listing), :rel => 'bookmark', :class => 'genericButton'
      - if current_user.can_request_friendship_with(post_listing.user)
        =link_to 'Request Friendship',url_for({ :controller => 'friendships', :action => 'create', :user_id => current_user.id, :friend_id => post_listing.id}), {:method => :post, :class => 'genericButton'}
      = render :partial => 'shared/favorite_item', :locals => { :item => post_listing }


  .clearDiv
  .frameBtm
