.mailItem{:id=>"post_#{ post.id}"}
  .mailPoster
    %span.mailPosterImg
      %a{:href=>"#{user_post_path(post.user, post)}", :class=>"photo", :rel=>"bookmark"}
        =image_tag((post.first_image_in_body || post.user.avatar_photo_url(:thumb)), :alt=>"", :width=>"80", :height=>"80")
        %br
        = post.user.full_name
    
  .mailPostSummary
    .mailPostSummaryDate
      = post.published_at.to_s(:game_date)
    .mailPostSummaryBody
      %p
        %strong
          Subject: 
          = h post.title
        %br/
        = truncate_words (post.post, 85)
        .moreLink
          = link_to "more &raquo;", user_post_path(post.user,post)
      = link_to "comments (#{post.comments.size})", user_post_path(post.user, post)+'#comments'      
    
  .clearDiv

  
%div
  \&nbsp;
  %br
  %br