- @section = (@post.category && @post.category.name)

.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        Announcements
      = @user.full_name
      of
      = @user.team.name
  -#.leftNavCol
    .clearDiv.moreLinkArea
    %h2.yellowHeader
      My Network
    .leftNav
      =render :partial => "users/profile_nav"
      
  .mailContainer
    %br
    
    .forumContentBox
      .forumBoxHeader

        .mailItem
          .mailPoster
            %span.mailPosterImg
              %a{:href=>"#{user_path(@user)}", :class=>"photo"}
                =image_tag(@user.avatar_photo_url(:thumb), :alt=>"Profile Picture", :width=>"80", :height=>"80")
            %a{ :href => "#" }
              = link_to @user.full_name, user_path(@user)
          .mailPostSummary
            .mailPostSummaryDate
              = @post.published_at_display("%B %d, %Y")
            .mailPostSummaryBody
              %p
                %strong
                  Subject: 
                  = truncate(h(@post.title),85)
                %br/
                = @post.post
                - unless @post.tags.empty?
                  %ul.tags
                    - @post.tags.each do |t|
                      %li=link_to( t.name, tag_url(t.name), :rel => 'tag')
          .forumActions
            = link_to "Delete", user_post_path(@post.user, @post), {:method => :delete, :confirm => 'Permanently delete this post?', :class => 'genericButton'}
          .clearDiv

      %div
        \&nbsp;
        %br/
        
      #comments
        %h3 Comments
        %a#newest_comment
        = render :partial => 'comments/comment', :collection => @comments
        %span#more_comments_links= more_comments_links(@post)
        %p= render :partial => 'comments/comment_form', :locals => {:commentable => @post}
      
      .clearDiv
    .clearDiv


  .clearDiv