- @section = (@post.category && @post.category.name)

.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        = @post.category.name
      %br/
      = @user.full_name
      of
      = @user.team.name
  .leftNavCol
    .clearDiv.moreLinkArea
    %h2.yellowHeader
      My Network
    .leftNav
      =render :partial => "users/profile_nav"
      
  .forumContainer
    .forumContentBox
      .forumBoxHeader

      .forumPost
        .forumPoster
          %a{:href=>"#{user_path(@user)}", :class=>"photo"}
            =image_tag(@user.avatar_photo_url(:thumb), :alt=>"Profile Picture", :width=>"80", :height=>"80")
          %a{ :href => "#" }
            = link_to @user.full_name, user_path(@user)
        .forumPostSummary
          .forumPostSummaryDate
            = @post.published_at_display("%B %d, %Y")
          .forumPostSummaryTopic
            %strong
              = _('Subject:') 
              = h @post.title      
          .forumPostSummaryBody
            = @post.post
          .forumPostTags
            - unless @post.tags.empty?
              %strong
                Tags:
              = @post.tags.collect{|t| link_to( h(t.name), tag_url(t.name), :class => 'tag')}.join(", ")
        .forumActions
          - if (current_user && (current_user.admin? || current_user.id == @post.user_id))
            =link_to "Edit", edit_user_post_path(@post.user, @post),{:class => 'genericButton'}
            %br/
            =link_to "Delete", user_post_path(@post.user, @post), {:method => :delete, :confirm => 'Permanently delete this post?', :class => 'genericButton'}
            
        .clearDiv

      %div
        \&nbsp;
        %br/
        
      #comments
        %h3 Comments
        %a#newest_comment
        = render :partial => 'comments/comment', :collection => @comments
        %span#more_comments_links= more_comments_links(@post)
        %p= render :partial => 'comments/comment_form', :locals => {:commentable => @post}
      
      .clearDiv
    .clearDiv


  .clearDiv