=form.error_messages

%label.required{"for"=>"promo_code"}
  %h3= _('Unique Promo Code')
= form.text_field :promo_code, :size => 30

%label{"for"=>"name"}
  %h3= _('Name')
= form.text_field :name

%label{"for"=>"cost"}
  %h3= _('Price')
= form.text_field :cost, :maxlength => 11

%label{"for"=>"period_days"}
  %h3= _('Period (Days)')
= form.text_field :period_days, :size => 4, :maxlength => 4

%label{"for"=>"access_group_id"}
  %h3= _('Access Group')
- groups = AccessGroup.find(:all).sort {|x,y| x.long_name <=> y.long_name }
= form.collection_select :access_group_id, groups, :id, :long_name, {:include_blank => true}, {}




%label{"for"=>"subscription_plan"}
  %h3= _('Subscription')
= form.collection_select :subscription_plan_id, SubscriptionPlan.find(:all), :id, :description, {:prompt => "-Select-"}

%table
  %tr
    %td
      %label{"for"=>"enabled"}
        %h3= _('Enabled')
    %td &nbsp;
    %td
      %fieldset
        = form.check_box :enabled
  %tr
    %td
      %label{"for"=>"reusable"}
        %h3= _('Re-Usable')
    %td &nbsp;
    %td
      %fieldset
        = form.check_box :reusable
%label{"for"=>"content"}
  %h3= _('Description')
= form.text_area :content, :rows => 8, :cols=>80, :style=>"padding: 5px;"
%br/
%ul{:style=>"margin-left: 25px;"}
  %li
    %i
      %a{:href=>'http://hobix.com/textile/', :target=>'_new'}
        Help with textile markup
  %li
    To break out into raw html wrap with
    %b
      notextile.. &lt;div&gt;
    and
    %b
      &lt;/div&gt;
    and indent
%br/    
