
%br
%p
-#%div
%b
  User ID: 
  = @gamex_user.user.id
\&nbsp;-&nbsp;
= link_to @gamex_user.user.full_name, user_path(@gamex_user.user)
-#= f.text_field :user_id, :size=>6


- if @gamex_users.size > 0
  %br
  %br
  %p
    Currently exchanging games in: 
    = @gamex_users.collect() { |gu| link_to gu.league_name, edit_gamex_user_path(gu) }.join(', ')
      

-#%p
  %br
  -#%div
  %b League ID
  %br/
  = f.text_field :league_id, :size=>6


%br
%p
%div
%b League Name  
%br
= text_field_with_auto_complete :gamex_user, :league_name, :autocomplete => "off"
