.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        Edit GameX League
      = @gamex_league.league_name
  .listings
    .listingItem
    
      %table
        %tr
          %td{ :valign=>'top' }
    
            %h1 Editing GameX League
            
            = error_messages_for :gamex_league
      
            - form_for(@gamex_league, :url => gamex_league_url(@gamex_league), :html => {:multipart => true}) do |f|
              = render :partial => "form", :locals => { :f => f, :gamex_league => @gamex_league }
              %p= f.submit "Update"
          
            = link_to 'All GameX Leagues', gamex_leagues_path
      
                
                