
- @video_clips.each() do |clip|
  - panel_id = "clip-#{clip.id}"
  .video{ :id=>panel_id,:style=>'float: left' }
    %tag{ :oid=>clip.id, :ocls=>clip.class.to_s }
    %img{ :src=>"#{@vidavee.file_thumbnail_medium(clip.dockey)}" }
    %br
    = clip.title

    %script{ :type=>"text/javascript" }
      = "new Draggable('#{panel_id}', {revert: true, superghosting: true});"


