
- @video_clips.each() do |clip|
  -# panel_id = "clip-#{clip.id}"
  = render :partial=>'clip', :locals=>{ :video=>clip, :options=>{ :draggable=>true, :style=>'float: left', :panel_id_prefix=>'library', :with_hover=>true } }

  -#.video{ :id=>panel_id,:style=>'float: left' }
    %span{ :class=>'tag', :oid=>clip.id, :ocls=>clip.class.to_s }
    %img{ :src=>"#{@vidavee.file_thumbnail_medium(clip.dockey)}" }
    %br
    = clip.title

    %script{ :type=>"text/javascript" }
      = "new Draggable('#{panel_id}', {revert: true, superghosting: true});"


