- options ||= {}

- detail_url = "#{APP_URL}/reports/detail.xml?id=#{@report.id}"
- if @detail
  - detail_url += "&video_type=#{@detail.video_type}&video_id=#{@detail.video_id}" 
- if @small_player
  - detail_url += "&small_player=1"
  


#flashAreaIFrame
  - flashvars = {}
  - flashvars[:playerVars]= detail_url
  - params = {}
  - params[:allowScriptAccess]='always'
  - params[:allowFullScreen]="true"
  - if options[:small_player] || @small_player
    - frame_width = 334
    - frame_height = 272
  - else
    - frame_width = 500 #400
    - frame_height = 414 #331
  = render :partial => 'shared/video_player', :locals => {:target => 'flashAreaIFrame', :player_name => '/players/reportplayer.swf', :fvars => flashvars, :width=>"#{frame_width}px", :height=>"#{frame_height}px", :params=>params }

