
='<object id="movie1257802180293" height="350" width="400.0" align="middle" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">'
='<param name="allowScriptAccess" value="always"/>'
='<param name="movie" value="http://tribeca.vidavee.com/hsstv/vidavee/playerv3/vFlasher_debug.swf/d=823DFBA3410A420C24C44C2017F8074D&p19=movie1257802180293&showEndCard=off&width=400.0&fullScreenDisabled=no&height=300.0&dockey='+@detail.video.dockey+'&p2=off&p7=on&p3=on&p8=on&p16=v3Skin.swf&p18=watermark%3Dno%3BshareWidgets%3Doff%3BvtagDisplay%3Doff%3B&"/>'
='<param name="quality" value="high"/>'
='<param value="true" name="allowFullScreen"/>'
='<embed height="350" width="400.0" allowfullscreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" name="movie1257802180293" src="http://tribeca.vidavee.com/hsstv/vidavee/playerv3/vFlasher_debug.swf/d=823DFBA3410A420C24C44C2017F8074D&p19=movie1257802180293&showEndCard=off&width=400.0&fullScreenDisabled=no&height=300.0&dockey=823DFBA3410A420C24C44C2017F8074D&p2=off&p7=on&p3=on&p8=on&p16=v3Skin.swf&p18=watermark%3Dno%3BshareWidgets%3Doff%3BvtagDisplay%3Doff%3B&" allowscriptaccess="always"/>'
='</object>'



-#%script{ :type=>"text/javascript", :src=>"http://tribeca.vidavee.com/hsstv/trh/embedAsset.js?fullScreenDisabled=no&vtagView=off&showEndCard=off&loadStream=on&autoplay=on&width=400.0&height=300.0&shareWidgets=off&watermark=no&skin=v3Skin.swf&dockey=#{@detail.video.dockey}" }

-# if @vidavee && session[:vidavee] && @detail.video.dockey && current_user.has_access?(@detail.video)

  #flashme
  = render(:partial => 'shared/video_player', :locals => { :fvars => {:dockey => @detail.video.dockey, :allowFS => "true"}, :params => {:allowFullScreen=>"true"}, :target => 'flashme', :height => 420, :width => 400 })

%b= @report.name
%br
= @report.description

%br
%br

%b= @detail.video.title rescue '-'
%br
= @detail.video.description rescue '-'

%script{ :type=>"text/javascript" }
  console.log("arf")