
%br

- detail_url = "#{APP_URL}/reports/detail.xml?id=#{@report.id}"
- detail_url += "&video_type=#{@detail.video_type}&video_id=#{@detail.video_id}" if @detail


#flashAreaIFrame
  - flashvars = {}
  - flashvars[:playerVars]= detail_url
  - params = {}
  - params[:allowScriptAccess]='always'
  - frame_height = 330
  - frame_width = 400
  = render :partial => 'shared/video_player', :locals => {:allowFullScreen=>"true", :target => 'flashAreaIFrame', :player_name => '/players/embeddedplayer.swf', :fvars => flashvars, :width=>"#{frame_width}px", :height=>"#{frame_height}px", :params=>params }

%br
%br


%b= @report.name
%br
= @report.description

-#.meow
  %br
  %br
  -key = @report.dockey
  = key
  \: 
  =Vidavee.first.get_clip_dockeys_for_reel(key).join(', ')

%br
%br

- if @detail
  %b= @detail.video.title rescue '-'

  %br
  = @detail.video.description rescue '-'


  
