- scope_select=Permission.scope_selector_string(@scope)
.new-report-popup
  - close = true if close.nil?
  - if close
    .closer
      %a{ :onclick=>"Element.update('dialog', '');" }
        close[x]
        -#

  %h2.columnDescriptor
    Publish Report
  %br

  - form_for(Message.new) do |f|  #, :url=>{ :controller=>'reports', :action=>'publish'}

    = hidden_field :report, :id, :value=>@report.id
    = f.hidden_field :title, :value=>@report.name

    - access_groups = AccessGroup.for_team(current_user.team)
    - if access_groups.size > 0
      %p
        - @access_item = AccessItem.new
        %label{:for=>"access_item[id]"}
          To Group&nbsp;
          = collection_select :access_item, :access_group_id, access_groups, :id, :name

    %br
    %p
    %label
      Message
    %p
      - message = "Please visit the report #{@report.name}.\n\n  #{report_url(@report)}\n\n#{current_user.full_name}"
      = f.text_area(:body, :rows => 10, :style => 'width:80%;', :value=>message)

    %br
    %p{ :style=>'float:right' }
      = submit_tag "Publish"

    .clearDiv
    