- @skip_profile_nav = true

= javascript_include_tag '/TafelTree/Tree.js'
= javascript_include_tag '/TafelTree/gsTree.js'
= stylesheet_link_tag '/TafelTree/tree.css'


%script{ :type=>"text/javascript" }
  var tree_struct =
  = @tree_detail.to_json


.profileContentArea
  .profilePageHeader
    %h2.columnDescriptor
      %span
        Create Report
      = @report.name

  .padded

    = error_messages_for :report

    .report-builder

      - form_for(@report, :url => report_url(@report), :html => {:multipart => true}) do |f|
        -#= render :partial => "form", :locals => { :f => f }


        .report-video-browser
          Video Library
          %p
          #tree-view

          %p
          Videos in this Library
          -#%label
            = check_box_tag 'show_clips', 'yes', true
            Show Clips
          -#%label
            = check_box_tag 'show_reels', 'yes', true
            Show Reels

          %p
          #clip-window


        .report-layout
          %b= @report.name
          = @report.type_name

          #clip-strip-holder

            #clip-strip-decoy

              -(1..5).each() do |i|
                -dropper_id = "clip-dropper-#{i}"
                %div{ :id=>dropper_id, :class=>'clip-dropper' }
                  %table{ :width=>'100%', :height=>'100%' }
                    %tr
                      %td{ :align=>'center', :valign=>'center' }= i
                %br
                %br

            #clip-strip
              - @details.each() do |detail|
                .placed-clip{ :onclick=>"javascript:gs_reports_clip_select(#{@report.id}, #{detail.video_id}, '#{detail.video_type}')" }
                  %tag{ :oid=>detail.video_id, :ocls=>detail.video_type }
                  %img{ :src=>"#{@vidavee.file_thumbnail_medium(detail.video.dockey)}" }
                  %br
                  = detail.video.title

          %script{ :type=>"text/javascript" }
            Sortable.create('clip-strip', { tag: 'div'});
            ="Droppables.add('clip-strip', { accept: 'video', hoverclass: 'clip-strip-hover', onDrop: function(dragName,dropName) {gs_reports_drop_clip(#{@report.id},dragName,dropName)}})"

          #report-player
            - if @detail
              = render :partial=>'player'

        .clearDiv

        .report-buttons{ :style=>'float: right' }
          = link_to_remote 'Save', {:url => {:controller=>:reports, :action=>:update_report}}, {:class => 'genericButton'}

        .clearDiv

        -# alternative: http://soletme.free.fr/dragdrop/index.html


        -#%p= f.submit "Update"

        -#= link_to 'All Reports', reports_path(:scope_select=>Permission.scope_selector_string(@scope))
