- excluded_sidebar_pages = [ {:controller => 'pages', :action => 'show'}, {:controller => 'teams', :action => 'show'}, {:controller => 'users', :action => 'dashboard'}, {:controller => 'video_reels', :action => 'new'} ]

!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en"}
  %head
    /
      [if IE 6]>
      <style type="text/css">
      \.contentBoxHeader { background-image: none; }
      </style>
      <![endif]
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}/
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}/
  
    %title= page_title
     
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
  
    = render :partial => "shared/scripts_and_styles"
    
    -# if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
    
  %body
    %div{:class => logged_in? ? "backgroundContainer bg_#{(rand(27)+1)}" : 'backgroundContainerHome'}
      .outerContainer
        - if logged_in?
          = render :partial => "shared/block_util"
          = render :partial => "shared/block_header"
          = render :partial => "shared/block_topNav"
          = render :partial => "shared/block_videoFindChat"
        -else
          = render :partial => "shared/block_guest_header"
        
        = render :partial => "shared/messages"
        
        %div{:class => (logged_in? ? 'mainContentArea' : 'landingContentArea')}
          - if excluded_sidebar_pages.select { |page| current_page?(page) }.empty?
            =render :partial => "users/profile_nav"

          = @content_for_layout
          .clearDiv/
        
      -if logged_in?
        = render :partial => "shared/block_weeklyFeature"
      -else
        - if (current_page?(:controller => 'base', :action => 'site_index') || current_page?(:controller => 'shared_access', :action => 'show'))
          = render :partial => "shared/block_guest_features"

      .clearDiv/
      = render :partial => "shared/block_footer"
      = render :partial => "shared/block_legal"      
