!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en"}
  %head
    /
      [if lt IE 7]>
      <style type="text/css">
      \.contentBoxHeader { background-image: none; }
      </style>
      <![endif]
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}/
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}/
  
    %title= page_title
     
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
  
    = render :partial => "shared/scripts_and_styles"
    
    -# if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
    
  %body
    %div{:class => logged_in? ? "backgroundContainer bg_#{(rand(27)+1)}" : 'backgroundContainerHome'}
      = @content_for_layout