- @section = (params[:metro_area_id] ? 'metro_area' : 'users')

.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        BILLING
      = "History for #{@member_name}"
  .leftNavCol
    = link_to "Billing Home", :controller => :billing
    %br/

    %h2.yellowHeader
      = _('My Profile')
    .leftNav
      =render :partial => "users/profile_nav"
  .listings
    .box

      %table{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => '100%'}
        %thead
          %tr.yellowHeader
            %td.padded.contentBoxHeader.la
              Authorization Reference Number 
            %td.padded.contentBoxHeader.la
              Date
        %tbody
          = render :partial => "membership/billing_history", :collection => @billings
  
      
      %br.clear
