- @section = (params[:metro_area_id] ? 'metro_area' : 'users')


#yui-main
  .yui-b
    .box.user_list
      %h3= link_to_unless_current "Billing Home", :controller => :billing
      %h3= "#{AppConfig.community_name} Billing History for #{@member_name}"

  
      %br.clear
      %table.unstyled
        %thead
          %tr
            %th Authorization Reference Number 
            %th Date
        %tbody
          = render :partial => "membership/billing_history", :collection => @billings

      
      %br.clear
